@import '../../../../../scss/bia/bia-variables';

:host {
  display: contents;
}

i {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.offline {
  color: $biaRed;
  position: relative;

  .pi-times {
    position: absolute;
    top: -2px;
    left: -8px;
  }
}

.online {
  color: $biaGreen;
}
