<bia-form
  [element]="crudItem"
  [isAdd]="isAdd"
  [fields]="fields"
  [formLayoutConfig]="formLayoutConfig"
  [formValidators]="formValidators"
  [formReadOnlyMode]="formReadOnlyMode"
  [dictOptionDtos]="dictOptionDtos"
  [isCrudItemOutdated]="isCrudItemOutdated"
  [showSubmitButton]="showSubmitButton"
  [showFixableState]="showFixableState"
  [canFix]="canFix"
  [showPopupButton]="showPopupButton"
  [showSplitButton]="showSplitButton"
  [showFullPageButton]="showFullPageButton"
  (save)="onSave($event)"
  (cancelled)="onCancel()"
  (readOnlyChanged)="onReadOnlyChanged($event)"
  (fixableStateChanged)="onFixableStateChanged($event)"
  (layoutChanged)="layoutChanged.emit($event)">
  <ng-template pTemplate="specificOutput" let-field="field" let-data="data">
    <ng-container [ngSwitch]="field.field">
      <ng-container *ngSwitchCase="'teams'">
        <bia-user-teams [teams]="data"></bia-user-teams>
      </ng-container>
    </ng-container>
  </ng-template>
</bia-form>
