.historic-entry-icon-container {
  color: var(--primary-color-text);
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  display: flex;

  &-add {
    @extend .historic-entry-icon-container;
    background-color: var(--p-green-600);
  }

  &-edit {
    @extend .historic-entry-icon-container;
    background-color: var(--p-primary-300);
  }

  &-delete {
    @extend .historic-entry-icon-container;
    background-color: var(--p-red-600);
  }

  i {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.historic-entry-link {
  font-size: 0.9rem;
}

.historic-entry-modification {
  margin: 0.1rem;
  padding: 0.2rem;
  font-size: 0.9rem;
  &-old {
    @extend .historic-entry-modification;
    background-color: var(--p-red-400);
    text-decoration: line-through;
  }

  &-new {
    @extend .historic-entry-modification;
    background-color: var(--p-primary-200);
  }

  &-link-icon {
    @extend .historic-entry-modification;
  }
}

.historic-entry-title {
  font-weight: bold;
  font-size: 0.9rem;
}
