<div class="controls flex flex-row align-items-center">
  <label *ngIf="displayTeamList === true && teamType.label"
    >{{ teamType.label | translate }} :
  </label>
  <p-dropdown
    *ngIf="displayTeamList === true"
    [options]="teams"
    [(ngModel)]="currentTeam"
    optionLabel="title"
    dataKey="id"
    (onChange)="onTeamChange()"
    scrollHeight="50vh"
    [appendTo]="'body'"></p-dropdown>
  <i
    *ngIf="displayTeamList === true && currentTeam?.id !== defaultTeamId"
    class="pi pi-star app-icon-header bia-pointer"
    (click)="onSetDefaultTeam()"
    pTooltip="{{ 'bia.defineDefault' | translate }}"
    tooltipPosition="bottom"
    placeholder="Top"></i>
  <i
    *ngIf="displayTeamList === true && currentTeam?.id === defaultTeamId"
    class="pi pi-star-fill app-icon-header"></i>
  <!-- Role selection -->
  <p-dropdown
    *ngIf="displayRoleList"
    [options]="roles"
    [(ngModel)]="currentRole"
    optionLabel="display"
    dataKey="id"
    (onChange)="onRolesChange()"
    placeholder="Select a role"
    scrollHeight="50vh"
    [appendTo]="'body'">
  </p-dropdown>
  <p-multiSelect
    *ngIf="displayRoleMultiSelect"
    [options]="roles"
    [(ngModel)]="currentRoles"
    optionLabel="display"
    datakey="id"
    (onChange)="onRolesChange()"
    placeholder="Select a role"
    scrollHeight="50vh"
    [appendTo]="'body'">
  </p-multiSelect>
  <i
    *ngIf="
      (displayRoleList === true || displayRoleMultiSelect === true) &&
      !isDefaultRoles()
    "
    class="pi pi-star app-icon-header bia-pointer"
    (click)="onSetDefaultRoles()"
    pTooltip="{{ 'bia.defineDefault' | translate }}"
    tooltipPosition="bottom"
    placeholder="Top"></i>
  <i
    *ngIf="
      (displayRoleList === true || displayRoleMultiSelect === true) &&
      isDefaultRoles()
    "
    class="pi pi-star-fill app-icon-header"></i>
</div>
