@use 'bia-variables';

:host {
  display: contents;
}

i {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.25rem;
}

.offline {
  color: bia-variables.$biaRed;
  position: relative;

  .pi-minus {
    position: absolute;
    font-size: 1.4rem;
    top: -2px;
    left: -8px;
  }
}

.online {
  color: bia-variables.$biaGreen;
}

.rotate-icon {
  transform: rotate(-45deg);
}
