.bia-flex {
  display: flex;
  flex: 1;
}

bia-ultima-layout .bia-flex {
  display: block;
  flex: unset;
}

bia-ultima-layout bia-page-layout.bia-flex {
  padding: 1rem;
}

.bia-page-margin {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 10px;
  width: calc(95vw);
  left: calc(2.5vw);
}

bia-ultima-layout .bia-page-margin {
  padding: 0.75rem 2.5rem;
  min-width: 0.75rem;
  width: 100%;

  bia-table-controller {
    left: -2.5rem;
    width: calc(100% + 5rem);
  }
}

.bia-split-page-layout {
  display: flex;
}

.bia-classic-page-margin:not(:has(.bia-split-page-layout)) {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bia-classic-page-margin {
  min-width: 10px;
  width: calc(95vw);
  left: calc(2.5vw);
}

bia-ultima-layout .bia-classic-page-margin:not(:has(.bia-split-page-layout)) {
  padding: 0.75rem 2.5rem;
}

bia-ultima-layout .bia-classic-page-margin {
  min-width: 0.75rem;
  width: 100%;

  bia-table-controller {
    left: -2.5rem;
    width: calc(100% + 5rem);
  }
}

.bia-page-remove-margin .bia-page-margin {
  width: unset;
  left: unset;
}

.bia-page-remove-margin {
  margin-left: -35px;
  margin-right: -35px;
  margin-top: -10px;
  margin-bottom: -10px;
  width: calc(95vw);
  left: calc(2.5vw);
}

bia-ultima-layout .bia-page-remove-margin {
  margin: -0.75rem -2.5rem;
  width: calc(100% + 5rem);
}

.bia-advanced-filter {
  padding-bottom: 15px;
  > button {
    position: absolute;
  }
  .pi pi-clear {
    margin-left: 12px;
    margin-right: 9px;
  }
  .header {
    position: relative;
    top: 30px;
    margin-bottom: 1rem;
    margin-left: 20px;
    h1 {
      font-size: 1.75rem;
      font-weight: 200;
      margin: 0px;
    }
  }
  .app-filter-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.bia-relative {
  position: relative;
}

.bia-absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

i.bia-pointer:before {
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .bia-responsive-flex-row {
    flex-wrap: wrap;
  }
}

.bia-behavior-icon-overlay {
  transform: translateX(-0.75rem) !important;
}

.bia-form-badge {
  padding: 0;
}
