<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxFlex="25" fxLayoutAlign="baseline" fxLayoutGap="20px" class="result-contenair">
    <span class="result">
      <strong>{{
        length | i18nPlural: resultMessageMapping:translateService.currentLang | translate: { length: length }
      }}</strong>
    </span>
    <div>
      <span>{{ 'bia.itemsPerPage' | translate }} : </span>
      <p-dropdown
        [options]="pageSizes"
        [(ngModel)]="pageSize"
        (onChange)="onPageSizeChange()"
        [style]="{ 'min-width': 'initial' }"
      ></p-dropdown>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxFlex="75" fxLayoutAlign="flex-end end">
    <div *ngIf="tableStateKey">
      <span>{{ 'bia.views.view' | translate }} : </span>
      <bia-view-list [tableStateKey]="tableStateKey" [useViewTeamWithTypeId]="useViewTeamWithTypeId" (viewChange)="onViewChange($event)"></bia-view-list>
    </div>
    <div>
      <span>{{ 'bia.display' | translate }} </span>
      <p-multiSelect
        defaultLabel="{{ 'bia.select' | translate }}"
        [options]="listedColumns"
        [(ngModel)]="displayedColumns"
        (onChange)="onChangeSelectColumn()"
        autoWidth="false"
        [style]="{ width: '300px' }"
      ></p-multiSelect>
    </div>
    <span class="p-float-label">
      <input pInputText type="text" [formControl]="filterCtrl" [value]="globalFilter" />
      <label for="name">{{ 'bia.search' | translate }}</label>
      <i class="pi pi-search bia-pointer"></i>
    </span>
    <i class="pi pi-filter bia-pointer" (click)="onToggleSearch()"></i>
  </div>
</div>
