:host {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 17px;
  margin-bottom: 0px;
  margin-left: -35px;
  margin-right: -35px;
}

:host ::ng-deep {
  p-dropdown {
    .p-dropdown-label {
      padding: 0.125rem !important;
    }
  }

  p-multiselect {
    .p-multiselect-label {
      padding: 0.125rem !important;
    }
  }
}

.bia-table-controller-container {
  padding-top: 10px;
  padding-right: 20px;
  white-space: nowrap
}
.bia-table-controller-container.bia-table-controller-container-last {
  padding-right: 0px;
}


.bia-table-controller-container .p-float-label{
  margin-top: -10px;
}

.options {
  padding-top: 20px;
}

strong {
  font-family: 'oswald-bold';
}

input,
span,
label {
  font-family: 'oswald-light';
}

.result {
  margin-top: 2px;
}

.pi-filter {
  margin-bottom: 10px;
}

.p-dropdown-label {
  padding: 0.125rem !important;
}

.p-multiselect .p-multiselect-label {
  padding: 0.125rem !important;
}

#bia-input-search {
  width: 15vw;
}