:host {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 17px;
  margin-bottom: 0px;
  margin-left: -35px;
  margin-right: -35px;
}

:host ::ng-deep {
  p-dropdown {
    .p-dropdown-label {
      padding: 0.125rem !important;
    }
  }
  p-multiselect {
    .p-multiselect-label {
      padding: 0.125rem !important;
    }
  }
}

.result-contenair {
  padding-top: 15px;
}
.options {
  padding-top: 20px;
}

strong {
  font-family: 'oswald-bold';
}

input,
span,
label {
  font-family: 'oswald-light';
}
.result {
  margin-top: 1px;
}
.pi-filter {
  margin-bottom: 10px;
}
.p-dropdown-label {
  padding: 0.125rem !important;
}
.p-multiselect .p-multiselect-label {
  padding: 0.125rem !important;
}
