@use '../packages/bia-ng/scss/bia-typography';
@use '../packages/bia-ng/scss/bia-global-utils';
@use '../packages/bia-ng/scss/bia-variables';
@use '../packages/bia-ng/scss/bia-custom-theme';
@use './scss/app-custom-theme';

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: initial;
  min-height: 100vh;
  line-height: 1.5em !important;
  letter-spacing: 0.25px;
}
