<div fxLayout fxLayout.xs="column" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <bia-table-header
      [headerTitle]="'user.listOf' | translate"
      [canAdd]="canAdd&&!useCalcMode"
      [canDelete]="canDelete"
      [canExportCSV]="true"
      (create)="onCreate()"
      (exportCSV)="onExportCSV()"
      (delete)="onDelete()"
      [selectedElements]="selectedUsers"
    >
    <ng-template pTemplate="actionOnList">
      <button
      pButton
      *ngIf="canSync"
      class="p-button-outlined"
      label="{{ 'bia.synchronize' | translate }}"
      (click)="onSynchronize()"></button>
    </ng-template>
    </bia-table-header>
    <bia-table-controller
      [defaultPageSize]="defaultPageSize"
      [length]="totalCount$ | async"
      [columns]="columns"
      [columnToDisplays]="displayedColumns"
      (displayedColumnsChange)="displayedColumnsChanged($event)"
      (filter)="searchGlobalChanged($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      (toggleSearch)="onToggleSearch()"
      (viewChange)="onViewChange($event)"
      [tableStateKey]="tableStateKey"
      [useViewTeamWithTypeId]="useViewTeamWithTypeId"
    ></bia-table-controller>
    <bia-table *ngIf="!useCalcMode"
      [elements]="users$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="tableConfiguration"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canClickRow]="canEdit"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (clickRow)="onEdit($event)"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
    ></bia-table>
    <bia-user-table *ngIf="useCalcMode"
      [elements]="users$ | async"
      [dictOptionDtos]="userOptionsService.dictOptionDtos$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="tableConfiguration"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canEdit]="canEdit"
      [canAdd]="canAdd"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      (save)="onSave($event)"
    ></bia-user-table>
  </div>
</div>
<bia-user-add-from-directory-dialog [(display)]="displayUserAddFromDirectoryDialog"></bia-user-add-from-directory-dialog>