<ng-template #template>
  <div
    [hidden]="hidden"
    class="bia-advanced-filter flex-grow-1"
    style="min-width: 300px">
    <button
      type="button"
      icon="pi pi-times"
      class="p-button-rounded p-button-text flat"
      pButton
      (click)="onClose()"
      pTooltip="{{ 'bia.hideAdvancedFilters' | translate }}"></button>
    <form (submit)="onFilter()" class="flex flex-column" [formGroup]="form">
      <div
        class="header flex flex-row align-items-center align-content-center align-self-stretch">
        <h1>{{ 'bia.filters' | translate }}</h1>
      </div>
      <div class="flex flex-row justify-content-center">
        <div class="app-filter-container flex-1" style="max-width: 90%">
          <p-floatlabel variant="on">
            <p-select
              [options]="(userOptions$ | async) ?? []"
              placeholder="&nbsp;"
              formControlName="userSelected"
              optionValue="id"
              optionLabel="display"
              datakey="id"
              [style]="{ width: '100%' }"
              [showClear]="true"
              appendTo="body"
              filter="true"></p-select>
            <label>{{ 'bia.filterMember' | translate }}</label>
          </p-floatlabel>
        </div>
      </div>

      <div class="flex flex-row justify-content-around align-content-around">
        <button
          pButton
          label="{{ 'bia.reset' | translate }}"
          class="flex-1 p-button-outlined"
          style="max-width: 33%"
          (click)="onReset()"></button>
        <button
          type="submit"
          pButton
          label="{{ 'bia.filter' | translate }}"
          class="flex-1"
          style="max-width: 33%"></button>
      </div>
    </form>
  </div>
</ng-template>
