p-breadcrumb {
    .p-breadcrumb-chevron {
      font-size: 9px;
    }
    .p-menuitem-text {
      font-size: 0.9em!important;
      font-weight: 100!important;
      line-height: 24px!important;
    }
}