.p-button {
    &:disabled {
        background-color: $primaryColor!important;
        color: $primaryTextColor!important;
        opacity: $disabledOpacity!important;
    }
    line-height: 2.143em!important;
}


.bia-table-controller-container {
  padding-top: 10px;
  white-space: nowrap;
  .pi.disabled {opacity: $disabledOpacity!important;}
  .pi.enable {color:$primaryColor!important}
}