.p-button {
    &:disabled {
        background-color: $primaryColor!important;
        color: $primaryTextColor!important;
        opacity: $disabledOpacity!important;
    }
    line-height: 2.143em!important;
}
