body .p-table .p-table-tbody > tr {
  background: $biaBgHoverColor;
}
body .p-table .p-table-tbody > tr:nth-child(even) {
  background-color: $biaBgColor;
}

p-datatable {
  .p-datatable-tbody {
    > tr {
      .p-highlight {
        background-color: $biaBgRowSelected !important;
        border-color: $biaBorderRowSelected !important;
        color: $biaFgTextColor !important;
      }
    }
  }
  &.p-datatable-striped {
    .p-datatable-tbody {
        > tr:nth-child(even) {
            background: $tableBodyRowEvenBg;

            &.p-highlight {
                background: $highlightBg;
                color: $highlightTextColor;
                border-color: $biaBorderRowSelected !important;
            }
        }
      }
    }
}
p-celleditor {
  .p-inputtext {
    padding:0;
  }
  .p-multiselect-label {
    padding:0!important;
  }
  
}
p-table {
  .p-widget-overlay {
    background-color: $biaBgColor !important;
  }
  table {
    thead {
      tr:first-child th {
        border-top-width: 0px !important;
        font-weight: 800 !important;
      }
    }

    tr,
    th,
    td {
      border-left-width: 0px !important;
      border-right-width: 0px !important;
    }

  }
}

p-paginator .p-paginator {
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-top-width: 0px !important;
  border-bottom-width: 0px !important;
  background-color: $biaBgColor !important;

  .p-paginator-prev:before,
  .p-paginator-next:before,
  .p-paginator-last:before,
  .p-paginator-first:before,
  .p-paginator-element {
    color: $biaFgTextColor !important;
  }

  .p-paginator-pages {
    a {
      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
    }
    a.p-state-active {
      background-color: $primaryColor !important;
      // color: $biaBgColor !important;
      color: $accentTextColor !important;
    }
  }
}

body .p-dataview .p-dataview-header {
  background-color: $contentBgColor;
}
