.p-input-filled {
    .p-float-label {
   
        input:focus ~ label,
        input.p-filled ~ label,
        textarea:focus ~ label,
        textarea.p-filled ~ label,
        .p-inputwrapper-focus ~ label,
        .p-inputwrapper-filled ~ label {
            color: $primaryColor;
        }
        ~ label {
            margin-top: 0!important;
        }
    }
}