.p-megamenu {
    .p-megamenu-panel {
        z-index:10;
        color: #000;
    }
    .p-menuitem-text {
        line-height: 1.5em!important;
    }
}

.topbar .p-megamenu .p-menuitem-link .p-menuitem-text {
    color: #fff;
}

.p-megamenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: rgba(255, 255, 255, 0.87);
}

.topbar .p-megamenu .p-megamenu-submenu .p-menuitem-link .p-menuitem-text {
    color: #000;
}

.p-megamenu .p-megamenu-submenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: rgba(0, 0, 0, 0.87);
}