<ng-container *ngIf="form"
  ><ng-container
    *ngTemplateOutlet="
      itemsTemplate;
      context: { items: formLayoutConfig.items, formGroup: form }
    "></ng-container
></ng-container>

<ng-template #itemsTemplate let-items="items" let-formGroup="formGroup">
  <ng-container *ngFor="let item of items">
    <ng-container [ngSwitch]="item.type">
      <ng-container *ngSwitchCase="'tab'">
        <ng-container
          *ngTemplateOutlet="
            tabGroupTemplate;
            context: { tabGroup: item, formGroup: formGroup }
          "></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'group'">
        <ng-container
          *ngTemplateOutlet="
            groupTemplate;
            context: { group: item, formGroup: formGroup }
          "></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'row'">
        <ng-container
          *ngTemplateOutlet="
            rowTemplate;
            context: { row: item, formGroup: formGroup }
          "></ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template
  #tabGroupTemplate
  let-tabGroup="tabGroup"
  let-formGroup="formGroup">
  <p-panel class="bia-form-group" [showHeader]="false">
    <p-tabs styleClass="tabview-custom" [value]="0">
      <p-tablist>
        @for (tab of tabGroup.tabs; track $index) {
          <p-tab [value]="$index">
            <div class="flex align-items-center gap-2">
              <span class="font-bold white-space-nowrap m-0">
                {{ tab.name | translate }}
              </span>
              <p-badge
                *ngIf="!readOnly && !formGroup.controls[tab.id].valid"
                styleClass="bia-form-badge"
                severity="danger" />
            </div>
          </p-tab>
        }
      </p-tablist>
      @for (tab of tabGroup.tabs; track $index) {
        <p-tabpanel [value]="$index">
          <ng-container
            *ngTemplateOutlet="
              itemsTemplate;
              context: {
                items: tab.items,
                formGroup: formGroup.controls[tab.id],
              }
            "></ng-container>
        </p-tabpanel>
      }</p-tabs
  ></p-panel>
</ng-template>

<ng-template #groupTemplate let-group="group" let-formGroup="formGroup">
  <p-panel class="bia-form-group" header="{{ group.name | translate }}">
    <ng-container
      *ngTemplateOutlet="
        rowsTemplate;
        context: { rows: group.rows, formGroup: formGroup }
      "></ng-container>
  </p-panel>
</ng-template>

<ng-template #rowsTemplate let-rows="rows" let-formGroup="formGroup">
  <ng-container *ngFor="let row of rows">
    <ng-container
      *ngTemplateOutlet="
        rowTemplate;
        context: { row: row, formGroup: formGroup }
      "></ng-container>
  </ng-container>
</ng-template>

<ng-template #rowTemplate let-row="row" let-formGroup="formGroup">
  <div class="grid bia-form-row">
    <div
      *ngFor="let column of row.columns"
      [class]="column.columnClass ?? row.computedColumnClass">
      <ng-container [ngSwitch]="column.type">
        <ng-container *ngSwitchCase="'tab'">
          <ng-container
            *ngTemplateOutlet="
              tabGroupTemplate;
              context: { tabGroup: column, formGroup: formGroup }
            "></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'group'">
          <ng-container
            *ngTemplateOutlet="
              groupTemplate;
              context: { group: column, formGroup: formGroup }
            "></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'field'">
          <ng-container
            *ngTemplateOutlet="
              fieldTemplate;
              context: { field: column.fieldConfig, formGroup: formGroup }
            "></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #fieldTemplate let-field="field" let-formGroup="formGroup">
  <div
    *ngIf="field.isVisible === true"
    class="flex flex-row align-items-center"
    #refFormField>
    <div class="app-field-container">
      <ng-template
        [ngIf]="
          (formGroup && field.isEditable === true) ||
          (field.isOnlyInitializable && isAdd) ||
          (field.isOnlyUpdatable && !isAdd)
        "
        [ngIfElse]="isNotEditable">
        <bia-input
          [field]="field"
          [form]="formGroup"
          [dictOptionDtos]="dictOptionDtos"
          [readOnly]="readOnly">
          <ng-template pTemplate="specificInput">
            <ng-container
              *ngTemplateOutlet="
                specificInputTemplate;
                context: { field: field, form: formGroup }
              "></ng-container>
          </ng-template>
        </bia-input>
      </ng-template>
      <ng-template #isNotEditable>
        <bia-output [field]="field" [data]="getCellData(field)">
          <ng-template pTemplate="specificOutput">
            <ng-container
              *ngTemplateOutlet="
                specificOutputTemplate;
                context: { field: field, data: getCellData(field) }
              "></ng-container>
          </ng-template>
        </bia-output>
      </ng-template>
    </div>
  </div>
</ng-template>
