$primaryColor: #4ec1e0;
$primaryDarkColor: #2e7386;
$primaryLightColor: #94d9ec;
$accentColor: #072948;
$accentDarkColor: #020f21;
$accentLightColor: #e1e5e9;
$accentTextColor: #ffffff;

$biaBgColor: #0f1c28;
$biaBgHoverColor: rgba(255, 255, 255, 0.04);
$biaFgTextColor: #fff;
$biaBorderColor: black; //#111B1F;
$biaTitleColor: #999999;
$biaBgRowSelected: #152c39;
$biaBorderRowSelected: #265769;
$biaTabColor: #1B998B;

@import '../sass/theme/theme';
