<ng-container *ngIf="notification$ | async as notification">
  <div
    class="flex flex-column flex-wrap justify-content-evenly"
    *ngIf="notification && notification.id">
    <div>
      <b>{{ 'notification.title' | translate }}</b
      ><br />{{ notification.titleTranslated | translate }}
    </div>
    <div>
      <b>{{ 'notification.description' | translate }}</b
      ><br />{{ notification.descriptionTranslated | translate }}
    </div>
    <div>
      <b>{{ 'notification.createdDate' | translate }}</b
      ><br />{{ notification.createdDate | date: 'short' }}
    </div>
    <div>
      <b>{{ 'notification.type.title' | translate }}</b
      ><br />{{ notification.type.display }}
    </div>
  </div>
  <div
    class="flex flex-row justify-content-between align-items-center align-content-center">
    <button
      pButton
      label="{{ 'notification.setUnread' | translate }}"
      type="button"
      class="p-button-secondary"
      (click)="onSetUnread(notification.id)"
      *ngIf="notification.read"></button>
    <span></span>
    <div class="flex flex-row gap-1 justify-content-end">
      <bia-notification-team-warning
        [notification]="notification"></bia-notification-team-warning>
      <button
        pButton
        [label]="notification.data.display | translate"
        type="button"
        class="p-button-primary"
        (click)="onAction(notification)"
        *ngIf="canAction(notification)"></button>
      <button
        pButton
        label="{{ 'bia.edit' | translate }}"
        type="button"
        class="p-button-secondary"
        (click)="onEdit()"
        *ngIf="canEdit"></button>
      <button
        pButton
        label="{{ 'bia.cancel' | translate }}"
        type="button"
        class="p-button-secondary"
        (click)="onCancelled()"></button>
    </div>
  </div>
</ng-container>
<bia-spinner *ngIf="(loading$ | async) ?? false" [overlay]="true"></bia-spinner>
