<form [formGroup]="form" class="bia-calc-form">
  <p-table
    *ngIf="configuration"
    #dt
    [autoLayout]="true"
    [reorderableColumns]="true"
    [columns]="displayedColumns"
    [value]="elements"
    [paginator]="paginator"
    [rows]="pageSize"
    (onFilter)="onFilter()"
    [totalRecords]="totalRecord"
    [lazy]="true"
    [loading]="loading && (showLoading$ | async) !== null"
    (onLazyLoad)="onLoadLazy($event)"
    [stateStorage]="'session'"
    [stateKey]="tableStateKey"
    [lazyLoadOnInit]="getLazyLoadOnInit()"
    [sortField]="sortFieldValue"
    [sortOrder]="sortOrderValue"
    (onStateSave)="onStateSave($event)"
    (selectionChange)="onSelectionChange()"
    editMode="row"
    dataKey="id"
    styleClass="p-datatable-striped"
  >
  <!-- HEADER -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="bia-table-select-col" *ngIf="canSelectElement">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <ng-container *ngFor="let col of columns">
          <th *ngIf="col?.isSortable === true" [pSortableColumn]="col.field" pReorderableColumn>
            {{ col?.header | translate }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th *ngIf="col?.isSortable !== true" pReorderableColumn>
            {{ col?.header | translate }}
          </th>
        </ng-container>
      </tr>
      <tr *ngIf="showColSearch" class="searchTR">
        <th *ngIf="canSelectElement"></th>
        <th *ngFor="let col of columns" [ngSwitch]="col.field" pReorderableColumn>
          <span *ngIf="col.isSearchable === true" class="p-float-label">
            <input
              pInputText
              class="input-search"
              type="{{ col.type === 'Number' ? 'number' : 'text' }}"
              placeholder="{{
                col.searchPlaceholder !== undefined
                  ? col.searchPlaceholder
                  : col.isDate === true
                  ? ('bia.dateIso8601' | translate)
                  : ''
              }}"
              (input)="dt.filter($event.target.value, col.field, col.filterMode)"
              [value]="dt.filters[col.field]?.value"
              [ngClass]="{ 'p-state-filled': dt.filters[col.field]?.value !== '' }"
            />
          </span>
        </th>
      </tr>
    </ng-template>
    <!-- BODY -->
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
      <tr
        [pSelectableRow]="isFooter(rowData) !== true ? rowData : null"
        [pEditableRow]="rowData"
        (focusout)="onFocusout()"
        (keyup.enter)="initEditableRow(null)"
        (keyup.escape)="cancel()"
      >
        <!-- FIRST COLUMN WITH CHECKBOX -->
        <td *ngIf="canSelectElement">
          <p-tableCheckbox *ngIf="isFooter(rowData) !== true && rowData.id > 0" [value]="rowData"></p-tableCheckbox>
          <i *ngIf="isFooter(rowData) === true" class="pi pi-plus"></i>
        </td>
        <!-- OTHER COLUMNS -->
        <td (click)="initEditableRow(rowData)" *ngFor="let col of columns">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <ng-template [ngIf]="col.isEditable === true" [ngIfElse]="isNotEditable">
                  <bia-table-input
                  [field]="col"
                  [form]="form"
                  [dictOptionDtos]="dictOptionDtos"
                  (valueChange)="onChange()"
                  (complexInput)="onComplexInput($event)"
                >
                <ng-template pTemplate="specificInput">
                  <ng-container *ngTemplateOutlet="specificInputTemplate;context: { field: col, form: form }" ></ng-container>
                </ng-template>
                </bia-table-input>
              </ng-template>
              <ng-template #isNotEditable>
                <ng-container *ngIf="isFooter(rowData) !== true">
                  <bia-table-output
                  [field]="col"
                  [data]="getCellData(rowData, col)"
                  >
                    <ng-template pTemplate="specificOutput">
                      <ng-container *ngTemplateOutlet="specificOutputTemplate;context: { field: col, data: getCellData(rowData, col) }" ></ng-container>
                    </ng-template>
                  </bia-table-output>
                </ng-container>
              </ng-template>
            </ng-template>
            <!-- OUTPUT -->
            <ng-template pTemplate="output">
              <ng-template [ngIf]="isFooter(rowData) === true" [ngIfElse]="editRow">
                <label *ngIf="col.isEditable === true">-</label>
              </ng-template>
              <ng-template #editRow>
                <bia-table-output
                [field]="col"
                [data]="getCellData(rowData, col)"
                >
                  <ng-template pTemplate="specificOutput">
                    <ng-container *ngTemplateOutlet="specificOutputTemplate;context: { field: col, data: getCellData(rowData, col) }" ></ng-container>
                  </ng-template>
                </bia-table-output>
              </ng-template>
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
    <!-- EMPTY MESSAGE -->
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="app-empty-message" [attr.colspan]="columns.length + 1">
          {{ 'bia.NoRecordsFound' | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</form>
