<div fxFlex fxLayout="column" [style.display]="fullscreenMode ? 'none' : 'flex'">
  <div class="topbar" fxLayoutAlign="space-between">
    <div class="logos" fxLayoutAlign="center">
      <ng-template ngFor let-logo let-first="first" [ngForOf]="logos">
        <span *ngIf="!first" fxFlexAlign="center" class="separator"></span>
        <a href="{{ urlDMIndex }}">
          <img fxFlexAlign="center" src="{{ logo }}" />
        </a>
      </ng-template>
    </div>
    <bia-ie-warning *ngIf="isIE"></bia-ie-warning>
    <div class="controls" fxLayout="row">
      <p-dropdown
      *ngIf="displayRoleList"
      [options]="allRoles"
      [(ngModel)]="currentRole"
      optionLabel="labelEn"
      dataKey="id"
      (onChange)="onRoleChange()"
      placeholder="Select a role"
      >
      <ng-template let-item pTemplate="item">
        {{ item?.value | translateRoleLabel : translateService.currentLang }}
      </ng-template>
      <ng-template let-selectedItem pTemplate="selectedItem">
        {{ selectedItem?.value | translateRoleLabel : translateService.currentLang }}
      </ng-template>
    </p-dropdown>
      <i
      *ngIf="displayRoleList === true && currentRole?.isDefault === false"
        class="ui-icon-star-border app-icon-header bia-pointer"
        (click)="onSetDefaultRole()"
        pTooltip="{{ 'bia.defineDefault' | translate }}"
        tooltipPosition="bottom"
        placeholder="Top"
      ></i>
      <i *ngIf="displayRoleList === true && currentRole?.isDefault === true" class="ui-icon-star app-icon-header"></i>
      <p-dropdown
      *ngIf="displaySiteList === true"
      [options]="allSites"
      [(ngModel)]="currentSite"
      optionLabel="title"
      dataKey="id"
      (onChange)="onSiteChange()"
      ></p-dropdown>
      <i
        *ngIf="displaySiteList === true && currentSite?.isDefault === false"
        class="ui-icon-star-border app-icon-header bia-pointer"
        (click)="onSetDefaultSite()"
        pTooltip="{{ 'bia.defineDefault' | translate }}"
        tooltipPosition="bottom"
        placeholder="Top"
      ></i>
      <i *ngIf="displaySiteList === true && currentSite?.isDefault === true" class="ui-icon-star app-icon-header"></i>
      <p-megaMenu [model]="topBarMenuItems"></p-megaMenu>
      <i
        class="ui-icon-refresh app-icon-header bia-pointer"
        (click)="refresh()"
        pTooltip="{{ 'bia.refresh' | translate }}"
        tooltipPosition="bottom"
      ></i>
      <i
        class="ui-icon-fullscreen app-full-screen app-icon-header bia-pointer"
        (click)="toggleFullscreenMode()"
        pTooltip="{{ 'bia.fullscreen' | translate }}"
        tooltipPosition="left"
      ></i>
    </div>
  </div>
  <div
    *ngIf="(layoutService.mainBarHidden$ | async) === false"
    class="mainbar mat-elevation-z2 bia-relative"
    [ngClass]="cssClassEnv"
    fxLayout="row"
    fxLayoutAlign="stretch"
  >
    <a class="mainbar project-title" routerLink="/">
      <div fxLayout="row" fxLayoutAlign="stretch center">
        <img class="app-logo" src="{{ urlAppIcon }}" />
        <span
          >{{ appTitle }}<span class="project-version">&nbsp;v{{ version }}</span></span
        >
      </div>
    </a>
    <ng-template let-mainBarPortal [ngIf]="layoutService.mainBarPortal$ | async" [ngIfElse]="classicMainBar">
      <ng-template [cdkPortalOutlet]="mainBarPortal"></ng-template>
    </ng-template>
  </div>
</div>
<i
  *ngIf="fullscreenMode"
  class="ui-icon-fullscreen-exit fullscreen-exit bia-mat-tiny-fab bia-pointer"
  (click)="toggleFullscreenMode()"
></i>

<ng-template #classicMainBar>
  <nav fxFlex fxLayoutAlign="center">
    <p-menubar [model]="navMenuItems"></p-menubar>
  </nav>
  <div class="action" fxLayoutAlign="space-evenly center">
    <i *ngIf="reportUrl" class="ui-icon-insert-chart bia-mat-tiny-fab bia-pointer" pTooltip="{{ 'bia.report' | translate }}" (click)="openReport()"></i>
    <i *ngIf="helpUrl" class="ui-icon-help bia-mat-tiny-fab bia-pointer" pTooltip="{{ 'bia.help' | translate }}" (click)="openHelp()"></i>
  </div>
</ng-template>
<p-toast key="bia"></p-toast>