:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  // display: flex;
  height: 100%;
  // flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 0.1em;
}
