:host {
  ::ng-deep .p-timeline-event-opposite {
    flex: 1 !important;
    min-width: 12rem;
  }
  ::ng-deep .p-timeline-event-content {
    flex: 1 100% !important;
  }
}

.historical-entry-icon-container {
  color: var(--primary-color-text);
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  display: flex;

  &-add {
    @extend .historical-entry-icon-container;
    background-color: var(--p-green-600);
  }

  &-edit {
    @extend .historical-entry-icon-container;
    background-color: var(--p-primary-300);
  }

  &-delete {
    @extend .historical-entry-icon-container;
    background-color: var(--p-red-600);
  }

  i {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.historical-entry-link {
  font-size: 0.9rem;
}

.historical-entry-modification {
  margin: 0.1rem;
  padding: 0.2rem;
  font-size: 0.9rem;
  &-old {
    @extend .historical-entry-modification;
    background-color: var(--p-red-400);
  }

  &-new {
    @extend .historical-entry-modification;
    background-color: var(--p-primary-200);
  }

  &-link-icon {
    @extend .historical-entry-modification;
    padding: 0;
    margin-right: 0.2rem;
    font-weight: bold;
    font-size: 0.8rem;
  }
}

.historical-entry-title {
  font-weight: bold;
  font-size: 0.9rem;
}
