:host {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
}

div {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
}
