<div
  class="flex-1 flex-column"
  [style.display]="
    layoutService.state.fullscreen || layoutService.state.isInIframe
      ? 'none'
      : 'flex'
  "
  style="width: calc(100vw)">
  <!-- topbar -->
  <div class="layout-topbar">
    <div class="layout-topbar-start">
      <div class="logos flex justify-content-center">
        <a class="project-title" routerLink="/">
          <img alt="appicon" class="app-logo" [src]="urlAppIcon" />
          <div class="app-title">
            <div>{{ appTitle }}</div>
            <span class="project-version">&nbsp;v{{ version }}</span>
          </div>
        </a>
      </div>

      <a
        #menuButton
        class="layout-menu-button"
        (click)="onMenuButtonClick()"
        pRipple>
        <i class="pi pi-chevron-right"></i>
      </a>

      <a
        #mobileMenuButton
        class="layout-topbar-mobile-button"
        (click)="onMobileTopbarMenuButtonClick()"
        pRipple>
        <i class="pi pi-ellipsis-v"></i>
      </a>
    </div>
    <div class="layout-topbar-end">
      <div
        class="layout-topbar-actions-start flex flex-1 justify-content-center">
        <ng-content select="[topbar-left]"></ng-content>
        <bia-ie-warning *ngIf="isIE"></bia-ie-warning>
        <ng-template
          ngFor
          let-teamTypeSelector
          let-last="last"
          [ngForOf]="teamTypeSelectors">
          <bia-team-selector [teamType]="teamTypeSelector"></bia-team-selector>
          <span
            *ngIf="!last"
            class="flex align-self-center bia-separator"></span>
        </ng-template>
        <ng-content select="[topbar-right]"></ng-content>
      </div>
      <div class="layout-topbar-actions-end flex flex-0">
        <ul class="layout-topbar-items">
          <ng-content select="[custom-topbar-icons]"></ng-content>
          <li
            *ngIf="enableNotifications"
            pTooltip="{{ 'bia.notifications' | translate }}"
            tooltipPosition="left"
            [routerLink]="['/notifications']">
            <a class="notifications">
              <i class="pi pi-bell bia-pointer"></i>
              <ng-container
                *ngIf="
                  unreadNotificationCount$ | async as unreadNotificationCount
                ">
                <div
                  *ngIf="unreadNotificationCount > 0"
                  class="notification-count">
                  {{ unreadNotificationCount }}
                </div>
              </ng-container>
            </a>
          </li>
          <li
            *ngIf="reportUrl"
            pTooltip="{{ 'bia.report' | translate }}"
            tooltipPosition="left"
            (click)="openReport()">
            <a> <i class="pi pi-chart-bar bia-pointer"></i></a>
          </li>
          <li
            *ngIf="helpUrl"
            pTooltip="{{ 'bia.help' | translate }}"
            (click)="openHelp()">
            <a> <i class="pi pi-question-circle bia-pointer"></i></a>
          </li>
          <li
            pTooltip="{{ 'bia.settings' | translate }}"
            (click)="openSettings()">
            <a> <i class="pi pi-cog bia-pointer"></i></a>
          </li>
          <bia-online-offline-icon></bia-online-offline-icon>
          <li
            (click)="refresh()"
            pTooltip="{{ 'bia.refresh' | translate }}"
            tooltipPosition="bottom">
            <a> <i class="pi pi-refresh app-icon-header bia-pointer"></i></a>
          </li>
          <li
            (click)="toggleFullscreenMode()"
            pTooltip="{{ 'bia.fullscreen' | translate }}"
            tooltipPosition="left">
            <a>
              <i
                class="pi pi-window-maximize app-full-screen app-icon-header bia-pointer"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<a class="fullscreen-exit" *ngIf="fullscreenMode"
  ><i
    class="pi pi-window-minimize bia-pointer"
    (click)="toggleFullscreenMode()"></i>
</a>

<div
  *ngIf="fullscreenMode"
  class="layout-topbar invisible"
  style="z-index: 1000">
  <div class="layout-topbar-start">
    <a
      #menuButtonFullscreen
      class="layout-menu-button visible"
      (click)="onMenuButtonClick()"
      pRipple>
      <i class="pi pi-chevron-right"></i>
    </a>
  </div>
</div>

<p-toast key="bia" #toast id="toast">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column flex-1" style="max-width: 100%">
      <div class="flex flex-row">
        <ng-container [ngSwitch]="message.severity">
          <ng-container *ngSwitchCase="'success'">
            <span
              class="ng-tns-c191-8 p-toast-message-icon pi pi-check ng-star-inserted [object Object]"
              ng-reflect-ng-></span>
          </ng-container>
          <ng-container *ngSwitchCase="'warn'">
            <span
              class="ng-tns-c191-8 p-toast-message-icon pi pi-exclamation-triangle ng-star-inserted [object Object]"
              ng-reflect-ng-></span>
          </ng-container>
          <ng-container *ngSwitchCase="'error'">
            <span
              class="ng-tns-c191-8 p-toast-message-icon pi pi-times-circle ng-star-inserted [object Object]"
              ng-reflect-ng-></span>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <span
              class="ng-tns-c191-8 p-toast-message-icon pi pi-info-circle ng-star-inserted [object Object]"
              ng-reflect-ng-></span>
          </ng-container>
        </ng-container>
        <div
          class="p-toast-message-text ng-tns-c191-5 ng-star-inserted"
          (click)="
            message.data?.notification?.type?.id === notificationType.Task ||
              onNotificationClick(message)
          ">
          <div class="p-toast-summary ng-tns-c191-5">{{ message.summary }}</div>
          <div class="p-toast-detail ng-tns-c191-5">{{ message.detail }}</div>
        </div>
      </div>
      <div
        *ngIf="message.data?.notification?.type?.id === notificationType.Task"
        class="notification-actions flex flex-row justify-content-between align-content-between">
        <button
          pButton
          [label]="message.data?.notification?.data?.display | translate"
          (click)="onNotificationClick(message)"
          class="p-button-primary"></button>
        <button
          pButton
          label="{{ 'bia.ignore' | translate }}"
          (click)="onIgnoreClick(message)"
          class="p-button-outlined"></button>
      </div>
      <bia-notification-team-warning
        [notification]="
          message.data?.notification
        "></bia-notification-team-warning>
    </div>
  </ng-template>
</p-toast>
<button
  #clearButton
  id="clearButton"
  pButton
  [text]="true"
  [raised]="true"
  class="clear-button"
  label="{{ 'bia.clearAll' | translate }}"
  [ngClass]="{ block: toast.messages?.length ?? 0 > 0 }"
  (click)="clearAllMessages()"></button>
