<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpCookies domain="TheBIADevCompany"
      		httpOnlyCookies="true"
         	requireSSL="true" />
  </system.web>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\bin\Debug\netcoreapp3.1\TheBIADevCompany.BIADemo.WorkerService.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
				<environmentVariables>
					<environmentVariable name="COMPLUS_ForceENC" value="1" />
				</environmentVariables>
			</aspNetCore>
			<modules runAllManagedModulesForAllRequests="false">
				<remove name="WebDAVModule" />
			</modules>
		</system.webServer>
	</location>
</configuration>