<app-site-form
  [crudItem]="(itemTemplate$ | async) ?? undefined"
  [isAdd]="true"
  [fields]="crudConfiguration.fieldsConfig.columns"
  [formLayoutConfig]="crudConfiguration.formLayoutConfig"
  [dictOptionDtos]="(siteService.optionsService.dictOptionDtos$ | async) ?? []"
  (cancelled)="onCancelled()"
  (save)="onSubmitted($event)"
  [showPopupButton]="showPopupButton"
  [showSplitButton]="showSplitButton"
  [showFullPageButton]="showFullPageButton"
  (layoutChanged)="notifyLayoutChange($event)"></app-site-form>
