<app-engine-form
  *ngIf="crudItemService.crudItem$ | async; let crudItem"
  [crudItem]="crudItem"
  [fields]="crudConfiguration.fieldsConfig.columns"
  [formLayoutConfig]="crudConfiguration.formLayoutConfig"
  [dictOptionDtos]="
    (engineService.optionsService.dictOptionDtos$ | async) ?? []
  "
  [isCrudItemOutdated]="isCrudItemOutdated"
  (cancelled)="onCancelled()"
  (save)="onSubmitted($event)"></app-engine-form>
<bia-spinner
  *ngIf="engineService.loadingGet$ | async"
  [overlay]="true"></bia-spinner>
