.app-field-container {
  margin-bottom: 1.25rem;
  width: 100%;
}

.footer-container {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info-locked-container {
    margin-left: 1rem;

    .info-locked-button {
      height: 1.5rem;
      width: 1.5rem;
    }

    .info-locked-label {
      color: var(--p-button-outlined-warn-color);
      font-weight: 500;
    }
  }
}

.header-container {
  display: flex;
  justify-content: end;
  align-items: center;

  .fixed-state {
    margin-left: auto;
  }
}

.split-icon {
  position: absolute;
  background: transparent;
  rotate: 90deg;
  translate: 1px;
}
