$primaryColor: #00839b;
$primaryDarkColor: #00536d;
$primaryLightColor: #e0f0f3;
$accentColor: #072948;
$accentDarkColor: #020f21;
$accentLightColor: #e1e5e9;
$accentTextColor: #ffffff;
$darkMenuBgColor: #00536d;
$darkMenuHoverColor: #00839b;
$darkMenuRouterLinkActiveColor: #00536d;
$lightMenuRouterLinkActiveColor: #00839b;
$horizontalLightMenuRouterLinkActiveColor: #e1e5e9;

$biaBgColor: #fafafa;
$biaBgHoverColor: rgba(0, 0, 0, 0.04);
$biaFgTextColor: rgba(0,0,0,.87);
$biaBorderColor: #bdbdbd;

@import '../../sass/layout/_layout';
