<div class="header" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="stretch center">
  </div>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="stretch center">
    <h1>Launch random review plane in hanfire job.</h1>
  </div>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="stretch center">
  </div>
</div>
<BR/>
<BR/>
<div fxLayout="row wrap">
  On a plane of one the following&nbsp;<b>Sites</b>
</div>
<BR/>
<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <ng-container *ngFor="let team of (allTeams$ | async)">
    <button *ngIf="team.teamTypeId === 1" pButton type="button" (click)="randomReviewPlane(team.id)" label="{{team.title}}"></button>
  </ng-container>
</div>
<BR/>
<BR/>
<div fxLayout="row wrap">
  On a plane of the current site and notify team of type&nbsp;<b>Aircraft Maintenance Company</b>
</div>
<BR/>
<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <ng-container *ngFor="let team of (allTeams$ | async)">
    <button *ngIf="team.teamTypeId === 2" pButton type="button" (click)="randomReviewPlane(team.id)" label="{{team.title}}"></button>
  </ng-container>
</div>
<BR/>
<BR/>
<div fxLayout="row wrap" >
  On a plane of the current site and notify team of type&nbsp;<b>Maintenance Team</b>
</div>
<BR/>
<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <ng-container *ngFor="let team of (allTeams$ | async)">
    <button *ngIf="team.teamTypeId === 3" pButton type="button" (click)="randomReviewPlane(team.id)" label="{{team.parentTeamTitle}} > {{team.title}}"></button>
  </ng-container>
</div>