<div class="header flex flex-row justify-content-between align-content-between">
  <div
  class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch"></div>
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch">
    <h1>Launch random review plane in hangfire job</h1>
  </div>
  <div
  class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch"></div>
</div>
<BR />
<BR />
<div class="flex flex-row flex-wrap">
  On a plane of one the following&nbsp;<b>Sites</b>
</div>
<BR />
<div
  class="flex flex-row flex-wrap justify-content-around align-content-around">
  @for (team of allTeams$ | async; track team) {
    @if (team.teamTypeId === teamTypeId.Site) {
      <button
        pButton
        type="button"
        (click)="randomReviewPlane(team.id)"
        label="{{ team.title }}"
        pTooltip="{{ team.title }}"
      tooltipPosition="top"></button>
    }
  }
</div>
<BR />
<BR />
<div class="flex flex-row flex-wrap">
  On a plane of the current site and notify team of type&nbsp;<b
  >Aircraft Maintenance Company</b
  >
</div>
<BR />
<div
  class="flex flex-row flex-wrap justify-content-around align-content-around">
  @for (team of allTeams$ | async; track team) {
    @if (team.teamTypeId === teamTypeId.AircraftMaintenanceCompany) {
      <button
        pButton
        type="button"
        (click)="randomReviewPlane(team.id)"
        label="{{ team.title }}"
        pTooltip="{{ team.title }}"
      tooltipPosition="top"></button>
    }
  }
</div>
<BR />
<BR />
<div class="flex flex-row flex-wrap">
  On a plane of the current site and notify team of type&nbsp;<b
  >Maintenance Team</b
  >
</div>
<BR />
<div
  class="flex flex-row flex-wrap justify-content-around align-content-around">
  @for (team of allTeams$ | async; track team) {
    @if (team.teamTypeId === teamTypeId.MaintenanceTeam) {
      <button
        pButton
        type="button"
        (click)="randomReviewPlane(team.id)"
        label="{{ team.parentTeamTitle }} > {{ team.title }}"
        pTooltip="{{ team.parentTeamTitle }} > {{ team.title }}"
      tooltipPosition="top"></button>
    }
  }
</div>
<BR />
<div class="flex flex-row flex-wrap"><b>Generate server errors</b></div>
<div
  class="flex flex-row flex-wrap justify-content-around align-content-around">
  <button
    pButton
    type="button"
    label="Unhandled error"
    pTooltip="Unhandled error"
    tooltipPosition="top"
    severity="danger"
  (click)="onGenerateUnhandledErrorClick()"></button>
  <button
    pButton
    type="button"
    label="Handled error"
    pTooltip="Handled error"
    tooltipPosition="top"
    severity="danger"
  (click)="onGenerateHandledErrorClick()"></button>
</div>
<div class="header flex flex-row justify-content-between align-content-between">
  <div
  class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch"></div>
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch">
    <h1>Examples of date display</h1>
  </div>
  <div
  class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch"></div>
</div>
<div>Date formatted to locale: {{ date | localeDate }}</div>
<div>Date with time formatted to locale: {{ date | localeDate: true }}</div>
