<form (submit)="onSubmit()" class="flex flex-column" [formGroup]="form">
  <input formControlName="teamId" type="hidden" />
  <div class="flex flex-row justify-content-center">
    <div class="app-field-container flex-1" style="max-width: 90%">
      <div class="flex flex-row justify-content-center">
        <div class="app-field-container flex-1" style="max-width: 90%">
          <span class="p-float-label">
            <p-dropdown
              [options]="userOptions"
              placeholder="&nbsp;"
              formControlName="user"
              optionLabel="display"
              datakey="id"
              [style]="{ width: '100%' }"
              [filter]="true"
              [showClear]="true"></p-dropdown>
            <label
              ><span class="bia-star-mandatory">*</span
              >{{ 'member.user' | translate }}</label
            >
          </span>
        </div>
        <div
          class="app-field-container flex-1"
          style="max-width: 10%"
          *ngIf="canAddFromDirectory">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-plus"
            class="p-button-sm p-button-rounded p-button-text align-right"
            (click)="addUserFromDirectory()"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-content-center">
    <div class="app-field-container flex-1" style="max-width: 90%">
      <label>{{ 'member.roles' | translate }}:</label>
      <p-listbox
        [options]="roleOptions"
        [showToggleAll]="false"
        formControlName="roles"
        multiple="multiple"
        checkbox="checkbox"
        optionLabel="display"
        [style]="{ width: '100%' }">
      </p-listbox>
    </div>
  </div>
  <div class="flex flex-row gap-1 justify-content-end">
    <button
      pButton
      icon="pi pi-times"
      label="{{ 'bia.cancel' | translate }}"
      type="button"
      class="p-button-outlined"
      (click)="onCancel()"></button>
    <button
      pButton
      icon="pi pi-check"
      label="{{ 'bia.save' | translate }}"
      type="submit"
      [disabled]="!form.valid"></button>
  </div>
</form>
<bia-user-add-from-directory-dialog
  [(display)]="
    displayUserAddFromDirectoryDialog
  "></bia-user-add-from-directory-dialog>
