<form (submit)="onSubmit()" fxLayout="column" [formGroup]="form">
  <input formControlName="teamId" type="hidden">
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="app-field-container" fxFlex="90">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="app-field-container" fxFlex="90">
          <span class="p-float-label">
            <p-dropdown
              [options]="userOptions"
              placeholder="&nbsp;"
              formControlName="user"
              optionLabel="display"
              datakey="id"
              [style]="{ width: '100%' }"
              [filter]="true"
              [showClear]="true"
            ></p-dropdown>
            <label><span class="bia-star-mandatory">*</span>{{ 'member.user' | translate }}</label>
          </span>
        </div>
        <div class="app-field-container" fxFlex="10"  *ngIf="canAddFromDirectory">
          <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-sm p-button-rounded p-button-text align-right"
            (click)="addUserFromDirectory()"></button>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="app-field-container" fxFlex="90">
      <label>{{ 'member.roles' | translate }}:</label>
      <p-listbox
        [options]="roleOptions"
        [showToggleAll]="false"
        formControlName="roles"
        multiple="multiple"
        checkbox="checkbox"
        optionLabel="display"
        [style]="{ width: '100%' }"
      >
      </p-listbox>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end">
    <button pButton label="{{ 'bia.save' | translate }}" type="submit" [disabled]="!form.valid"></button>
    <button
      pButton
      label="{{ 'bia.cancel' | translate }}"
      type="button"
      class="p-button-secondary"
      (click)="onCancel()"
    ></button>
  </div>
</form>
<bia-user-add-from-directory-dialog [(display)]="displayUserAddFromDirectoryDialog"></bia-user-add-from-directory-dialog>