.app-div-view-form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(128, 128, 128, 0.08);
}

.app-div-select-site{
  margin-top: 20px;
}

#btn-close {
  position: absolute;
  top: 94%;
}
