<div>
  <div [ngClass]="{ 'table-compact': crudConfiguration.useCompactMode }">
    <bia-table-header
      [headerTitle]="'member.listOf' | translate"
      [parentDisplayName]="(parentDisplayItemName$ | async) ?? ''"
      [canAdd]="canAdd && !crudConfiguration.useCalcMode"
      [canClone]="canAdd && crudConfiguration.isCloneable"
      [canDelete]="canDelete"
      [canImport]="canSave && crudConfiguration.useImport"
      [canExportCSV]="true"
      (create)="onCreate()"
      (exportCSV)="onExportCSV('member.listOf')"
      (fullExportCSV)="onExportCSV('member.listOf', true)"
      (import)="onImport()"
      (clone)="onClone()"
      (delete)="onDelete()"
      [selectedElements]="selectedCrudItems"
      [showTableControllerButton]="crudConfiguration.useCompactMode ?? false"
      [tableControllerVisible]="showTableController"
      (toggleTableControllerVisibility)="
        toggleTableControllerVisibility()
      "></bia-table-header>
    <bia-table-controller
      [ngClass]="{ 'table-controller-hidden': !showTableController }"
      [defaultPageSize]="defaultPageSize"
      [columns]="columns"
      [columnToDisplays]="displayedColumns"
      (displayedColumnsChange)="displayedColumnsChanged($event)"
      (filter)="searchGlobalChanged($event)"
      (clearFilters)="onClearFilters()"
      (toggleSearch)="onToggleSearch()"
      (viewChange)="onViewChange($event)"
      [tableStateKey]="tableStateKey"
      [tableState]="tableState"
      [defaultViewPref]="defaultViewPref"
      [useViewTeamWithTypeId]="useViewTeamWithTypeId"
      [hasColumnFilter]="hasColumnFilter">
      <ng-template pTemplate="customControl">
        <bia-table-behavior-controller
          [crudConfiguration]="crudConfiguration"
          (useCalcModeChanged)="useCalcModeChange($event)"
          (usePopupChanged)="usePopupChange($event)"
          (useSplitChanged)="useSplitChange($event)"
          (useSignalRChanged)="useSignalRChange($event)"
          (useViewChanged)="useViewChange($event)"
          (useCompactModeChanged)="useCompactModeChange($event)"
          (useVirtualScrollChanged)="useVirtualScrollChange($event)"
          (useResizableColumnChanged)="
            useResizableColumnChange($event)
          "></bia-table-behavior-controller>
      </ng-template>
    </bia-table-controller>
    <bia-table
      *ngIf="!crudConfiguration.useCalcMode"
      [elements]="(crudItems$ | async) ?? []"
      [dictOptionDtos]="
        (memberService.optionsService.dictOptionDtos$ | async) ?? []
      "
      [totalRecord]="(totalCount$ | async) ?? 0"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      (pageSizeChange)="onPageSizeChange($event)"
      [configuration]="crudConfiguration.fieldsConfig"
      [(showColSearch)]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canClickRow]="canEdit"
      [canSelectElement]="canDelete"
      [loading]="(loading$ | async) ?? false"
      (clickRowId)="onClickRow($event)"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      (stateSave)="onStateSave($event)"
      [scrollHeightValue]="getFillScrollHeightValue()"></bia-table>
    <bia-member-table
      *ngIf="crudConfiguration.useCalcMode"
      [elements]="(crudItems$ | async) ?? []"
      [dictOptionDtos]="
        (memberService.optionsService.dictOptionDtos$ | async) ?? []
      "
      [totalRecord]="(totalCount$ | async) ?? 0"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      (pageSizeChange)="onPageSizeChange($event)"
      [configuration]="crudConfiguration.fieldsConfig"
      [(showColSearch)]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canEdit]="canEdit"
      [canAdd]="canAdd"
      [canSelectElement]="canDelete"
      [loading]="(loading$ | async) ?? false"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      (stateSave)="onStateSave($event)"
      (save)="onSave($event)"
      [scrollHeightValue]="getFillScrollHeightValue()"></bia-member-table>
  </div>
</div>
