:host > div:last-child {
  margin-bottom: -0.5rem;
}

.bia-form-group {
  margin-bottom: 1.5rem;
  display: block;
  h6 {
    margin: 0rem 0rem 0.5rem 0rem;
  }
}

.bia-form-row {
  margin-bottom: -1rem;
}
