:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-image:
    linear-gradient(
      to bottom,
      color-mix(in srgb, var(--p-content-background) 10%, transparent) 70vh,
      var(--p-content-background)
    ),
    url('../../../assets/bia/img/bg-default.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 48px;
  padding-left: 35px;
  padding-right: 35px;
  color: white; // Hardcoded color to match the hardcoded background
  height: 100%;
}
// .title {
//   h4 {
//     @include mat-typography-level-to-styles($arial-typography, title);
//   }
// }
h1 {
  font-size: 1.75rem;
  font-weight: 200;
}
h1,
h4 {
  color: white;
}
