<div class="title">
  <h1>BIADemo</h1>
  <h4>
    {{ 'msg.welcome' | translate }}
  </h4>
  <div>
    <button id="connect-usb">Connect USB Device</button>
  </div>

  <div>
    <button id="connect-serial">Connect Serial Device</button>
  </div>

  <div>
    <button (click)="openFile()">Open File</button>
    <button (click)="readFile()">Read File</button>
    <button (click)="writeFile()">Write File</button>
    <pre>{{ fileContent }}</pre>
  </div>

  <div>
    <button (click)="openFolder()">Open Folder</button>
    <button (click)="addFile()">Add File</button>
    <button (click)="deleteFile()">Delete File</button>
    <button (click)="listFiles()">List Files</button>
    <pre>{{ folderContents | json }}</pre>
  </div>
</div>
