<bia-notification-form 
    [notification]="notificationService.notification$ | async" 
    [notificationTypeOptions]="notificationOptionsService.notificationTypeOptions$ | async"
    [roleOptions]="notificationOptionsService.roleOptions$ | async"
    [userOptions]="notificationOptionsService.userOptions$ | async"
    [languageOptions]="notificationOptionsService.languageOptions$ | async"
    (cancel)="onCancelled()" 
    (save)="onSubmitted($event)"
></bia-notification-form>
<bia-spinner *ngIf="notificationService.loading$ | async" [overlay]="true"></bia-spinner>