<div [formGroup]="form">
  <ng-container *ngIf="field.specificInput === true">
    <ng-container
      *ngTemplateOutlet="
        specificInputTemplate;
        context: { field: field, form: form }
      "></ng-container>
  </ng-container>
  <ng-container [ngSwitch]="field.type" *ngIf="field.specificInput !== true">
    <ng-container *ngSwitchCase="'OneToMany'">
      <p-floatlabel variant="on">
        <p-select
          [options]="getOptionDto(field.field)"
          placeholder="&nbsp;"
          [formControlName]="field.field"
          optionLabel="display"
          datakey="id"
          [style]="{ width: '100%' }"
          [showClear]="true"
          appendTo="body"
          scrollHeight="50vh"></p-select>
        <label
          ><span class="bia-star-mandatory" *ngIf="field.isRequired">*</span
          >{{ field.header | translate }}</label
        >
      </p-floatlabel>
    </ng-container>
    <ng-container *ngSwitchCase="'ManyToMany'">
      <p-floatlabel variant="on">
        <p-multiSelect
          [formControlName]="field.field"
          [options]="getOptionDto(field.field)"
          optionLabel="display"
          datakey="id"
          appendTo="body"
          [showClear]="true"
          [style]="{ width: '100%' }"
          scrollHeight="50vh"></p-multiSelect>
        <label
          ><span class="bia-star-mandatory" *ngIf="field.isRequired">*</span
          >{{ field.header | translate }}</label
        >
      </p-floatlabel>
    </ng-container>
    <div *ngSwitchCase="'Boolean'" class="flex items-center">
      <p-checkbox binary="true" [formControlName]="field.field"></p-checkbox>
      <label class="ml-2 flex">
        <span class="bia-star-mandatory" *ngIf="field.isRequired">*</span>
        {{ field.header | translate }}
      </label>
    </div>
    <ng-container *ngSwitchCase="'Number'">
      <p-floatlabel
        variant="on"
        *ngIf="
          getDisplayNumberFormat(field.displayFormat);
          let displayNumberFormat
        ">
        <p-inputNumber
          [showClear]="!readOnly"
          [formControlName]="field.field"
          [mode]="displayNumberFormat.mode"
          [currency]="displayNumberFormat.currency"
          [minFractionDigits]="displayNumberFormat.minFractionDigits"
          [maxFractionDigits]="displayNumberFormat.maxFractionDigits"
          [min]="displayNumberFormat.min"
          [max]="displayNumberFormat.max"
          [locale]="displayNumberFormat.autoLocale || 'en-US'" />
        <label
          ><span class="bia-star-mandatory" *ngIf="field.isRequired">*</span
          >{{ field.header | translate }}</label
        >
      </p-floatlabel>
    </ng-container>
    <ng-container *ngSwitchCase="'Date'">
      <p-floatlabel
        variant="on"
        *ngIf="
          getDisplayDateFormat(field.displayFormat);
          let displayDateFormat
        ">
        <p-date-picker
          biaLocale
          [formControlName]="field.field"
          placeholder="&nbsp;"
          showButtonBar="true"
          appendTo="body"
          [dateFormat]="displayDateFormat.autoPrimeDateFormat"
          [inputStyle]="{ width: '100%' }"
          [showClear]="true"></p-date-picker>
        <label
          ><span class="bia-star-mandatory" *ngIf="field.isRequired">*</span
          >{{ field.header | translate }}</label
        >
      </p-floatlabel>
    </ng-container>
    <ng-container *ngSwitchCase="'Time'">
      <p-floatlabel
        variant="on"
        *ngIf="
          getDisplayDateFormat(field.displayFormat);
          let displayDateFormat
        ">
        <p-date-picker
          [formControlName]="field.field"
          [showTime]="true"
          showSeconds="false"
          timeOnly="true"
          [dateFormat]="displayDateFormat.autoPrimeDateFormat"
          [hourFormat]="'24'"
          placeholder="&nbsp;"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          [showClear]="true"></p-date-picker
        ><!-- [hourFormat]="field.displayFormat.autoHourFormat" not work for 12 (PrimeNG 13)-->
        <label
          ><span class="bia-star-mandatory" *ngIf="field.isRequired">*</span
          >{{ field.header | translate }}</label
        >
      </p-floatlabel>
    </ng-container>
    <ng-container *ngSwitchCase="'TimeOnly'">
      <p-floatlabel variant="on">
        <p-date-picker
          [formControlName]="field.field"
          [showTime]="true"
          showSeconds="false"
          timeOnly="true"
          placeholder="&nbsp;"
          dataType="string"
          [hourFormat]="'24'"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          [showClear]="true"></p-date-picker
        ><!-- [hourFormat]="field.displayFormat.autoHourFormat" not work for 12 (PrimeNG 13)-->
        <label
          ><span class="bia-star-mandatory" *ngIf="field.isRequired">*</span
          >{{ field.header | translate }}</label
        >
      </p-floatlabel>
    </ng-container>
    <ng-container *ngSwitchCase="'TimeSecOnly'">
      <p-floatlabel variant="on">
        <p-date-picker
          [formControlName]="field.field"
          [showTime]="true"
          showSeconds="true"
          timeOnly="true"
          placeholder="&nbsp;"
          dataType="string"
          [hourFormat]="'24'"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          [showClear]="true"></p-date-picker
        ><!-- [hourFormat]="field.displayFormat.autoHourFormat" not work for 12 (PrimeNG 13)-->
        <label
          ><span class="bia-star-mandatory" *ngIf="field.isRequired">*</span
          >{{ field.header | translate }}</label
        >
      </p-floatlabel>
    </ng-container>
    <ng-container *ngSwitchCase="'DateTime'">
      <p-floatlabel
        variant="on"
        variant="on"
        *ngIf="
          getDisplayDateFormat(field.displayFormat);
          let displayDateFormat
        ">
        <p-date-picker
          biaLocale
          [formControlName]="field.field"
          [showTime]="true"
          [dateFormat]="displayDateFormat.autoPrimeDateFormat"
          [hourFormat]="displayDateFormat.autoHourFormat.toString()"
          placeholder="&nbsp;"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"
          [showClear]="true"></p-date-picker>
        <label
          ><span class="bia-star-mandatory" *ngIf="field.isRequired">*</span
          >{{ field.header | translate }}</label
        >
      </p-floatlabel>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <p-floatlabel variant="on">
        <input
          [formControlName]="field.field"
          type="text"
          pInputText
          maxlength="field.maxlength"
          style="width: 100%" />
        <label
          ><span class="bia-star-mandatory" *ngIf="field.isRequired">*</span
          >{{ field.header | translate }}</label
        >
      </p-floatlabel>
    </ng-container>
  </ng-container>
</div>
