/* Add your customizations of layout here */
.card {
    background-color: $biaBgColor;
}
body {
    font-size: 16px;
    line-height: 1.5em!important;
}
.p-toast {
    &.p-toast-top-right {
        top: 10px;
        right: 10px;
    }
}