/* Add your variable customizations of theme here */
@import './customs/common_variables';

// //Global
$borderRadius: 0;
$font-size:16px;

$contentBgColor: $biaBgColor;
$dividerColor: $biaBorderColor; // panel border
// $hoverBgColor:red; // Color when the cursor is moved over a line of a table.
// $activeMenuItemBadgeColor: red;

//$primaryTextColor: $biaFgTextColor; // #ffffff;
// $headerBgColor: $primaryColor;
// $headerTextColor: #ffffff;
// $headerIconColor: #ffffff;
$contentBorderColor: $biaBorderColor; // #bdbdbd; table border
$contentBgColor: $biaBgColor; // #ffffff; content panel
$contentIconColor: $biaFgTextColor; // #757575;

// //input
$inputBorderColor: $biaFgTextColor; // #bdbdbd;
// $inputInvalidBorderColor: #e62a10;
$inputBg: transparent;
$inputFilledBg: transparent;
$inputFilledHoverBg: transparent;
$inputFilledFocusBg: transparent;
// $inputPadding: 0.125rem 0.125rem;
// $inputErrorTextColor: #e62a10;
// $inputBorderErrorColor: #e62a10;
// $inputFieldLabelTextColor: #999999;
// $inputFieldBoxBgColor: #f7f7f7;
// $inputFieldFillBgColor: #f7f7f7;
// $inputAutoFillBorderColor: #bdbdbd;
// $textboxBgColor: #f7f7f7;

// //groups
// $inputGroupBorderColor: #bdbdbd;
// $inputGroupBgColor: transparent;
// $inputGroupTextColor: $textSecondaryColor;
// $inputGroupIconColor: $textSecondaryColor;
// $inputGroupAddonMinWidth: 2 * $fontSize;
$checkboxWidth:  1.429em;
$checkboxHeight: 1.429em;
// $inputGroupPadding: 2px 2px 1px 2px;
// $inputGroupIconFontSize: 1.5em;

// //panels
// $accordionHeaderBgColor: $primaryColor;
// $accordionHeaderTextColor: #ffffff;
// $accordionHeaderHoverBgColor: $primaryDarkColor;
// $accordionHeaderHoverTextColor: #ffffff;

// $buttonTextColor: #ffffff;

$radioButtonBorderColor: $biaFgTextColor; // #757575;
$checkboxBorderColor: $biaFgTextColor; // #757575;

// //data
$dataTableRowBgColorEven: $biaBgHoverColor;

// //menu breadcrumb
$breadcrumbPadding:0.5rem;
$breadcrumbLastItemTextColor: $primaryColor;
$breadcrumbItemTextColor: $biaTitleColor;
$breadcrumbBg:hsla(0,0%,100%,.3);
$breadcrumbBorder:0;

// // menubar
$horizontalMenuPadding: 0.90rem 0.5rem 0.3rem 0.5rem;

// // datatable
$tableHeaderCellHighlightTextColor: $primaryColor;
$tableHeaderCellHighlightHoverBg: $tableHeaderBg;
$tableHeaderCellHoverBg: $tableHeaderBg;
$tableHeaderCellHighlightBg: $tableHeaderBg;
$tableBodyCellBorder:1px solid rgb(215, 215, 215);
$tableBodyRowEvenBg: $biaBgColor;

// //megamenu
$submenuHeaderBg: $primaryColor;
$submenuHeaderTextColor: $primaryTextColor;

$tableBodyCellBorderWidth: 0;
$primeIconFontSize:1.1rem;

// $buttonPadding:0.35rem 0.8rem;
$buttonPadding:0 1em;
$buttonIconOnlyPadding:0.35rem 0.8rem;

// dropdown
$submenuHeaderPadding: 3px 6px;