<div fxLayout fxLayout.xs="column" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <bia-table-header
      [headerTitle]="'plane.listOf' | translate"
      [canAdd]="canAdd && !useCalcMode"
      [canDelete]="canDelete"
      [canExportCSV]="true"
      (create)="onCreate()"
      (exportCSV)="onExportCSV()"
      (delete)="onDelete()"
      [selectedElements]="selectedPlanes"
    ></bia-table-header>
    <bia-table-controller
      [defaultPageSize]="defaultPageSize"
      [length]="totalCount$ | async"
      [columns]="columns"
      [columnToDisplays]="displayedColumns"
      (displayedColumnsChange)="displayedColumnsChanged($event)"
      (filter)="searchGlobalChanged($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      (toggleSearch)="onToggleSearch()"
      (viewChange)="onViewChange($event)"
      [tableStateKey]="tableStateKey"
      [tableState]="tableState"
      [useViewTeamWithTypeId]="useViewTeamWithTypeId"
    ></bia-table-controller>
    <bia-table
      *ngIf="!useCalcMode"
      [elements]="planes$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="tableConfiguration"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canClickRow]="canEdit"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (clickRow)="onEdit($event)"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      (stateSave)="onStateSave($event)"
    >
      <ng-template pTemplate="specificOutput" let-col="col" let-rowData="rowData">
        <ng-container [ngSwitch]="col.field">
          <ng-container *ngSwitchCase="'isActive'">
            <i class="pi pi-circle-fill" [style]="'color: ' + (rowData[col.field]?'green':'red')"></i>
          </ng-container> <!-- isActive -->
          <ng-container *ngSwitchCase="'capacity'">
            <ng-container *ngIf="rowData[col.field] < 0">
              - Negative -
            </ng-container>
            <ng-container *ngIf="rowData[col.field] === 0">
              0 Empty 0
            </ng-container>
            <ng-container *ngIf="rowData[col.field] > 0 && rowData[col.field] < 10">
              + Small +
            </ng-container>
            <ng-container *ngIf="rowData[col.field] >= 10 && rowData[col.field] < 100">
              ++ Medium ++
            </ng-container>
            <ng-container *ngIf="rowData[col.field] >= 100">
              +++ Large +++
            </ng-container>
          </ng-container> <!-- capacity -->
        </ng-container>
      </ng-template>
    </bia-table>
    <app-plane-table
      *ngIf="useCalcMode"
      [elements]="planes$ | async"
      [dictOptionDtos]="planeOptionsService.dictOptionDtos$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="tableConfiguration"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canEdit]="canEdit"
      [canAdd]="canAdd"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      (stateSave)="onStateSave($event)"
      (save)="onSave($event)"
    >
    <ng-template pTemplate="specificOutput" let-col="col" let-rowData="rowData">
      <ng-container [ngSwitch]="col.field">
        <ng-container *ngSwitchCase="'isActive'">
          <i class="pi pi-circle-fill" [style]="'color: ' + (rowData[col.field]?'green':'red')"></i>
        </ng-container> <!-- isActive -->
        <ng-container *ngSwitchCase="'capacity'">
          <ng-container *ngIf="rowData[col.field] < 0">
            - Negative -
          </ng-container>
          <ng-container *ngIf="rowData[col.field] === 0">
            0 Empty 0
          </ng-container>
          <ng-container *ngIf="rowData[col.field] > 0 && rowData[col.field] < 10">
            + Small +
          </ng-container>
          <ng-container *ngIf="rowData[col.field] >= 10 && rowData[col.field] < 100">
            ++ Medium ++
          </ng-container>
          <ng-container *ngIf="rowData[col.field] >= 100">
            +++ Large +++
          </ng-container>
        </ng-container> <!-- capacity -->
      </ng-container>
    </ng-template>
    <ng-template pTemplate="specificInput" let-col="col" let-rowData="rowData" let-form="form">
      <div [formGroup]="form">
        <ng-container [ngSwitch]="col.field">
          <ng-container *ngSwitchCase="'isActive'">
            <p-checkbox [binary]="true" [formControlName]="col.field" (onChange)="onChange()"></p-checkbox>
          </ng-container> <!-- isActive -->
          <ng-container *ngSwitchCase="'capacity'">
            <input pInputText type="number" [formControlName]="col.field" (change)="onChange()" />
          </ng-container> <!-- capacity -->
        </ng-container>
      </div>
    </ng-template>
  </app-plane-table>
  </div>
</div>
