<div>
  <div [ngClass]="{ 'table-compact': crudConfiguration.useCompactMode }">
    <bia-table-header
      [headerTitle]="'plane.listOf' | translate"
      [canAdd]="canAdd && !crudConfiguration.useCalcMode"
      [canClone]="canAdd && crudConfiguration.isCloneable"
      [canDelete]="canDelete"
      [canExportCSV]="true"
      (create)="onCreate()"
      (exportCSV)="onExportCSV('plane.listOf')"
      (clone)="onClone()"
      (delete)="onDelete()"
      [selectedElements]="selectedCrudItems"
      [showTableControllerButton]="crudConfiguration.useCompactMode ?? false"
      [tableControllerVisible]="showTableController"
      (toggleTableControllerVisibility)="
        toggleTableControllerVisibility()
      "></bia-table-header>
    <bia-table-controller
      [ngClass]="{ 'table-controller-hidden': !showTableController }"
      [defaultPageSize]="defaultPageSize"
      [columns]="columns"
      [columnToDisplays]="displayedColumns"
      (displayedColumnsChange)="displayedColumnsChanged($event)"
      (filter)="searchGlobalChanged($event)"
      (clearFilters)="onClearFilters()"
      (toggleSearch)="onToggleSearch()"
      (viewChange)="onViewChange($event)"
      (viewNameChange)="onViewNameChange($event)"
      [tableStateKey]="tableStateKey"
      [tableState]="tableState"
      [defaultViewPref]="defaultViewPref"
      [useViewTeamWithTypeId]="useViewTeamWithTypeId"
      [hasColumnFilter]="hasColumnFilter">
      <ng-template pTemplate="customControl">
        <bia-table-behavior-controller
          [crudConfiguration]="crudConfiguration"
          (useCalcModeChanged)="useCalcModeChange($event)"
          (usePopupChanged)="usePopupChange($event)"
          (useSplitChanged)="useSplitChange($event)"
          (useSignalRChanged)="useSignalRChange($event)"
          (useViewChanged)="useViewChange($event)"
          (useCompactModeChanged)="useCompactModeChange($event)"
          (useVirtualScrollChanged)="useVirtualScrollChange($event)"
          (useResizableColumnChanged)="
            useResizableColumnChange($event)
          "></bia-table-behavior-controller>
      </ng-template>
    </bia-table-controller>
    <bia-table
      [elements]="
        crudConfiguration.useVirtualScroll
          ? virtualCrudItems
          : ((crudItems$ | async) ?? [])
      "
      [dictOptionDtos]="
        (planeService.optionsService.dictOptionDtos$ | async) ?? []
      "
      [totalRecord]="(totalCount$ | async) ?? 0"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      (pageSizeChange)="onPageSizeChange($event)"
      [configuration]="crudConfiguration.fieldsConfig"
      [(showColSearch)]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canClickRow]="canEdit || crudConfiguration.hasReadView"
      [canSelectElement]="canDelete"
      [loading]="(loading$ | async) ?? false"
      (clickRowId)="onClickRow($event)"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      (stateSave)="onStateSave($event)"
      [scrollHeightValue]="getFillScrollHeightValue()"
      [isScrollable]="true"
      [virtualScroll]="crudConfiguration.useVirtualScroll"
      [isResizableColumn]="crudConfiguration.useResizableColumn"
      [rowHeight]="defaultRowHeight"
      [canExpandRow]="true"
      [expandedRowTemplate]="detailRow"
      (rowExpand)="onRowExpand($event)">
      <ng-template pTemplate="specificOutput" let-field="field" let-data="data">
        @switch (field.field) {
          <!-- isActive -->
          @case ('isActive') {
            <i
              class="pi pi-circle-fill"
              [ngClass]="{
                'bia-is-not-active': !data,
                'bia-is-active': !!data,
              }"></i>
          }
          <!-- capacity -->
          @case ('capacity') {
            @if (data < 0) {
              - Negative -
            }
            @if (data === 0) {
              0 Empty 0
            }
            @if (data > 0 && data < 10) {
              + Small +
            }
            @if (data >= 10 && data < 100) {
              ++ Medium ++
            }
            @if (data >= 100) {
              +++ Large +++
            }
          }
        }
      </ng-template>
    </bia-table>
  </div>
</div>

<ng-template #detailRow let-data="data"
  ><div style="text-wrap: auto" class="m-3">
    <h3>{{ 'app.engines' | translate }}</h3>
    @if (data?.id && enginesDic[data.id.toString()]) {
      <bia-table
        [elements]="enginesDic[data.id.toString()]"
        [configuration]="engineConfig"
        [columnToDisplays]="displayedEngineColumns"
        [dictOptionDtos]="[]"
        [totalRecord]="enginesDic[data.id.toString()].length"
        [paginator]="false"
        [showColSearch]="false"
        [canSelectElement]="false"
        [loading]="false"
        [readOnly]="true">
      </bia-table>
    } @else {
      <div class="m-6">
        <bia-spinner [overlay]="false"></bia-spinner>
      </div>
    }
  </div>
</ng-template>
