@if (isLoadingUserInfo) {
  <bia-spinner [overlay]="true"></bia-spinner>
}
<bia-ultima-layout
  [menus]="menus"
  [version]="version"
  [username]="username"
  [lastname]="lastname"
  [login]="login"
  [headerLogos]="headerLogos"
  [footerLogo]="footerLogo"
  [supportedLangs]="supportedLangs"
  [appTitle]="appTitle"
  [helpUrl]="helpUrl"
  [reportUrl]="reportUrl"
  [enableNotifications]="enableNotifications"
  [companyName]="companyName"
  class="p-input-filled">
  <ng-container topbar-left
    ><div style="background-color: cyan">
      Content "topbar-left" for topbar left.
    </div></ng-container
  >
  <ng-container topbar-right
    ><div style="background-color: cyan">
      Content "topbar-right" for topbar right.
    </div></ng-container
  >
  <ng-container custom-topbar-icons>
    <li style="background-color: cyan">
      <a><i class="pi pi-thumbs-up bia-pointer"></i></a>
    </li>
  </ng-container>
  <ng-container menu-profile-replace
    ><div style="background-color: cyan">
      Content "menu-profile-replace" for the menu profile.
    </div>
  </ng-container>
  <ng-container menu-profile-panel
    ><div style="background-color: cyan">
      Content "menu-profile-panel" at the bottom of menu profile panel.
    </div>
  </ng-container>
  <ng-container app-config-top
    ><div style="background-color: cyan">
      Content "app-config-top" for app config panel top.
    </div>
  </ng-container>
  <ng-container app-config-bottom
    ><div style="background-color: cyan">
      Content "app-config-bottom" for app config panel bottom.
    </div>
  </ng-container>
  <ng-container sidebar-top
    ><div style="background-color: cyan">
      Content "sidebar-top" for sidebar top.
    </div></ng-container
  >
  <ng-container menu-top
    ><div style="background-color: cyan">
      Content "menu-top" for menu top.
    </div></ng-container
  >
  <ng-container menu-bottom
    ><div style="background-color: cyan">
      Content "menu-bottom" for menu bottom.
    </div></ng-container
  >
  <ng-container sidebar-bottom
    ><div style="background-color: cyan">
      Content "sidebar-bottom" for sidebar bottom.
    </div></ng-container
  >
  <ng-container breadcrumb-top
    ><div style="background-color: cyan">
      Content "breadcrumb-top" for breadcrumb top.
    </div></ng-container
  >
  <ng-container breadcrumb-bottom
    ><div style="background-color: cyan">
      Content "breadcrumb-bottom" for breadcrumb bottom.
    </div></ng-container
  >
  <ng-container footer-content
    ><div style="background-color: cyan">
      Content "footer-content" for footer.
    </div></ng-container
  >
</bia-ultima-layout>
