<form
  *ngIf="form"
  (submit)="onSubmit()"
  class="flex flex-column bia-form"
  [formGroup]="form">
  <div class="header-container bia-form-header" *ngIf="showHeaderContainer">
    <div class="fixed-state" *ngIf="isFixableButtonVisible">
      <button
        pButton
        icon="pi {{ fixableButtonIcon }}"
        label="{{ fixableButtonLabel | translate }}"
        type="button"
        [disabled]="!canFix"
        [ngClass]="{ 'p-button-outlined': !isFixed }"
        (click)="onFixableButtonClicked()"></button>
    </div>
  </div>

  <div class="bia-form-fields">
    <ng-container *ngIf="formLayoutConfig">
      <ng-container *ngFor="let item of formLayoutConfig.items">
        <ng-container [ngSwitch]="item.type">
          <ng-container *ngSwitchCase="'group'">
            <ng-container
              *ngTemplateOutlet="
                groupTemplate;
                context: { group: item }
              "></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'row'">
            <ng-container
              *ngTemplateOutlet="
                rowTemplate;
                context: { row: item }
              "></ng-container>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-template #groupTemplate let-group="group">
        <div class="bia-form-group">
          <h4>{{ group.name | translate }}</h4>
          <ng-container
            *ngTemplateOutlet="
              rowsTemplate;
              context: { rows: group.rows }
            "></ng-container>
        </div>
      </ng-template>

      <ng-template #rowsTemplate let-rows="rows">
        <ng-container *ngFor="let row of rows">
          <ng-container
            *ngTemplateOutlet="
              rowTemplate;
              context: { row: row }
            "></ng-container>
        </ng-container>
      </ng-template>

      <ng-template #rowTemplate let-row="row">
        <div class="grid bia-form-row">
          <div
            *ngFor="let column of row.columns"
            [class]="column.columnClass ?? row.computedColumnClass">
            <ng-container [ngSwitch]="column.type">
              <ng-container *ngSwitchCase="'group'">
                <ng-container
                  *ngTemplateOutlet="
                    groupTemplate;
                    context: { group: column }
                  "></ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'field'">
                <ng-container
                  *ngTemplateOutlet="
                    fieldTemplate;
                    context: { field: column.fieldConfig }
                  "></ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngFor="let field of fieldsWithoutLayoutConfig">
      <ng-container
        *ngTemplateOutlet="
          fieldTemplate;
          context: { field: field }
        "></ng-container>
    </ng-container>
  </div>
  <div class="footer-container bia-form-fixed-buttons">
    <div class="flex gap-2 align-items-center info-locked-container">
      <button
        *ngIf="isCrudItemOutdated"
        pButton
        class="info-locked-button"
        type="button"
        icon="pi pi-info"
        [rounded]="true"
        severity="warn"
        [outlined]="true"
        size="small"></button>
      <span *ngIf="isCrudItemOutdated" class="info-locked-label">{{
        'bia.outdatedData' | translate
      }}</span>
    </div>
    <div class="flex gap-3">
      <button
        pButton
        icon="pi pi-times"
        label="{{ cancelButtonLabel | translate }}"
        type="button"
        class="p-button-outlined"
        (click)="onCancel()"></button>
      <button
        *ngIf="isSubmitButtonVisible"
        pButton
        icon="pi {{ submitButtonIcon }}"
        label="{{ submitButtonLabel | translate }}"
        type="submit"
        [disabled]="isSubmitButtonDisabled"></button>
    </div>
  </div>

  <ng-template #fieldTemplate let-field="field">
    <div
      *ngIf="field.isVisible === true"
      class="flex flex-row align-items-center"
      #refFormField>
      <div class="app-field-container">
        <ng-template
          [ngIf]="field.isEditable === true"
          [ngIfElse]="isNotEditable">
          <bia-input
            [field]="field"
            [form]="form"
            [dictOptionDtos]="dictOptionDtos"
            [readOnly]="readOnly">
            <ng-template pTemplate="specificInput">
              <ng-container
                *ngTemplateOutlet="
                  specificInputTemplate;
                  context: { field: field, form: form }
                "></ng-container>
            </ng-template>
          </bia-input>
        </ng-template>
        <ng-template #isNotEditable>
          <bia-output [field]="field" [data]="getCellData(field)">
            <ng-template pTemplate="specificOutput">
              <ng-container
                *ngTemplateOutlet="
                  specificOutputTemplate;
                  context: { field: field, data: getCellData(field) }
                "></ng-container>
            </ng-template>
          </bia-output>
        </ng-template>
      </div>
    </div>
  </ng-template>
</form>
