<form (submit)="onSubmit()" fxLayout="column" [formGroup]="form">
  <ng-container *ngFor="let col of columns">
    <div fxLayout="row" fxLayoutAlign="center">
      <div class="app-field-container" fxFlex="90">
        <bia-field
          [col]="col"
          [form]="form"
          [dictOptionDtos]="dictOptionDtos"
        >
        <ng-template pTemplate="specificInput" let-col="col" let-form="form">
          <ng-container *ngTemplateOutlet="specificInputTemplate;context: { col: col, form: form }" ></ng-container>
        </ng-template>
        </bia-field>
      </div>
    </div>
  </ng-container>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end">
    <button pButton label="{{ 'bia.save' | translate }}" type="submit" [disabled]="!form.valid"></button>
    <button
      pButton
      label="{{ 'bia.cancel' | translate }}"
      type="button"
      class="p-button-outlined"
      (click)="onCancel()"
    ></button>
  </div>
</form>