<form (submit)="onSubmit()" fxLayout="column" [formGroup]="form">
  <ng-container *ngFor="let col of columns">
    <div fxLayout="row" fxLayoutAlign="center">
      <div class="app-field-container" fxFlex="90">
        <ng-container *ngIf="col.specificInput === true">
          <ng-container *ngTemplateOutlet="specificInputTemplate;context: { col: col, rowData: rowData, form: form }" ></ng-container>
        </ng-container>
        <ng-container [ngSwitch]="col.type" *ngIf="col.specificInput !== true">
          <ng-container *ngSwitchCase="'OneToMany'">
            <span class="p-float-label">
              <p-dropdown
                [options]="getOptionDto(col.field)"
                placeholder="&nbsp;"
                [formControlName]="col.field"
                optionLabel="display"
                datakey="id"
                [style]="{ width: '100%' }"
                [showClear]="true"
                appendTo="body"
              ></p-dropdown>
              <label><span class="bia-star-mandatory" *ngIf="col.isRequired">*</span>{{ col.header | translate }}</label>
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'ManyToMany'">
            <p-multiSelect
              defaultLabel="&nbsp;"
              [formControlName]="col.field"
              [options]="getOptionDto(col.field)"
              optionLabel="display"
              datakey="id"
              (onChange)="onChange()"
              (onPanelShow)="onPanelShowMultiSelect()"
              (onPanelHide)="onPanelHideMultiSelect()"
              appendTo="body"
              [style]="{ width: '100%' }"
            ></p-multiSelect>
          </ng-container>
          <ng-container *ngSwitchCase="'Boolean'">
            <p-checkbox binary="true" [formControlName]="col.field" label="{{ col.header | translate }}"></p-checkbox>
          </ng-container>
          <ng-container *ngSwitchCase="'Number'">
            <span class="p-float-label">
              <input [formControlName]="col.field" type="number" pInputText style="width: 100%;" />
              <label><span class="bia-star-mandatory" *ngIf="col.isRequired">*</span>{{ col.header | translate }}</label>
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'Date'">
            <span class="p-float-label">
              <p-calendar
                biaLocale
                [formControlName]="col.field"
                placeholder="&nbsp;"
                showButtonBar="true"
                appendTo="body"
                dateFormat="yy-mm-dd"
                inputStyle="{'width':'100%'}"
              ></p-calendar>
              <label><span class="bia-star-mandatory" *ngIf="col.isRequired">*</span>{{ col.header | translate }}</label>
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'Time'">
            <span class="p-float-label">
              <p-calendar
              [formControlName]="col.field"
                showTime="true"
                showSeconds="false"
                timeOnly="true"
                dateFormat="yy-mm-dd"
                placeholder="&nbsp;"
                inputStyle="{'width':'100%'}"
                appendTo="body"
              ></p-calendar>
              <label><span class="bia-star-mandatory" *ngIf="col.isRequired">*</span>{{ col.header | translate }}</label>
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'TimeOnly'">
            <span class="p-float-label">
              <p-calendar
              [formControlName]="col.field"
                showTime="true"
                showSeconds="false"
                timeOnly="true"
                placeholder="&nbsp;"
                dataType="string"
                inputStyle="{'width':'100%'}"
                appendTo="body"
              ></p-calendar>
              <label><span class="bia-star-mandatory" *ngIf="col.isRequired">*</span>{{ col.header | translate }}</label>
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'TimeSecOnly'">
            <span class="p-float-label">
              <p-calendar
              [formControlName]="col.field"
                showTime="true"
                showSeconds="true"
                timeOnly="true"
                placeholder="&nbsp;"
                dataType="string"
                inputStyle="{'width':'100%'}"
                appendTo="body"
              ></p-calendar>
              <label><span class="bia-star-mandatory" *ngIf="col.isRequired">*</span>{{ col.header | translate }}</label>
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'DateTime'">
            <span class="p-float-label">
              <p-calendar
                biaLocale
                [formControlName]="col.field"
                showTime="true"
                dateFormat="yy-mm-dd"
                placeholder="&nbsp;"
                [inputStyle]="{'width':'100%'}"
                appendTo="body"
              ></p-calendar>
              <label><span class="bia-star-mandatory" *ngIf="col.isRequired">*</span>{{ col.header | translate }}</label>
            </span>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <span class="p-float-label">
              <input [formControlName]="col.field" type="text" pInputText maxlength="col.maxlength" style ="width:100%"/>
              <label><span class="bia-star-mandatory" *ngIf="col.isRequired">*</span>{{ col.header | translate }}</label>
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end">
    <button pButton label="{{ 'bia.save' | translate }}" type="submit" [disabled]="!form.valid"></button>
    <button
      pButton
      label="{{ 'bia.cancel' | translate }}"
      type="button"
      class="p-button-outlined"
      (click)="onCancel()"
    ></button>
  </div>
</form>