@if (crudItemService.crudItem$ | async; as crudItem) {
  <app-flight-form
    [crudItem]="crudItem"
    [fields]="crudConfiguration.fieldsConfig.columns"
    [formLayoutConfig]="crudConfiguration.formLayoutConfig"
    [formReadOnlyMode]="formReadOnlyMode"
  [dictOptionDtos]="
    (flightService.optionsService.dictOptionDtos$ | async) ?? []
  "
    [isCrudItemOutdated]="isCrudItemOutdated"
    [showSubmitButton]="canEdit"
    [showFixableState]="crudConfiguration.isFixable"
    [canFix]="canFix"
    (cancelled)="onCancelled()"
    (save)="onSubmitted($event)"
    (fixedChanged)="crudItemService.updateFixedStatus(crudItem.id, $event)"
  (readOnlyChanged)="onReadOnlyChanged($event)"></app-flight-form>
}
@if (flightService.loadingGet$ | async) {
  <bia-spinner
  [overlay]="true"></bia-spinner>
}
