@use 'bia-variables';

:host ::ng-deep {
  .bia-import-accordion {
    .bia-import-tab-error .p-accordion-header-link {
      background-color: rgba(bia-variables.$biaRed, 0.5) !important;
    }
    .bia-import-selected .p-accordion-header-link {
      background-color: rgba(bia-variables.$biaGreen, 0.5) !important;
    }
  }
}
.container {
  display: flex;
  gap: 20px;
  align-items: center;
}
