<form (submit)="onSubmit()" class="flex flex-column" [formGroup]="form">
  <div
    class="p-fluid app-field-container flex flex-column justify-content-start">
    <div class="flex flex-row justify-content-center">
      <div class="app-field-container flex-1" style="max-width: 50%">
        <div
          *ngIf="useKeycloak !== true && domains.length > 1"
          class="p-float-label">
          <p-dropdown
            [options]="domains"
            placeholder="&nbsp;"
            formControlName="domains"
            optionLabel="displayName"
            showClear="true"
            (onChange)="onDomainChange($event)"
            [style]="{ width: '100%' }"
            appendTo="body"></p-dropdown>
          <label>LDAP Domain</label>
        </div>
      </div>
      <div class="app-field-container flex-1" style="max-width: 10%"></div>
      <div class="app-field-container flex-1" style="max-width: 30%">
        <div class="p-float-label">
          <p-dropdown
            [options]="returnSizeOptions"
            placeholder="&nbsp;"
            formControlName="returnSize"
            [style]="{ width: '100%' }"
            appendTo="body"></p-dropdown>
          <label>{{ 'bia.itemsBySearch' | translate }}</label>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-content-center">
      <div class="app-field-container flex-1" style="max-width: 90%">
        <div class="p-float-label">
          <p-autoComplete
            [multiple]="true"
            formControlName="selectedUsers"
            [suggestions]="users"
            [delay]="700"
            (completeMethod)="onSearchUsers($event)"
            [size]="30"
            [minLength]="3"
            field="displayName"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            appendTo="body"></p-autoComplete>
          <label>{{ 'bia.select' | translate }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-1 justify-content-end">
    <button
      pButton
      label="{{ 'bia.save' | translate }}"
      type="submit"
      [disabled]="!form.valid"></button>
    <button
      pButton
      label="{{ 'bia.cancel' | translate }}"
      type="button"
      class="p-button-outlined"
      (click)="onCancel()"></button>
  </div>
</form>
