<div class="layout-menu-profile">
  <button
    (click)="toggleMenu()"
    pTooltip="Profile"
    [tooltipDisabled]="isTooltipDisabled">
    <div #menuProfile>
      <ng-content select="[menu-profile-replace]"></ng-content>
    </div>
    @if (!menuProfile.innerHTML.length) {
      <img
        *ngIf="layoutService.config().showAvatar"
        [src]="avatarUrl"
        (error)="onImgError()"
        alt="avatar"
        class="avatar" />
      <span class="text-start" [innerHTML]="menuProfileHtml"></span>
    }
    <i class="layout-menu-profile-toggler pi pi-fw pi-angle-down"></i>
  </button>

  <div
    *ngIf="menuProfileActive"
    class="overflow-y"
    [@menu]="
      isHorizontal && !layoutService.state.isSmallScreen ? 'overlay' : 'inline'
    ">
    @if (
      !layoutService.state.isSmallScreen &&
      (layoutService.isHorizontal() ||
        layoutService.isSlim() ||
        layoutService.isSlimPlus() ||
        layoutService.isDrawer())
    ) {
      <p-dialog
        header="{{ 'bia.settings' | translate }}"
        [focusOnShow]="false"
        [(visible)]="menuProfileActive"
        [modal]="true"
        [closable]="true"
        [responsive]="true"
        [maximizable]="false"
        [closeOnEscape]="true"
        [contentStyle]="{ overflow: 'auto' }">
        <ng-container *ngTemplateOutlet="ultimaConfig"></ng-container>
      </p-dialog>
    } @else {
      <ng-container *ngTemplateOutlet="ultimaConfig"></ng-container>
    }
  </div>
</div>

<ng-template #ultimaConfig>
  <div class="p-3">
    <small
      *ngIf="layoutService.configDisplay().showEditAvatar && urlEditAvatar">
      <i class="pi pi-pencil"></i
      ><a class="edit-avatar" [href]="urlEditAvatar" target="_blank">{{
        'bia.editProfileImage' | translate
      }}</a>
    </small>
    @if (
      authService.hasPermission(permissions.Impersonation_Connection_Rights)
    ) {
      <form (ngSubmit)="connectWithSpecificRights()">
        <div class="flex mt-3">
          <input
            type="text"
            name="signInAs"
            pInputText
            [(ngModel)]="signInAs"
            placeholder="{{ 'bia.signInAs' | translate }}" />
          <button
            [disabled]="!signInAs"
            pButton
            type="submit"
            icon="pi pi-user"
            pTooltip="{{ 'bia.signIn' | translate }}"
            (click)="connectWithSpecificRights()"></button>
        </div>
      </form>
    }
    <div>
      <ng-content select="[menu-profile-panel]"></ng-content>
    </div>
  </div>
</ng-template>
