<h1 *ngIf="this.pageTitle && this.pageTitle.length > 0" class="BiaPageTitle">
  {{ this.pageTitle | translate }}
</h1>
<div
  #leftContainer
  class="left-container bia-classic-page-margin"
  [ngStyle]="{
    width: outlet.isActivated ? leftWidth + '%' : '100%',
  }">
  <ng-template #dynamic></ng-template>
</div>
@if (outlet.isActivated) {
  <div class="handle" (mousedown)="startResize($event)"></div>
}
<div
  #rightContainer
  [hidden]="!outlet.isActivated"
  class="right-container bia-classic-page-margin"
  [ngStyle]="{
    height: defaultContainerHeight,
    width: 100 - leftWidth + '%',
  }">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
