:host.scrolling-notification {
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  pointer-events: none;
}

.container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: yellow;
  display: flex;
  align-items: center;
}

.scrolling-text {
  position: absolute;
  white-space: nowrap;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  left: 100%;
  background-color: rgba($color: red, $alpha: 0.5);
}
