:host {
  flex-direction: column;
}
:host ::ng-deep {
  p-table {
    .searchTR {
      .p-float-label {
        .p-inputtext {
          padding-top: 2px !important;
        }
      }
    }
  }
}

.app-empty-message {
  text-align: center !important;
}

table {
  width: 100%;
}

.bia-table-select-col {
  width: 60px;
}

.bia-column-icon {
  position: relative;
  top: 2px;
}

.p-sortable-column[aria-sort="none"] {
    p-sorticon {
      display: none;
  }
}