<p-table
  *ngIf="configuration"
  #dt
  [autoLayout]="true"
  [reorderableColumns]="true"
  [columns]="displayedColumns"
  [value]="elements"
  [paginator]="paginator"
  [rows]="pageSize"
  (onFilter)="onFilter()"
  [totalRecords]="totalRecord"
  [lazy]="true"
  [loading]="loading && (showLoading$ | async) !== null"
  (onLazyLoad)="onLoadLazy($event)"
  [stateStorage]="'session'"
  [stateKey]="tableStateKey"
  [lazyLoadOnInit]="getLazyLoadOnInit()"
  [sortField]="sortFieldValue"
  [sortOrder]="sortOrderValue"
  (onStateSave)="onStateSave($event)"
  (selectionChange)="onSelectionChange()"
  styleClass="p-datatable-striped"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="bia-table-select-col" *ngIf="canSelectElement">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <ng-container *ngFor="let col of columns">
        <th *ngIf="col?.isSortable === true" [pSortableColumn]="col.field" pReorderableColumn>
          <span class="nowrap">
            <ng-container *ngIf="!!col?.icon; else HeaderNoIcon">
              <i
                class="{{ col?.icon }} bia-column-icon"
                pTooltip="{{ col?.header | translate }}"
                tooltipPosition="top"
              ></i>
            </ng-container>
            <ng-template #HeaderNoIcon> {{ col?.header | translate }}</ng-template>
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </span>
        </th>
        <th *ngIf="col?.isSortable !== true" pReorderableColumn>
          <span class="nowrap">
            <ng-container *ngIf="!!col?.icon; else HeaderNoIcon">
              <i
                class="{{ col?.icon }} bia-column-icon"
                pTooltip="{{ col?.header | translate }}"
                tooltipPosition="top"
              ></i>
            </ng-container>
            <ng-template #HeaderNoIcon> {{ col?.header | translate }}</ng-template>
          </span>
        </th>
      </ng-container>
    </tr>
    <tr *ngIf="showColSearch" class="searchTR">
      <th *ngIf="canSelectElement"></th>
      <th *ngFor="let col of columns" [ngSwitch]="col.field" pReorderableColumn>
        <bia-table-filter [col]="col" [table]="dt"> </bia-table-filter>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngIf="canSelectElement">
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td (click)="clickElementData(rowData)" *ngFor="let col of columns">
        <bia-table-output [field]="col" [data]="getCellData(rowData, col)">
          <ng-template pTemplate="specificOutput">
            <ng-container
              *ngTemplateOutlet="
                specificOutputTemplate;
                context: { rowData: rowData, field: col, data: getCellData(rowData, col) }
              "
            ></ng-container>
          </ng-template>
        </bia-table-output>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td class="app-empty-message" [attr.colspan]="columns?.length + 1">
        {{ 'bia.NoRecordsFound' | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>
