<p-table
  *ngIf="configuration"
  #dt
  [autoLayout]="true"
  [reorderableColumns]="reorderableColumns"
  [resizableColumns]="isResizableColumn"
  [columnResizeMode]="'expand'"
  [columns]="displayedColumns"
  [value]="elements"
  [paginator]="!virtualScroll && paginator"
  [rows]="virtualScroll ? virtualScrollPageSize : pageSize"
  (onFilter)="onFilter()"
  [totalRecords]="totalRecord"
  [lazy]="true"
  [loading]="loading && (showLoading$ | async) !== null"
  (onLazyLoad)="onLoadLazy($event)"
  [stateStorage]="'session'"
  [stateKey]="tableStateKey"
  [lazyLoadOnInit]="getLazyLoadOnInit()"
  [sortField]="sortFieldValue"
  [sortOrder]="sortOrderValue"
  (onStateSave)="onStateSave($event)"
  (selectionChange)="onSelectionChange()"
  stripedRows
  [sortMode]="sortMode"
  [multiSortMeta]="multiSortMeta"
  [scrollHeight]="scrollHeightValue"
  [scrollable]="isScrollable"
  [(selection)]="selectedElements"
  [virtualScroll]="virtualScroll"
  [virtualScrollItemSize]="rowHeight"
  [virtualScrollOptions]="{ scrollHeight: scrollHeightValue }"
  dataKey="id"
  [expandedRowKeys]="expandedRows"
  (onRowExpand)="onRowExpand($event)"
  (onRowCollapse)="onRowCollapse($event)"
  (onPage)="pageChange.emit($event)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        class="bia-table-select-col"
        *ngIf="canSelectElement === true && !readOnly"
        [style.width]="widthSelect"
        [alignFrozen]="alignFrozenSelect"
        biaFrozenColumn
        [frozen]="isSelectFrozen">
        <p-tableHeaderCheckbox
          *ngIf="canSelectMultipleElement"></p-tableHeaderCheckbox>
      </th>
      <th
        *ngIf="canExpandRow"
        [style.width]="widthExpand"
        [alignFrozen]="alignFrozenSelect"
        biaFrozenColumn
        [frozen]="isSelectFrozen"></th>
      <th
        *ngIf="showFixableState"
        [style.width]="widthSelect"
        [alignFrozen]="alignFrozenSelect"
        biaFrozenColumn
        [frozen]="isSelectFrozen">
        {{ 'bia.fixed' | translate }}
      </th>
      <ng-container *ngFor="let col of columns">
        <th
          *ngIf="col?.isSortable === true"
          [pSortableColumn]="col.field"
          pReorderableColumn
          pResizableColumn
          [style.min-width]="col.minWidth"
          [style.max-width]="col.maxWidth"
          [alignFrozen]="col.alignFrozen"
          biaFrozenColumn
          [frozen]="col.isFrozen"
          pTooltip="{{
            isResizableColumn && !col?.icon ? (col?.header | translate) : ''
          }}"
          tooltipPosition="top">
          <span class="nowrap">
            <ng-container *ngIf="!!col?.icon; else HeaderNoIcon">
              <i
                class="{{ col?.icon }} bia-column-icon"
                pTooltip="{{ col?.header | translate }}"
                tooltipPosition="top"></i>
            </ng-container>
            <ng-template #HeaderNoIcon>
              {{ col?.header | translate }}</ng-template
            >
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </span>
        </th>
        <th
          *ngIf="col?.isSortable !== true"
          pReorderableColumn
          pResizableColumn
          [style.min-width]="col.minWidth"
          [style.max-width]="col.maxWidth"
          [alignFrozen]="col.alignFrozen"
          biaFrozenColumn
          [frozen]="col.isFrozen"
          pTooltip="{{
            isResizableColumn && !col?.icon ? (col?.header | translate) : ''
          }}"
          tooltipPosition="top">
          <span class="nowrap">
            <ng-container *ngIf="!!col?.icon; else HeaderNoIcon">
              <i
                class="{{ col?.icon }} bia-column-icon"
                pTooltip="{{ col?.header | translate }}"
                tooltipPosition="top"></i>
            </ng-container>
            <ng-template #HeaderNoIcon>
              {{ col?.header | translate }}</ng-template
            >
          </span>
        </th>
      </ng-container>
    </tr>
    <tr *ngIf="showColSearch === true" class="searchTR">
      <th
        *ngIf="canSelectElement === true && !readOnly"
        [style.width]="widthSelect"
        [alignFrozen]="alignFrozenSelect"
        biaFrozenColumn
        pResizableColumn
        [frozen]="isSelectFrozen"></th>
      <th
        *ngIf="canExpandRow"
        [style.width]="widthExpand"
        [alignFrozen]="alignFrozenSelect"
        biaFrozenColumn
        pResizableColumn
        [frozen]="isSelectFrozen"></th>
      <th
        *ngIf="showFixableState"
        [style.width]="widthSelect"
        [alignFrozen]="alignFrozenSelect"
        biaFrozenColumn
        pResizableColumn
        [frozen]="isSelectFrozen"></th>
      <th
        *ngFor="let col of columns"
        [ngSwitch]="col.field"
        pReorderableColumn
        pResizableColumn
        [style.min-width]="col.minWidth"
        [style.max-width]="col.maxWidth"
        [alignFrozen]="col.alignFrozen"
        biaFrozenColumn
        [frozen]="col.isFrozen">
        <bia-table-filter
          [field]="col"
          [table]="dt"
          [options]="getOptionDto(col.field)">
        </bia-table-filter>
      </th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
    let-ri="rowIndex"
    let-expanded="expanded">
    <tr [pSelectableRow]="rowData" [ngClass]="{ 'p-even-row': ri % 2 === 0 }">
      <td
        *ngIf="canSelectElement === true && !readOnly"
        [style.width]="widthSelect"
        [alignFrozen]="alignFrozenSelect"
        biaFrozenColumn
        [frozen]="isSelectFrozen">
        <ng-container *ngIf="rowData.id > 0">
          <ng-container
            *ngIf="canSelectMultipleElement === true; else selectSingleElement">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </ng-container>

          <ng-template #selectSingleElement>
            <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
          </ng-template>
        </ng-container>
      </td>
      <td
        *ngIf="canExpandRow"
        [class]="'bia-column-expand'"
        [style.width]="widthExpand"
        [alignFrozen]="alignFrozenSelect"
        biaFrozenColumn
        [frozen]="isSelectFrozen">
        <i
          [pRowToggler]="rowData"
          [class]="expanded ? 'pi pi-angle-down' : 'pi pi-angle-right'"></i>
      </td>
      <td
        *ngIf="showFixableState"
        [style.width]="widthSelect"
        [alignFrozen]="alignFrozenSelect"
        biaFrozenColumn
        [frozen]="isSelectFrozen">
        <ng-container *ngIf="rowData.isFixed === true">
          <div class="flex justify-content-center">
            <i class="pi pi-lock"></i>
          </div>
        </ng-container>
      </td>
      <td
        *ngFor="let col of columns"
        [class]="'bia-column-' + col.typeLowerCase"
        (click)="clickElementData(rowData)"
        [style.min-width]="col.minWidth"
        [style.max-width]="col.maxWidth"
        [alignFrozen]="col.alignFrozen"
        biaFrozenColumn
        [frozen]="col.isFrozen">
        <bia-table-output
          [field]="col"
          [data]="getCellData(rowData, col)"
          [ignoreSpecificOutput]="ignoreSpecificOutput">
          <ng-template pTemplate="specificOutput">
            <ng-container
              *ngTemplateOutlet="
                specificOutputTemplate;
                context: {
                  rowData: rowData,
                  field: col,
                  data: getCellData(rowData, col),
                }
              "></ng-container>
          </ng-template>
        </bia-table-output>
      </td>
    </tr>
  </ng-template>
  <ng-template *ngIf="canExpandRow" pTemplate="expandedrow" let-rowData>
    <tr>
      <td colspan="100%">
        <ng-container
          [ngTemplateOutlet]="expandedRowTemplate"
          [ngTemplateOutletContext]="{ data: rowData }"></ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody" let-columns="columns" let-ri="rowIndex">
    <tr
      [style]="'height: ' + rowHeight + 'px'"
      [ngClass]="{ 'p-even-row': ri % 2 !== 0 }">
      <td
        *ngIf="canSelectElement === true && !readOnly"
        [style.width]="widthSelect"
        [alignFrozen]="alignFrozenSelect"
        biaFrozenColumn
        [frozen]="isSelectFrozen">
        <p-skeleton
          [ngStyle]="{
            width: '60%',
          }" />
      </td>
      <td *ngFor="let col of columns; let even = even">
        <p-skeleton
          [ngStyle]="{
            width: even ? '40%' : '60%',
          }" />
      </td>
    </tr>
  </ng-template>
  <ng-container>
    <ng-template pTemplate="summary" let-columns>
      @if (virtualScroll) {
        <bia-table-footer-controller
          [length]="totalRecord"
          [pageSize]="pageSize"
          [canChangePageSize]="false"
          (pageSizeChange)="
            onPageSizeValueChange($event)
          "></bia-table-footer-controller>
      }</ng-template
  ></ng-container>
  <ng-template pTemplate="paginatorleft">
    <bia-table-footer-controller
      [length]="totalRecord"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [canChangePageSize]="!!pageSizeOptions"
      (pageSizeChange)="
        onPageSizeValueChange($event)
      "></bia-table-footer-controller>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td
        class="app-empty-message"
        [attr.colspan]="columns?.length + (showFixableState ? 2 : 1)">
        {{ 'bia.NoRecordsFound' | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>
