:host {
  flex-direction: column;
}
:host ::ng-deep {
  p-table {
    .searchTR {
      .p-float-label {
        .p-inputtext {
          padding-top: 2px!important;
        }
      }
    }
  }
}

.input-search {
  width: 99%;
}

.app-empty-message {
  text-align: center!important;
}

table {
  width: 100%;
}

.bia-table-select-col {
  width: 60px;
}