:host {
  display: block;
  width: 100%;
}

.bia-table-controller-container {
  padding-top: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;

  > div {
    display: flex;
    align-items: center;
  }
}

:host ::ng-deep {
  p-select {
    .p-select {
      height: auto;
    }
  }
}
