@if (crudItemService.crudItem$ | async; as crudItem) {
  <app-plane-type-form
    [crudItem]="crudItem"
    [fields]="crudConfiguration.fieldsConfig.columns"
    [formLayoutConfig]="crudConfiguration.formLayoutConfig"
    [dictOptionDtos]="
      (planeTypeService.optionsService.dictOptionDtos$ | async) ?? []
    "
    [isCrudItemOutdated]="isCrudItemOutdated"
    (cancelled)="onCancelled()"
    (save)="onSubmitted($event)"
    [showPopupButton]="showPopupButton"
    [showSplitButton]="showSplitButton"
    [showFullPageButton]="showFullPageButton"
    (layoutChanged)="notifyLayoutChange($event)"></app-plane-type-form>
}
@if (planeTypeService.loadingGet$ | async) {
  <bia-spinner [overlay]="true"></bia-spinner>
}
