<app-plane-type-form
  *ngIf="crudItemService.crudItem$ | async; let crudItem"
  [crudItem]="crudItem"
  [fields]="crudConfiguration.fieldsConfig.columns"
  [formConfig]="crudConfiguration.formConfig"
  [dictOptionDtos]="
    (planeTypeService.optionsService.dictOptionDtos$ | async) ?? []
  "
  [isCrudItemOutdated]="isCrudItemOutdated"
  (cancelled)="onCancelled()"
  (save)="onSubmitted($event)"></app-plane-type-form>
<bia-spinner
  *ngIf="planeTypeService.loadingGet$ | async"
  [overlay]="true"></bia-spinner>
