<ng-container *ngIf="field !== undefined && field.specificOutput === true">
  <ng-container *ngTemplateOutlet="specificOutputTemplate;context: { field: field, data: data }" ></ng-container>
</ng-container>
<ng-container [ngSwitch]="field.type" *ngIf="field !== undefined && field.specificOutput !== true">
  <ng-container *ngSwitchCase="'OneToMany'">
    {{ data?.display }}
  </ng-container>
  <ng-container *ngSwitchCase="'ManyToMany'">
    {{ data | pluck: 'display'| join: ', ' }}
  </ng-container>
  <ng-container *ngSwitchCase="'Boolean'">
    <i class="pi pi-check" *ngIf="data === true"></i>
  </ng-container>
  <ng-container *ngSwitchDefault>
      {{ data | formatValue: field }}
  </ng-container>
</ng-container>