@layer primeng {
  p-breadcrumb {
    .p-breadcrumb {
      height: 2.45rem;
      padding: 0.4rem 0.25rem 0.25rem 0.25rem;
    }

    .p-menuitem-text {
      font-size: 0.9em !important;
      font-weight: 100 !important;
      line-height: 1.7rem !important;
    }

    .p-menuitem-separator .p-icon {
      width: 0.6rem;
      height: 0.6rem;
      color: $biaTitleColor;
    }
  }

  .p-breadcrumb li .p-menuitem-link .p-menuitem-icon {
    color: $biaTitleColor;
  }

  .p-breadcrumb li .p-menuitem-link .p-menuitem-text {
    color: $biaTitleColor;
  }

  .p-breadcrumb li .p-menuitem-link .p-menuitem-icon {
    color: $biaTitleColor;
  }

  .p-breadcrumb li:last-child .p-menuitem-text {
    color: $primaryColor;
  }

  .p-breadcrumb li:last-child .p-menuitem-icon {
    color: $primaryColor;
  }
}

p-breadcrumb .p-breadcrumb .p-menuitem-link {
  padding: 0rem 0.5rem;
}
