@layer primeng {
  .p-button {
    &:disabled {
      background-color: $primaryColor !important;
      color: $primaryTextColor !important;
      opacity: $disabledOpacity !important;
      &.p-button-outlined {
        background-color: transparent !important;
        color: rgba(0, 0, 0, 0.38) !important;
        border-color: rgba(0, 0, 0, 0.38) !important;
      }
    }
    color: $primaryTextColor;
    line-height: 2.143em !important;
    &.p-button-outlined {
      color: $primaryColor;
    }

    & .p-badge.p-badge-dot {
      width: 0.5rem;
      min-width: 0.5rem;
      height: 0.5rem;
      transform: translate(-50%, 50%);
    }
  }

  .bia-table-controller-container {
    white-space: nowrap;
    .pi.disabled {
      opacity: $disabledOpacity !important;
    }
    .pi.enable {
      color: $primaryColor !important;
    }
  }
}

.p-button.p-button-icon-only {
  padding: 0;
}
