body .p-datatable .p-datatable-tbody > tr {
  background: $biaBgHoverColor;
  border: 1px solid #d7d7d7;
}
body .p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background-color: $biaBgColor;
  border: 1px solid #d7d7d7;
}


p-celleditor {
  .p-inputtext {
    padding:0;
  }
  .p-multiselect-label {
    padding:0!important;
  }
  
}
p-table {
  .p-widget-overlay {
    background-color: $biaBgColor !important;
  }
  table {
    thead {
      tr:first-child th {
        border-top-width: 0px !important;
        font-weight: 800 !important;
      }
    }

    tr,
    th,
    td {
      border-left-width: 0px !important;
      border-right-width: 0px !important;
    }

  }
}

p-paginator .p-paginator {
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-top-width: 0px !important;
  border-bottom-width: 0px !important;
  background-color: $biaBgColor !important;

  .p-paginator-prev:before,
  .p-paginator-next:before,
  .p-paginator-last:before,
  .p-paginator-first:before,
  .p-paginator-element {
    color: $biaFgTextColor !important;
  }

  .p-paginator-pages {
    a {
      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
    }
    a.p-state-active {
      background-color: $primaryColor !important;
      // color: $biaBgColor !important;
      color: $accentTextColor !important;
    }
  }
}

body .p-dataview .p-dataview-header {
  background-color: $contentBgColor;
}
