body .p-datatable .p-datatable-tbody > tr.p-datatable-row-selected {
  background: var(--p-datatable-row-selected-background) !important;
  color: var(--p-datatable-row-selected-color);
}

body .p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background-color: var(--p-datatable-row-background);
}

// body .p-datatable .p-datatable-tbody > tr > td {
//   border-top-width: 1px;
//   border-top-color: #d7d7d7;
//   border-top-style: solid;
// }

// body .p-datatable .p-datatable-tbody > tr:last-child > td {
//   border-bottom-width: 1px;
//   border-bottom-color: #d7d7d7;
//   border-bottom-style: solid;
// }

// tr.p-selectable-row.p-highlight td {
//   color: var(--p-primary-color) !important;
// }

// p-celleditor {
//   .p-inputtext {
//     padding: 0;
//   }

//   .p-multiselect-label {
//     padding: 0 !important;
//   }
// }

// p-table {
//   .p-widget-overlay {
//     background-color: var(--p-datatable-row-background) !important;
//   }

//   table {
//     thead {
//       tr:first-child th {
//         border-top-width: 0px !important;
//         font-weight: 800 !important;
//       }
//     }

//     tr,
//     th,
//     td {
//       border-left-width: 0px !important;
//       border-right-width: 0px !important;
//     }
//   }
// }

// body .p-dataview .p-dataview-header {
//   background-color: var(--p-datatable-row-background);
// }

.p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr:nth-child(odd)
  .p-datatable-frozen-column {
  background: var(--p-datatable-row-striped-background);
}

.p-datatable
  .p-datatable-tbody
  > tr.p-datatable-row-selected
  .p-datatable-frozen-column {
  background: var(--p-datatable-row-selected-background) !important;
  color: var(--p-datatable-row-selected-color);
}
