.p-datatable .p-datatable-footer {
  border: none;
  background-color: var(--surface-ground);
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-even-row,
.p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr.p-even-row
  .p-datatable-frozen-column {
  background: var(--p-datatable-row-background);
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:not(.p-even-row),
.p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr:not(.p-even-row)
  .p-datatable-frozen-column {
  background: var(--p-datatable-row-striped-background);
}

.p-datatable .p-datatable-footer {
  padding: 0.375rem 0.75rem;
  height: 3.285rem;
  display: flex;
  align-items: center;
  box-sizing: content-box;
}

.p-datatable .p-datatable-footer:empty {
  display: none;
}
