// frozen-column
.p-datatable-scrollable .p-datatable-frozen-column {
  z-index: 1;
}

// tfoot
.p-datatable-scrollable .p-datatable-tfoot tr {
  background: var(--p-datatable-footer-background);
}

.p-datatable-scrollable .p-datatable-tfoot tr td {
  background: var(--p-datatable-footer-cell-background);
}

// footer
.p-datatable .p-datatable-footer {
  border: none;
  background-color: var(--surface-ground);
}

.p-datatable .p-datatable-footer {
  padding: 0.375rem 0.75rem;
  height: 3.285rem;
  display: flex;
  align-items: center;
  box-sizing: content-box;
}

.p-datatable .p-datatable-footer:empty {
  display: none;
}
