<bia-crud-item-form
  *ngIf="crudItemService.crudItem$ | async; let crudItem"
  [crudItem]="crudItem"
  [fields]="crudConfiguration.fieldsConfig.columns"
  [formLayoutConfig]="crudConfiguration.formLayoutConfig"
  [formReadOnlyMode]="formReadOnlyMode"
  [showSubmitButton]="canEdit"
  [dictOptionDtos]="
    (crudItemService.optionsService.dictOptionDtos$ | async) ?? []
  "
  [isCrudItemOutdated]="isCrudItemOutdated"
  [showFixableState]="crudConfiguration.isFixable"
  [canFix]="canFix"
  (cancelled)="onCancelled()"
  (save)="onSubmitted($event)"
  (fixedChanged)="
    crudItemService.updateFixedStatus(crudItem.id, $event)
  "></bia-crud-item-form>
<bia-spinner
  *ngIf="crudItemService.loadingGet$ | async"
  [overlay]="true"></bia-spinner>
