<div>
  <div>
    <bia-table-header
      [headerTitle]="'notification.listOf' | translate"
      [canAdd]="canAdd"
      [canDelete]="canDelete"
      [canExportCSV]="true"
      (create)="onCreate()"
      (exportCSV)="onExportCSV()"
      (delete)="onDelete()"
      [selectedElements]="selectedNotifications"></bia-table-header>
    <bia-table-controller
      [defaultPageSize]="defaultPageSize"
      [length]="(totalCount$ | async) ?? 0"
      [columns]="columns"
      [columnToDisplays]="displayedColumns"
      (displayedColumnsChange)="displayedColumnsChanged($event)"
      (filter)="searchGlobalChanged($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      (toggleSearch)="onToggleSearch()"
      (viewChange)="onViewChange($event)"
      [tableStateKey]="tableStateKey"
      [hasColumnFilter]="hasColumnFilter"></bia-table-controller>
    <bia-table
      [elements]="(notifications$ | async) ?? []"
      [totalRecord]="(totalCount$ | async) ?? 0"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="tableConfiguration"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canClickRow]="canRead"
      [canSelectElement]="canDelete"
      [loading]="(loading$ | async) ?? false"
      (clickRowId)="onDetail($event)"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"></bia-table>
  </div>
</div>
