<app-plane-specific-form
  [crudItem]="crudItem"
  [isAdd]="true"
  [fields]="crudConfiguration.fieldsConfig.columns"
  [formLayoutConfig]="crudConfiguration.formLayoutConfig"
  [dictOptionDtos]="(planeService.optionsService.dictOptionDtos$ | async) ?? []"
  (cancelled)="onCancelled()"
  (save)="onSubmitted($event)"
  [showPopupButton]="showPopupButton"
  [showSplitButton]="showSplitButton"
  [showFullPageButton]="showFullPageButton"
  (layoutChanged)="notifyLayoutChange($event)"></app-plane-specific-form>
