@if (crudItemService.crudItem$ | async; as crudItem) {
  <app-plane-specific-form
    [crudItem]="crudItem"
    [fields]="crudConfiguration.fieldsConfig.columns"
    [formLayoutConfig]="crudConfiguration.formLayoutConfig"
    [formReadOnlyMode]="formReadOnlyMode"
    [dictOptionDtos]="(planeService.optionsService.dictOptionDtos$ | async) ?? []"
    [isCrudItemOutdated]="isCrudItemOutdated"
    [showSubmitButton]="canEdit"
    (cancelled)="onCancelled()"
    (save)="onSubmitted($event)"
  (readOnlyChanged)="onReadOnlyChanged($event)"></app-plane-specific-form>
}
@if (planeService.loadingGet$ | async) {
  <bia-spinner
  [overlay]="true"></bia-spinner>
}
