<div
  class="layout-sidebar"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">
  <div class="layout-sidebar-top">
    <div class="logos flex justify-content-center">
      <a class="project-title" routerLink="/">
        <img alt="appicon" class="app-logo" [src]="urlAppIcon" />
        <div class="app-title">
          <div>{{ appTitle }}</div>
          <span class="project-version">&nbsp;v{{ version }}</span>
        </div>
      </a>
    </div>
    <div class="layout-sidebar-anchor" (click)="anchor()"></div>
  </div>
  <ng-container *ngIf="layoutService.config().menuProfilePosition === 'start'">
    <ng-container *ngTemplateOutlet="menuProfile"></ng-container>
  </ng-container>
  <ng-content select="[sidebar-top]" ngProjectAs="[sidebar-top]"></ng-content>
  <div #menuContainer class="layout-menu-container">
    <bia-ultima-menu [menuItems]="navMenuItems">
      <ng-content select="[menu-top]" ngProjectAs="[menu-top]"></ng-content>
      <ng-content
        select="[menu-bottom]"
        ngProjectAs="[menu-bottom]"></ng-content>
    </bia-ultima-menu>
  </div>
  <ng-content
    select="[sidebar-bottom]"
    ngProjectAs="[sidebar-bottom]"></ng-content>
  <ng-container *ngIf="layoutService.config().menuProfilePosition === 'end'">
    <ng-container *ngTemplateOutlet="menuProfile"></ng-container>
  </ng-container>
</div>

<ng-template #menuProfile>
  <bia-ultima-menu-profile
    [username]="username"
    [lastname]="lastname"
    [login]="login">
    <ng-content
      select="[menu-profile-replace]"
      ngProjectAs="[menu-profile-replace]">
    </ng-content>
    <ng-content
      select="[menu-profile-panel]"
      ngProjectAs="[menu-profile-panel]">
    </ng-content>
  </bia-ultima-menu-profile>
</ng-template>
