<app-aircraft-maintenance-company-form
  *ngIf="aircraftMaintenanceCompanyService.crudItem$ | async; let crudItem"
  [crudItem]="crudItem"
  [fields]="crudConfiguration.fieldsConfig.columns"
  [formLayoutConfig]="crudConfiguration.formLayoutConfig"
  [dictOptionDtos]="
    (aircraftMaintenanceCompanyService.optionsService.dictOptionDtos$
      | async) ?? []
  "
  [isCrudItemOutdated]="isCrudItemOutdated"
  (cancelled)="onCancelled()"
  (save)="onSubmitted($event)"
  [showPopupButton]="showPopupButton"
  [showSplitButton]="showSplitButton"
  [showFullPageButton]="showFullPageButton"
  (layoutChanged)="
    notifyLayoutChange($event)
  "></app-aircraft-maintenance-company-form>
<bia-spinner
  *ngIf="aircraftMaintenanceCompanyService.loadingGet$ | async"
  [overlay]="true"></bia-spinner>
