<div
  class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch">
  <button
    pButton
    *ngIf="canDelete === true"
    [disabled]="!viewSelected"
    label="{{ 'bia.delete' | translate }}"
    (click)="onDeleteView(viewSelected?.id)"></button>
  <button
    pButton
    *ngIf="showLinkWithTeam()"
    [disabled]="!viewSelected"
    label="{{ 'bia.views.linkWithTeam' | translate }}"
    (click)="onAssignViewToTeam(viewSelected?.id, true)"></button>
  <button
    pButton
    *ngIf="showUnLinkWithTeamAsDelete()"
    [disabled]="!viewSelected"
    label="{{ 'bia.delete' | translate }}"
    (click)="onAssignViewToTeamWithDelete(viewSelected?.id, false)"></button>
  <button
    pButton
    *ngIf="showUnlinkWithTeam()"
    [disabled]="!viewSelected"
    label="{{ 'bia.views.unlinkWithTeam' | translate }}"
    (click)="onAssignViewToTeam(viewSelected?.id, false)"></button>
  <button
    pButton
    *ngIf="showDefineDefault()"
    [disabled]="!viewSelected"
    label="{{ 'bia.views.defineDefault' | translate }}"
    (click)="onSetDefaultView(viewSelected?.id, true)"></button>
  <button
    pButton
    *ngIf="!showDefineDefault()"
    label="{{ 'bia.views.removeDefault' | translate }}"
    (click)="onSetDefaultView(viewSelected?.id, false)"></button>
</div>
<p-table
  #viewTeamTable
  [value]="views"
  [sortField]="'name'"
  [scrollable]="true"
  scrollHeight="40vh"
  dataKey="id"
  (selectionChange)="onSelectionChange()">
  <ng-template pTemplate="header">
    <tr>
      <th *ngIf="canUpdate" class="app-action-col">
        {{ 'bia.select' | translate }}
      </th>
      <th>{{ 'bia.views.name' | translate }}</th>
      <th>{{ 'bia.views.description' | translate }}</th>
      <th>{{ 'app.teams' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-view>
    <tr [pSelectableRow]="view">
      <td *ngIf="canUpdate" class="app-action-col">
        <p-tableRadioButton [value]="view"></p-tableRadioButton>
      </td>
      <td>
        {{ view.name }}
        <i *ngIf="isTeamDefault(view) === true" class="pi pi-star"></i>
      </td>
      <td>{{ view.description }}</td>
      <td>{{ formatTeams(view.viewTeams) }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-view>
    <tr>
      <td class="app-empty-message" [attr.colspan]="3">
        {{ 'bia.NoRecordsFound' | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog key="view-team-confirm"></p-confirmDialog>
