@import '../../../../../../../scss/bia/bia-variables';

:host {
  display: flex;
}

.logos,
.controls {
  .separator {
    height: 24px;
    border-left: 1px solid;
  }
  a {
    display: flex;
  }
}

.fullscreen-exit {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 999;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & > i {
    font-size: 1.25rem;
  }
}

.app-full-screen {
  margin-right: 16px;
  margin-left: 8px;
}

.app-icon-header {
  margin-top: auto;
  margin-bottom: auto;
}

.notification-actions {
  margin-top: 16px;
}

bia-notification-team-warning {
  padding-top: 16px;
}

:host ::ng-deep {
  // adjust height in topbar at minimu (35px)
  .p-megamenu-root-list > .p-menuitem > .p-menuitem-content > .p-menuitem-link {
    padding: 0px;
  }

  .separator {
    font-size: xxx-large;
    margin-right: 5px;
  }
  .p-component {
    border-width: 0px !important;
  }
  .p-megamenu,
  .p-megamenu-root-list {
    background-color: transparent !important;
  }

  p-menubar .p-menubar {
    .p-menubar-start {
      margin-right: auto;
    }
  }
  p-megamenu {
    display: flex;
    align-items: center;

    .p-megamenu {
      padding-bottom: 0;
      padding-top: 0;
    }

    .p-state-active {
      background-color: transparent;
    }
  }

  p-megamenu {
    .p-megamenu-panel {
      width: 10em;
    }

    .p-megamenu-submenu {
      width: 9em;
    }
    .p-menuitem-active > a {
      background-color: transparent !important;
    }
    .p-megamenu-root-list > li > .p-menuitem-content > .p-menuitem-link {
      > .p-menuitem-text,
      .p-submenu-icon {
        color: white !important;
      }
      > .p-menuitem-text {
        text-transform: uppercase !important;
      }
    }

    .p-menuitem-text {
      font-family: 'oswald-light';
    }
  }
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.project-title {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-family: 'oswald-regular';
  font-size: 1.25rem;

  .app-title {
    display: block;
    padding-top: 1.5rem;
    line-height: 1rem;
  }
}

.project-version {
  font-family: 'oswald-regular';
  font-size: 0.6rem;
}

.app-logo {
  height: 4rem;
  width: 4rem;
  margin-right: 0.5em;
  // https://codepen.io/sosuke/pen/Pjoqqp
  // hexa: #f8a92b
  filter: invert(60%) sepia(92%) saturate(376%) hue-rotate(356deg)
    brightness(98%) contrast(98%);
}

.layout-topbar-items {
  .notifications {
    position: relative;
    display: flex;

    .notification-count {
      position: absolute;
      top: 0;
      right: 1.5rem;
      z-index: 10;
      color: white;
      background: $biaRed;
      border-radius: 14%;
      font-size: 0.7rem;
      line-height: 0.75rem;
      padding: 1px 3px;
    }
  }
}
