.header {
  margin-bottom: 1rem;
  margin-top: 1rem;
  h1 {
    font-size: 1.75rem;
    font-weight: 200;
    margin: 0px;
    line-height: 1.75rem;
  }

  .cog {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    background: transparent;
    font-size: 0.7rem;
  }
}
