<div
  class="header flex flex-row gap-2 justify-content-between align-content-between">
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch">
    <ng-container *ngIf="showBtnFilter">
      <p-button
        *ngIf="showFilter === false"
        [style]="{ overflow: 'visible' }"
        icon="pi pi-filter"
        styleClass="p-overlay-badge"
        [text]="true"
        (click)="toggleFilter()"
        pTooltip="{{ 'msg.showFilters' | translate }}"
        tooltipPosition="top">
        <span class="cog pi pi-cog"></span>
        @if (hasFilter) {
          <span class="p-badge p-component p-badge-dot p-badge-warning"></span>
        }
      </p-button>
    </ng-container>
    <button
      type="button"
      pButton
      [disabled]="nbSelectedElements === 0"
      *ngIf="canDelete"
      icon="pi pi-trash"
      pTooltip="{{ 'bia.delete' | translate }}"
      tooltipPosition="top"
      (click)="onDelete()"></button>
    <ng-container *ngTemplateOutlet="actionOnSelectedTemplate"></ng-container>
  </div>
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch">
    <h1>{{ headerTitleComplete }}</h1>
    <p-button
      *ngIf="showTableControllerButton"
      styleClass="p-button-outlined"
      [icon]="
        'pi' +
        (tableControllerVisible
          ? ' pi-angle-double-up'
          : ' pi-angle-double-down')
      "
      (click)="toggleTableControllerVisibility.emit()"
      pTooltip="{{
        (tableControllerVisible ? 'bia.hideController' : 'bia.showController')
          | translate
      }}"></p-button>
    <ng-container *ngTemplateOutlet="customControlTemplate"></ng-container>
  </div>
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch">
    <button
      type="button"
      pButton
      class="p-button-outlined"
      label="{{ 'bia.back' | translate }}"
      (click)="onBack()"
      *ngIf="canBack"></button>
    <ng-container *ngTemplateOutlet="actionOnListTemplate"></ng-container>
    <button
      type="button"
      pButton
      *ngIf="canExportCSV"
      class="p-button-outlined"
      icon="pi pi-download"
      label="CSV"
      (click)="exportCSV.emit()"></button>
    <button
      type="button"
      pButton
      *ngIf="displayImportButton()"
      class="p-button-outlined"
      icon="pi pi-download"
      label="{{ 'bia.export' | translate }}"
      (click)="fullExportCSV.emit()"></button>
    <button
      type="button"
      pButton
      *ngIf="displayImportButton()"
      icon="pi pi-plus"
      class="p-button-outlined"
      label="{{ 'bia.import' | translate }}"
      (click)="import.next()"></button>
    <button
      type="button"
      pButton
      *ngIf="canAdd"
      icon="pi pi-plus"
      pTooltip="{{ 'bia.add' | translate }}"
      tooltipPosition="top"
      (click)="onCreate()"></button>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
