<app-maintenance-team-form
  *ngIf="maintenanceTeamService.crudItem$ | async; let crudItem"
  [crudItem]="crudItem"
  [fields]="crudConfiguration.fieldsConfig.columns"
  [formLayoutConfig]="crudConfiguration.formLayoutConfig"
  [dictOptionDtos]="
    (maintenanceTeamService.optionsService.dictOptionDtos$ | async) ?? []
  "
  [isCrudItemOutdated]="isCrudItemOutdated"
  (cancelled)="onCancelled()"
  (save)="onSubmitted($event)"></app-maintenance-team-form>
<bia-spinner
  *ngIf="maintenanceTeamService.loadingGet$ | async"
  [overlay]="true"></bia-spinner>
