<p-floatlabel variant="on" *ngIf="field.isSearchable === true">
  <div class="flex flex-row">
    <div class="app-field-container flex-1" style="max-width: 18px">
      <ng-container *ngIf="!isArraySimple(field) && showColumnFilter">
        @if (options) {
          <p-columnFilter
            [field]="field.field"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="field.type === propType.OneToMany ? false : true"
            [showAddButton]="field.type === propType.OneToMany ? false : true"
            [maxConstraints]="field.maxConstraints">
            <ng-template
              pTemplate="filter"
              let-value
              let-filterConstraint="filterConstraint"
              let-filter="filterCallback">
              <p-multiSelect
                [options]="options"
                optionLabel="display"
                [optionValue]="field.filterWithDisplay ? 'display' : 'id'"
                [(ngModel)]="filterConstraint.value"
                (onChange)="onMultiSelectChange(filterConstraint)">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ option.display }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        } @else {
          <p-columnFilter
            [type]="columnFilterType"
            [locale]="getDisplayNumberFormat(field.displayFormat)?.autoLocale"
            [minFractionDigits]="
              getDisplayNumberFormat(field.displayFormat)?.minFractionDigits
            "
            [maxFractionDigits]="
              getDisplayNumberFormat(field.displayFormat)?.maxFractionDigits
            "
            [currency]="
              getDisplayNumberFormat(field.displayFormat)?.mode === 'currency'
                ? getDisplayNumberFormat(field.displayFormat)?.currency
                : undefined
            "
            [currencyDisplay]="
              getDisplayNumberFormat(field.displayFormat)?.currencyDisplay
            "
            [matchModeOptions]="matchModeOptions"
            [field]="field.field"
            display="menu"
            [hideOnClear]="true"
            [maxConstraints]="field.maxConstraints">
          </p-columnFilter>
        }
      </ng-container>
    </div>
    <div class="app-field-container flex-1 flex align-items-center">
      <span *ngIf="isArrayFilter(field); let filterArray" class="displayInline">
        <ng-container *ngFor="let filter of filterArray; let last = last">
          <ng-container
            *ngIf="
              filter.value !== null ||
              filter.matchMode === 'empty' ||
              filter.matchMode === 'notEmpty'
            ">
            <ng-container [ngSwitch]="filter.matchMode">
              <ng-container *ngSwitchCase="'startsWith'">
                [{{ filter.value }}*]
              </ng-container>
              <ng-container *ngSwitchCase="'notStartsWith'">
                [!{{ filter.value }}*]
              </ng-container>
              <ng-container *ngSwitchCase="'contains'">
                <ng-container *ngIf="columnFilterType === 'boolean'">
                  [{{ 'bia.' + filter.value | translate }}]
                </ng-container>
                <ng-container *ngIf="columnFilterType !== 'boolean'">
                  [*{{ filter.value }}*]
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'notContains'">
                ![*{{ filter.value }}*]
              </ng-container>
              <ng-container *ngSwitchCase="'endsWith'">
                [*{{ filter.value }}]
              </ng-container>
              <ng-container *ngSwitchCase="'notEndsWith'">
                [!*{{ filter.value }}]
              </ng-container>
              <ng-container *ngSwitchCase="'dateIs'">
                [{{ filter.value | formatValue: field }}]
              </ng-container>
              <ng-container *ngSwitchCase="'dateIsNot'">
                [!{{ filter.value | formatValue: field }}]
              </ng-container>
              <ng-container *ngSwitchCase="'dateBefore'">
                [<{{ filter.value | formatValue: field }}]
              </ng-container>
              <ng-container *ngSwitchCase="'dateAfter'">
                [>{{ filter.value | formatValue: field }}]
              </ng-container>
              <ng-container *ngSwitchCase="'equals'">
                [={{ filter.value }}]
              </ng-container>
              <ng-container *ngSwitchCase="'notEquals'">
                [!={{ filter.value }}]
              </ng-container>
              <ng-container *ngSwitchCase="'empty'">
                [{{ 'primeng.empty' | translate }}]
              </ng-container>
              <ng-container *ngSwitchCase="'notEmpty'">
                [{{ 'primeng.notEmpty' | translate }}]
              </ng-container>
              <ng-container *ngSwitchCase="'lt'">
                [<{{ filter.value }}]
              </ng-container>
              <ng-container *ngSwitchCase="'lte'">
                [<={{ filter.value }}]
              </ng-container>
              <ng-container *ngSwitchCase="'gt'">
                [>{{ filter.value }}]
              </ng-container>
              <ng-container *ngSwitchCase="'gte'">
                [>={{ filter.value }}]
              </ng-container>
              <ng-container *ngSwitchCase="'in'">{{
                field.filterWithDisplay
                  ? filter.value
                  : getOptionsLabels(filter.value)
              }}</ng-container>
              <ng-container *ngSwitchDefault>{{
                filter.matchMode + ' ' + filter.value
              }}</ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!last">
            <ng-container *ngIf="filter.operator === 'and'"> & </ng-container>
            <ng-container *ngIf="filter.operator === 'or'"> | </ng-container>
          </ng-container>
        </ng-container>
      </span>
      <ng-container
        *ngIf="!isArrayFilter(field) && columnFilterType !== 'boolean'">
        <input
          *ngIf="columnFilterType !== 'boolean'"
          pInputText
          class="input-search"
          type="{{ field.type === propType.Number ? 'number' : 'text' }}"
          placeholder="{{
            field.searchPlaceholder !== undefined
              ? field.searchPlaceholder
              : field.isDate === true
                ? ('bia.dateIso8601' | translate)
                : ''
          }}"
          (input)="setSimpleFilter($event.target, field)"
          [value]="isSimpleFilter(table.filters[field.field])?.value ?? ''"
          [ngClass]="{
            'p-state-filled':
              isSimpleFilter(table.filters[field.field])?.value !== '',
          }" />
      </ng-container>
    </div>
  </div>
</p-floatlabel>
