<span *ngIf="col.isSearchable === true" class="p-float-label">
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="app-field-container" fxFlex="18px">
      <ng-container *ngIf="!isArraySimple(col)">
        <p-columnFilter [type]="['Date', 'DateTime'].includes(col.type)?'date':'text'" 
                        [field]="col.field" display="menu"></p-columnFilter>
      </ng-container>
    </div>
    <div class="app-field-container" fxFlex="*" >
      <span *ngIf="isArrayFilter(col)" class="displayInline">
        <ng-container *ngFor="let filter of table.filters[col.field]; let last = last" >
          <ng-container *ngIf="filter.value !== null">
            <ng-container [ngSwitch]="filter.matchMode">
              <ng-container *ngSwitchCase="'startsWith'">
                [{{ filter.value }}*]
              </ng-container>
              <ng-container *ngSwitchCase="'contains'">
                [*{{ filter.value }}*]
              </ng-container>
              <ng-container *ngSwitchCase="'notContains'">
                ![*{{ filter.value }}*]
              </ng-container>
              <ng-container *ngSwitchCase="'endsWith'">
                [*{{ filter.value }}]
              </ng-container>
              <ng-container *ngSwitchCase="'dateIs'">
                [{{ filter.value | formatValue: col }}]
              </ng-container>
              <ng-container *ngSwitchCase="'dateIsNot'">
                ![{{ filter.value | formatValue: col }}]
              </ng-container>
              <ng-container *ngSwitchCase="'dateBefore'">
                <[{{ filter.value | formatValue: col }}]
              </ng-container>
              <ng-container *ngSwitchCase="'dateAfter'">
                >[{{ filter.value | formatValue: col }}]
              </ng-container>
              <ng-container *ngSwitchDefault>{{ filter.matchMode + " " + filter.value }}</ng-container>
            </ng-container>
          </ng-container>
          <ng-container  *ngIf="!last">
            <ng-container *ngIf="filter.operator === 'and'"> & </ng-container>
            <ng-container *ngIf="filter.operator === 'or'"> | </ng-container> 
          </ng-container>
        </ng-container>
      </span>
      <ng-container *ngIf="!isArrayFilter(col)">
        <input
          pInputText
          class="input-search"
          type="{{ col.type === 'Number' ? 'number' : 'text' }}"
          placeholder="{{ col.searchPlaceholder !== undefined ? col.searchPlaceholder : col.isDate === true ? ('bia.dateIso8601' | translate) : '' }}"
          (input)="setSimpleFilter($event.target.value, col)"
          [value]="table.filters[col.field]?.value !== undefined ? table.filters[col.field]?.value:''"
          [ngClass]="{ 'p-state-filled': table.filters[col.field]?.value !== '' }"
        />
      </ng-container>
    </div>
  </div>
</span>