<app-plane-specific-form
  *ngIf="crudItemService.crudItem$ | async; let crudItem"
  [crudItem]="crudItem"
  [fields]="crudConfiguration.fieldsConfig.columns"
  [formLayoutConfig]="crudConfiguration.formLayoutConfig"
  [formReadOnlyMode]="formReadOnlyMode"
  [dictOptionDtos]="(planeService.optionsService.dictOptionDtos$ | async) ?? []"
  [isCrudItemOutdated]="isCrudItemOutdated"
  (cancelled)="onCancelled()"
  (save)="onSubmitted($event)"></app-plane-specific-form>
<bia-spinner
  *ngIf="planeService.loadingGet$ | async"
  [overlay]="true"></bia-spinner>
