/* Add your customizations of layout here */
$footerHeight: 4.5rem;

.card {
  background-color: var(--surface-ground);
}
body {
  line-height: 1.5em !important;
}

.p-toast.p-toast-top-right {
  top: 10px;
  right: 10px;
}

.layout-content-wrapper .layout-content {
  padding: 0;
  min-height: calc(100vh - 4rem - var(--footer-height));
}

.layout-content-wrapper p-breadcrumb + .layout-content {
  padding: 0;
  min-height: calc(100vh - 6.45rem - var(--footer-height));
}

.layout-container.layout-footer-overlay {
  .layout-content-wrapper .layout-content {
    padding: 0;
    min-height: calc(100vh - 4rem);
  }

  .layout-content-wrapper p-breadcrumb + .layout-content {
    padding: 0;
    min-height: calc(100vh - 6.45rem);
  }

  &.layout-horizontal {
    .layout-content-wrapper .layout-content {
      padding: 0;
      min-height: calc(100vh - 7rem);
    }

    .layout-content-wrapper p-breadcrumb + .layout-content {
      padding: 0;
      min-height: calc(100vh - 9.45rem);
    }
  }
}

.layout-container.layout-horizontal .layout-content-wrapper {
  .layout-content {
    padding: 0;
    min-height: calc(100vh - 7rem - var(--footer-height));
  }

  p-breadcrumb + .layout-content {
    padding: 0;
    min-height: calc(100vh - 9.45rem - var(--footer-height));
  }
}

.layout-container.layout-content-wrapper-fullscreen,
.layout-container.layout-content-wrapper-fullscreen.layout-footer-overlay {
  .layout-content-wrapper {
    padding-top: 0;

    .layout-content {
      min-height: 100vh;
    }
  }

  .layout-sidebar {
    height: 100%;
    top: 0;
  }
}

.layout-container.layout-content-wrapper-fullscreen.layout-horizontal,
.layout-container.layout-content-wrapper-fullscreen.layout-footer-overlay.layout-horizontal {
  .layout-content-wrapper {
    padding-top: 3rem;

    .layout-content {
      min-height: calc(100vh - 3rem);
    }
  }

  .layout-sidebar {
    height: 3rem;
    top: 0;
  }
}

@media screen and (min-width: 1729px) {
  .layout-content {
    width: 100%;
  }
}

.layout-menuitem-root-clickable {
  cursor: pointer;
  transition:
    background-color var(--transition-duration),
    box-shadow var(--transition-duration);
}

.layout-menuitem-root-clickable:hover {
  background-color: var(--menuitem-hover-bg);
}

.layout-topbar .layout-topbar-start {
  justify-content: flex-start;
  flex: 0 0 auto;
}

.layout-topbar .layout-topbar-end {
  padding: 0 0 0 2rem;
  overflow: hidden;
  gap: 2rem;

  .layout-topbar-actions-start {
    overflow: hidden;
    flex-wrap: wrap;
  }
}

.layout-footer {
  padding: 0;
  background-color: var(--footer-bg);
  color: var(--footer-item-text-color);
}

@media screen and (max-width: 991px) {
  .layout-container.layout-topbar-menu-active .layout-topbar {
    .layout-topbar-actions-start {
      margin-bottom: 1rem;
    }

    .layout-topbar-end .layout-topbar-items {
      flex: 1;
    }
  }
}

.layout-footer-button {
  position: absolute;
  top: -2rem;
  right: 0;

  width: 4rem;
  height: 2rem;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  cursor: pointer;
}

.layout-container.layout-footer-overlay-active
  .layout-footer
  .layout-footer-button {
  transform: translateX(4rem);
}

.layout-container.layout-footer-overlay-active
  .layout-footer
  .layout-footer-button
  i {
  transform: rotate(0deg);
}

.layout-container.layout-footer-overlay-active
  .layout-footer
  .layout-footer-button
  i {
  transform: rotate(180deg);
}

.layout-footer .layout-footer-button {
  transform: translateX(0);
  transition:
    transform 0.3s cubic-bezier(0, 0, 0.2, 1),
    background-color var(--transition-duration);

  i {
    transition: transform var(--transition-duration);
  }
}

.layout-container.layout-footer-overlay.layout-footer-overlay-active
  .layout-footer {
  transform: translateY(-100%);
}

.layout-container.layout-footer-overlay .layout-footer {
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.layout-footer-button {
  background-color: var(--footer-bg);
}

.layout-footer-button:hover {
  background-color: var(--footer-hover-bg);
}

.layout-container.layout-slim-plus
  .layout-topbar
  .layout-topbar-start
  .app-logo {
  margin-right: 3rem;
}

.layout-sidebar {
  width: var(--sidebar-width);
}

.layout-sidebar .layout-menu {
  .layout-menuitem-root-text .layout-submenu-toggler {
    margin-left: auto;
    transition: transform var(--transition-duration);
  }

  li.active-menuitem > .layout-menuitem-root-text .layout-submenu-toggler {
    transform: rotate(-180deg);
  }

  ul {
    overflow: hidden;
  }

  li.layout-root-menuitem.active-menuitem > a .layout-menuitem-icon {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .layout-topbar .layout-topbar-start {
    width: var(--sidebar-width);
  }

  .layout-drawer.layout-sidebar-active .layout-sidebar {
    width: var(--sidebar-width);
  }

  .layout-drawer.layout-sidebar-anchored .layout-topbar {
    padding-left: var(--sidebar-width);
  }

  .layout-drawer.layout-sidebar-anchored .layout-content-wrapper {
    margin-left: var(--sidebar-width);
  }

  .layout-reveal.layout-sidebar-anchored .layout-topbar {
    padding-left: var(--sidebar-width);
  }

  .layout-reveal.layout-sidebar-anchored .layout-content-wrapper {
    margin-left: var(--sidebar-width);
  }

  .layout-reveal .layout-sidebar {
    transform: translateX(calc((var(--sidebar-width) - 4.25rem) * -1));
  }

  .layout-container.layout-static .layout-content-wrapper {
    margin-left: var(--sidebar-width);
  }

  .layout-container.layout-static-inactive .layout-content-wrapper {
    margin-left: 0;
  }
}

.layout-menu-profile {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.layout-menu-profile-no-fill {
  max-height: 80%;
}

.p-toast.p-toast-top-right {
  top: 4.5rem;
}
