:root {
  --menu-bg: var(--p-primary-800);
  --topbar-bg: var(--p-primary-800);
  --topbar-start-bg: var(--p-primary-900);
  --topbar-menu-button-bg: var(--p-primary-300);
  --topbar-menu-button-hover-bg: var(--p-primary-400);
  --topbar-menu-button-text-color: var(--p-primary-900);
  --topbar-item-text-color: var(--p-surface-0);
  --footer-bg: var(--p-primary-800);
  --footer-hover-bg: var(--p-primary-900);
  --footer-item-text-color: var(--p-surface-0);
  --active-menuitem-text-color: var(--p-primary-color);
  --surface-ground: var(--p-surface-50);
}

:root[class*='dark-theme'] {
  --surface-ground: var(--p-surface-950);
}

.layout-menu-dark {
  --active-menuitem-text-color: var(--primary-color);
}

.layout-menu-light {
  --active-menuitem-text-color: var(--primary-color);
}
