/* Add your customizations of the theme here */
// @import './customs/forms';
// @import './customs/data';
// @import './customs/panel';
// @import './customs/menubar';
// @import './customs/button';
// @import './customs/megamenu';
// @import './customs/breadcrumb';
// @import './customs/float_label';
// @import './customs/input';
// @import './customs/paginator';
// @import './customs/badge';
// @import './customs/table';
// @import './customs/calendar';

body {
  --menu-bg: #{$biaPrimaryDisplayColor};
  --topbar-bg: #{$biaPrimaryDisplayColor};
  --topbar-start-bg: #{$biaPrimaryDarkDisplayColor};
  --topbar-menu-button-bg: #f7a92a;
  --topbar-menu-button-hover-bg: #cc8108;
  --topbar-menu-button-text-color: #{$accentDarkColor};
  --topbar-item-text-color: #{$accentTextColor};
  --footer-bg: #{$biaPrimaryDisplayColor};
  --footer-hover-bg: #{$biaPrimaryDarkDisplayColor};
  --footer-item-text-color: #{$accentTextColor};
  --surface-ground-somber: #{$biaSurfaceGroundSomber};
}

.layout-menu-dark {
  --menu-bg: #{$biaPrimaryDisplayColor};
}
