<bia-form 
  [element]="crudItem"
  [columns]="crudConfiguration.columns"
  [dictOptionDtos]="dictOptionDtos"
  (save)="onSave($event)"
  (cancel)="onCancel()"
>
  <ng-template pTemplate="specificInput" let-col="col" let-rowData="rowData" let-form="form">
    <div [formGroup]="form">
      <ng-container [ngSwitch]="col.field">
        <ng-container *ngSwitchCase="'isActive'">
          <p-checkbox binary="true" [formControlName]="col.field" label="{{ col.header | translate }}"></p-checkbox>
        </ng-container> <!-- isActive -->
        <ng-container *ngSwitchCase="'capacity'">
          <span class="p-float-label">
            <input [formControlName]="col.field" type="number" pInputText style="width: 100%;" />
            <label><span class="bia-star-mandatory" *ngIf="col.isRequired">*</span>{{ col.header | translate }}</label>
          </span>
        </ng-container> <!-- capacity -->
      </ng-container>
    </div>
  </ng-template>
</bia-form>