<bia-form
  [element]="crudItem"
  [fields]="fields"
  [formLayoutConfig]="formLayoutConfig"
  [formValidators]="formValidators"
  [dictOptionDtos]="dictOptionDtos"
  [disableSubmitButton]="isEditingEngines"
  [showSubmitButton]="showSubmitButton"
  [formReadOnlyMode]="formReadOnlyMode"
  (save)="onSave($event)"
  (cancelled)="onCancel()"
  (readOnlyChanged)="onReadOnlyChanged($event)">
  <ng-template pTemplate="specificInput" let-field="field" let-form="form">
    <div [formGroup]="form">
      @switch (field.field) {
        @case ('isActive') {
          <div class="flex items-center">
            <p-checkbox
              binary="true"
              [formControlName]="field.field"></p-checkbox>
            <label class="ml-2">{{ field.header | translate }}</label>
          </div>
        }
        @case ('connectingAirports') {
          <div>
            <p-floatlabel variant="on">
              <p-multiSelect
                [formControlName]="field.field"
                [options]="getOptionDto(field.field)"
                optionLabel="display"
                plane
                datakey="id"
                appendTo="body"
                [showClear]="true"
                [style]="{ width: '100%' }"
                scrollHeight="50vh"
                [maxSelectedLabels]="7"></p-multiSelect>
              <label>
                @if (field.isRequired) {
                  <span class="bia-star-mandatory">*</span>
                }
                {{ field.header | translate }}</label
              >
            </p-floatlabel>
          </div>
        }
        @case ('capacity') {
          <p-floatlabel variant="on">
            <input
              [formControlName]="field.field"
              type="number"
              pInputText
              style="width: 100%" />
            <label>
              @if (field.isRequired) {
                <span class="bia-star-mandatory">*</span>
              }
              {{ field.header | translate }}</label
            >
          </p-floatlabel>
        }
      }
    </div>
    @if (field.field === 'engines') {
      <bia-table-header
        [headerTitle]="field.header | translate"
        [canAdd]="false"
        [canDelete]="true"
        [canClone]="true"
        (delete)="onDeleteEngines()"
        [selectedElements]="selectedEngines"
        (clone)="onCloneEngines()"></bia-table-header>
      <app-engine-specific-table
        [elements]="displayedEngines()"
        [configuration]="engineCrudConfig"
        [columnToDisplays]="engineColumnsToDisplay"
        [dictOptionDtos]="[]"
        [totalRecord]="crudItem?.engines?.length ?? 0"
        [paginator]="false"
        [showColSearch]="false"
        [canEdit]="true"
        [canAdd]="true"
        [canSelectElement]="true"
        [loading]="false"
        [readOnly]="isEngineTableReadOnly"
        (selectedElementsChanged)="onSelectedEnginesChanged($event)"
        (save)="onEngineSave($event)"
        (isEditing)="onIsEditingChange($event)" />
    }
  </ng-template>
</bia-form>
