<bia-form
  [element]="crudItem"
  [fields]="fields"
  [formValidators]="formValidators"
  [dictOptionDtos]="dictOptionDtos"
  (save)="onSave($event)"
  (cancelled)="onCancel()">
  <ng-template pTemplate="specificInput" let-field="field" let-form="form">
    <div [formGroup]="form">
      <ng-container [ngSwitch]="field.field">
        <ng-container *ngSwitchCase="'isActive'">
          <p-checkbox
            binary="true"
            [formControlName]="field.field"
            label="{{ field.header | translate }}"></p-checkbox>
        </ng-container>
        <!-- isActive -->
        <ng-container *ngSwitchCase="'capacity'">
          <span class="p-float-label">
            <input
              [formControlName]="field.field"
              type="number"
              pInputText
              style="width: 100%" />
            <label
              ><span class="bia-star-mandatory" *ngIf="field.isRequired">*</span
              >{{ field.header | translate }}</label
            >
          </span>
        </ng-container>

        <!-- capacity -->
      </ng-container>
    </div>
    <ng-container *ngIf="field.field === 'engines'">
      <bia-table-header
        [headerTitle]="field.header | translate"
        [canAdd]="false"
        [canDelete]="true"
        (delete)="onDeleteEngines()"
        [selectedElements]="selectedEngines"></bia-table-header>
      <span class="p-float-label">
        <app-engine-specific-table
          [elements]="displayedEngines()"
          [configuration]="engineCrudConfig"
          [columnToDisplays]="engineColumnsToDisplay"
          [dictOptionDtos]="[]"
          [totalRecord]="crudItem?.engines?.length ?? 0"
          [paginator]="false"
          [showColSearch]="false"
          [canEdit]="true"
          [canAdd]="true"
          [canSelectElement]="true"
          [loading]="false"
          (selectedElementsChanged)="onSelectedEnginesChanged($event)"
          (save)="onEngineSave($event)" />
      </span>
    </ng-container>
  </ng-template>
</bia-form>
