.banner-message-container {
  height: 2.5rem;
  max-height: 2.5rem;
  display: flex;
  background: var(--p-surface-200);
  white-space: nowrap;
  font-family: 'oswald-light';
  user-select: none;

  .banner-message-title {
    box-shadow: 5px 0 10px -2px rgba(0, 0, 0, 0.15);
    padding: 0rem 0.8rem;
    font-weight: bold;
    align-content: center;
    z-index: 1;

    .icon-title {
      font-size: 1rem;
      margin-left: 0.5rem;
    }
  }

  .banner-message-content-container {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--p-surface-300);

    .banner-message-content {
      width: 100%;
      animation: scroll-left linear infinite;
      animation-duration: 60s;
    }
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

:host-context(html.dark-theme) {
  .banner-message-container {
    background: var(--p-surface-300);
    .banner-message-content-container {
      background: var(--p-surface-400);
    }
  }
}

:host ::ng-deep {
  .banner-message-separator {
    margin: 0rem 0.9rem;
    font-size: 1.3rem;
    color: var(--p-slate-600);
  }

  .banner-message-icon {
    margin-right: 0.4rem;
    font-size: 1.2rem;
    vertical-align: baseline;

    &-info {
      @extend .banner-message-icon;
      color: var(--p-blue-600);
    }

    &-warning {
      @extend .banner-message-icon;
      color: var(--p-yellow-600);
    }
  }
}
