.banner-message-container {
  height: 2.5rem;
  max-height: 2.5rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.banner-message-content {
  width: 100%;
  display: inline-block;
  animation: scroll-left linear infinite;
  animation-duration: 40s;
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
