<div fxLayout fxLayout.xs="column" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <bia-table-header
      [headerTitle]="'crudItem.listOf' | translate"
      [canAdd]="canAdd && !crudConfiguration.useCalcMode"
      [canDelete]="canDelete"
      [canExportCSV]="true"
      (create)="onCreate()"
      (exportCSV)="onExportCSV()"
      (delete)="onDelete()"
      [selectedElements]="selectedCrudItems"
    ></bia-table-header>
    <bia-table-controller
      [defaultPageSize]="defaultPageSize"
      [length]="totalCount$ | async"
      [columns]="columns"
      [columnToDisplays]="displayedColumns"
      (displayedColumnsChange)="displayedColumnsChanged($event)"
      (filter)="searchGlobalChanged($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      (toggleSearch)="onToggleSearch()"
      (viewChange)="onViewChange($event)"
      [tableStateKey]="tableStateKey"
      [tableState]="tableState"
      [useViewTeamWithTypeId]="useViewTeamWithTypeId"
    >
      <ng-template pTemplate="customControl">
        <div fxLayout="row" fxLayoutGap="20px" class="bia-table-controller-container">
          <i class="pi pi-table bia-pointer" [class]="crudConfiguration.useCalcMode?'enable':'disabled'" 
          (click)="useClacModeChange(!crudConfiguration.useCalcMode)" 
          pTooltip="{{ 'bia.useCalcMode' | translate }}" tooltipPosition="top" ></i>
          <i class="pi pi-eye bia-pointer" [class]="crudConfiguration.useView?'enable':'disabled'" 
          (click)="useViewChange(!crudConfiguration.useView)"
          pTooltip="{{ 'bia.useView' | translate }}" tooltipPosition="top" ></i>
          <i class="pi pi-sync bia-pointer" [class]="crudConfiguration.useSignalR?'enable':'disabled'" 
          (click)="useSignalRChange(!crudConfiguration.useSignalR)"
          pTooltip="{{ 'bia.useSignalR' | translate }}" tooltipPosition="top" ></i>  
        </div>
      </ng-template>
    </bia-table-controller>
    <bia-table
      *ngIf="!crudConfiguration.useCalcMode"
      [elements]="crudItems$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="crudConfiguration.fieldsConfig"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canClickRow]="canEdit"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (clickRow)="onEdit($event)"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      (stateSave)="onStateSave($event)"
    ></bia-table>
    <bia-crud-item-table
      *ngIf="crudConfiguration.useCalcMode"
      [elements]="crudItems$ | async"
      [dictOptionDtos]="crudItemService.optionsService.dictOptionDtos$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="crudConfiguration.fieldsConfig"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canEdit]="canEdit"
      [canAdd]="canAdd"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      (stateSave)="onStateSave($event)"
      (save)="onSave($event)"
    ></bia-crud-item-table>
  </div>
</div>
