<div fxLayout fxLayout.xs="column" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <bia-table-header
      [headerTitle]="'crudItem.listOf' | translate"
      [canAdd]="canAdd && !crudConfiguration.useCalcMode"
      [canDelete]="canDelete"
      [canExportCSV]="true"
      (create)="onCreate()"
      (exportCSV)="onExportCSV()"
      (delete)="onDelete()"
      [selectedElements]="selectedCrudItems"
    ></bia-table-header>
    <bia-table-controller
      [defaultPageSize]="defaultPageSize"
      [length]="totalCount$ | async"
      [columns]="columns"
      [columnToDisplays]="displayedColumns"
      (displayedColumnsChange)="displayedColumnsChanged($event)"
      (filter)="searchGlobalChanged($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      (toggleSearch)="onToggleSearch()"
      (viewChange)="onViewChange($event)"
      [tableStateKey]="tableStateKey"
      [tableState]="tableState"
      [useViewTeamWithTypeId]="useViewTeamWithTypeId"
    ></bia-table-controller>
    <bia-table
      *ngIf="!crudConfiguration.useCalcMode"
      [elements]="crudItems$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="tableConfiguration"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canClickRow]="canEdit"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (clickRow)="onEdit($event)"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      (stateSave)="onStateSave($event)"
    ></bia-table>
    <app-crud-item-table
      *ngIf="crudConfiguration.useCalcMode"
      [elements]="crudItems$ | async"
      [dictOptionDtos]="crudItemOptionsService.dictOptionDtos$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="tableConfiguration"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canEdit]="canEdit"
      [canAdd]="canAdd"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      (stateSave)="onStateSave($event)"
      (save)="onSave($event)"
    ></app-crud-item-table>
  </div>
</div>
