<div>
  <div [ngClass]="{ 'table-compact': crudConfiguration.useCompactMode }">
    <bia-table-header
      [headerTitle]="'crudItem.listOf' | translate"
      [canAdd]="canAdd && !crudConfiguration.useCalcMode"
      [canDelete]="canDelete"
      [canExportCSV]="true"
      (create)="onCreate()"
      (exportCSV)="onExportCSV('bia.crud.listOf')"
      (delete)="onDelete()"
      [selectedElements]="selectedCrudItems"
      [showTableControllerButton]="crudConfiguration.useCompactMode ?? false"
      [tableControllerVisible]="showTableController"
      (toggleTableControllerVisibility)="
        toggleTableControllerVisibility()
      "></bia-table-header>
    <bia-table-controller
      [ngClass]="{ 'table-controller-hidden': !showTableController }"
      [defaultPageSize]="defaultPageSize"
      [columns]="columns"
      [columnToDisplays]="displayedColumns"
      (displayedColumnsChange)="displayedColumnsChanged($event)"
      (filter)="searchGlobalChanged($event)"
      (toggleSearch)="onToggleSearch()"
      (viewChange)="onViewChange($event)"
      [tableStateKey]="tableStateKey"
      [tableState]="tableState"
      [defaultViewPref]="defaultViewPref"
      [useViewTeamWithTypeId]="useViewTeamWithTypeId"
      [hasColumnFilter]="hasColumnFilter">
      <ng-template pTemplate="customControl">
        <div class="flex flex-row gap-3 bia-table-controller-container">
          <i
            class="pi pi-table bia-pointer"
            [class]="crudConfiguration.useCalcMode ? 'enable' : 'disabled'"
            (click)="useCalcModeChange(!crudConfiguration.useCalcMode)"
            pTooltip="{{ 'bia.useCalcMode' | translate }}"
            tooltipPosition="top"></i>
          <i
            class="pi pi-eye bia-pointer"
            [class]="crudConfiguration.useView ? 'enable' : 'disabled'"
            (click)="useViewChange(!crudConfiguration.useView)"
            pTooltip="{{ 'bia.useView' | translate }}"
            tooltipPosition="top"></i>
          <i
            class="pi pi-sync bia-pointer"
            [class]="crudConfiguration.useSignalR ? 'enable' : 'disabled'"
            (click)="useSignalRChange(!crudConfiguration.useSignalR)"
            pTooltip="{{ 'bia.useSignalR' | translate }}"
            tooltipPosition="top"></i>
          <i
            class="pi pi-clone bia-pointer"
            [class]="crudConfiguration.usePopup ? 'enable' : 'disabled'"
            (click)="usePopupChange(!crudConfiguration.usePopup)"
            pTooltip="{{ 'bia.usePopup' | translate }}"
            tooltipPosition="top"></i>
          <i
            class="pi pi-arrow-down-left-and-arrow-up-right-to-center bia-pointer"
            [class]="crudConfiguration.useCompactMode ? 'enable' : 'disabled'"
            (click)="useCompactModeChange(!crudConfiguration.useCompactMode)"
            pTooltip="{{ 'bia.useCompactMode' | translate }}"
            tooltipPosition="top"></i>
          <i
            class="pi pi-arrows-v bia-pointer"
            [class]="crudConfiguration.useVirtualScroll ? 'enable' : 'disabled'"
            (click)="
              useVirtualScrollChange(!crudConfiguration.useVirtualScroll)
            "
            pTooltip="{{ 'bia.useVirtualScroll' | translate }}"
            tooltipPosition="top"></i>
        </div>
      </ng-template>
    </bia-table-controller>
    <bia-table
      *ngIf="!crudConfiguration.useCalcMode"
      [elements]="
        crudConfiguration.useVirtualScroll
          ? virtualCrudItems
          : ((crudItems$ | async) ?? [])
      "
      [elements]="(crudItems$ | async) ?? []"
      [totalRecord]="(totalCount$ | async) ?? 0"
      [columnToDisplays]="displayedColumns"
      [reorderableColumns]="reorderableColumns"
      [pageSize]="pageSize"
      (pageSizeChange)="onPageSizeChange($event)"
      [configuration]="crudConfiguration.fieldsConfig"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canClickRow]="canEdit"
      [canSelectElement]="canDelete"
      [loading]="(loading$ | async) ?? false"
      (clickRowId)="onClickRow($event)"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      [scrollHeightValue]="getFillScrollHeightValue()"
      (stateSave)="onStateSave($event)"
      [virtualScroll]="crudConfiguration.useVirtualScroll"
      [rowHeight]="defaultRowHeight"></bia-table>
    <bia-crud-item-table
      *ngIf="crudConfiguration.useCalcMode"
      [elements]="
        crudConfiguration.useVirtualScroll
          ? virtualCrudItems
          : ((crudItems$ | async) ?? [])
      "
      [dictOptionDtos]="
        (crudItemService.optionsService.dictOptionDtos$ | async) ?? []
      "
      [totalRecord]="(totalCount$ | async) ?? 0"
      [columnToDisplays]="displayedColumns"
      [reorderableColumns]="reorderableColumns"
      [pageSize]="pageSize"
      (pageSizeChange)="onPageSizeChange($event)"
      [configuration]="crudConfiguration.fieldsConfig"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canEdit]="canEdit"
      [canAdd]="canAdd"
      [canSelectElement]="canDelete"
      [loading]="(loading$ | async) ?? false"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      [sortFieldValue]="sortFieldValue"
      (stateSave)="onStateSave($event)"
      (save)="onSave($event)"
      [virtualScroll]="crudConfiguration.useVirtualScroll"
      [rowHeight]="defaultRowHeight"></bia-crud-item-table>
  </div>
</div>
