<form (submit)="onSubmit()" class="flex flex-col" [formGroup]="form">
  <div class="flex flex-row justify-center">
    <div class="app-field-container flex-1" style="max-width: 90%">
      <span class="p-float-label">
        <input
          formControlName="msn"
          type="text"
          pInputText
          maxlength="64"
          style="width: 100%" />
        <label
          ><span class="bia-star-mandatory">*</span
          >{{ 'plane.msn' | translate }}</label
        >
      </span>
    </div>
  </div>
  <div class="flex flex-row justify-center">
    <div class="app-field-container flex-1" style="max-width: 90%">
      <p-checkbox
        binary="true"
        formControlName="isActive"
        ariaLabel="{{ 'plane.isActive' | translate }}"></p-checkbox>
    </div>
  </div>
  <div class="flex flex-row justify-center">
    <div class="app-field-container flex-1" style="max-width: 90%">
      <span class="p-float-label">
        <p-date-picker
          biaLocale
          formControlName="lastFlightDate"
          [showTime]="true"
          placeholder="DateTime"
          dateFormat="yy-mm-dd"
          placeholder="&nbsp;"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"></p-date-picker>
        <label>{{ 'plane.lastFlightDate' | translate }}</label>
      </span>
    </div>
  </div>
  <div class="flex flex-row justify-center">
    <div class="app-field-container flex-1" style="max-width: 90%">
      <span class="p-float-label">
        <p-date-picker
          biaLocale
          formControlName="deliveryDate"
          placeholder="&nbsp;"
          [showButtonBar]="true"
          appendTo="body"
          dateFormat="yy-mm-dd"
          [inputStyle]="{ width: '100%' }"></p-date-picker>
        <label>{{ 'plane.deliveryDate' | translate }}</label>
      </span>
    </div>
  </div>
  <div class="flex flex-row justify-center">
    <div class="app-field-container flex-1" style="max-width: 90%">
      <span class="p-float-label">
        <p-date-picker
          formControlName="syncTime"
          [showTime]="true"
          showSeconds="true"
          [timeOnly]="true"
          placeholder="&nbsp;"
          dataType="string"
          [inputStyle]="{ width: '100%' }"
          appendTo="body"></p-date-picker>
        <label>{{ 'plane.syncTime' | translate }}</label>
      </span>
    </div>
  </div>
  <div class="flex flex-row justify-center">
    <div class="app-field-container flex-1" style="max-width: 90%">
      <span class="p-float-label">
        <input
          formControlName="capacity"
          type="number"
          pInputText
          style="width: 100%" />
        <label
          ><span class="bia-star-mandatory">*</span
          >{{ 'plane.capacity' | translate }}</label
        >
      </span>
    </div>
  </div>
  <div class="flex flex-row justify-center">
    <div class="app-field-container flex-1" style="max-width: 90%">
      <span class="p-float-label">
        <p-select
          [options]="planeTypeOptions"
          placeholder="&nbsp;"
          formControlName="planeType"
          optionLabel="display"
          datakey="id"
          [style]="{ width: '100%' }"
          [showClear]="true"
          appendTo="body"></p-select>
        <label>{{ 'plane.planeType' | translate }}</label>
      </span>
    </div>
  </div>
  <div class="flex flex-row justify-center">
    <div class="app-field-container flex-1" style="max-width: 90%">
      <span class="p-float-label">
        <p-multiSelect
          [options]="airportOptions"
          formControlName="connectingAirports"
          optionLabel="display"
          datakey="id"
          [virtualScroll]="true"
          [style]="{ width: '100%' }"
          appendTo="body"></p-multiSelect>
        <label>{{ 'plane.connectingAirports' | translate }}</label>
      </span>
    </div>
  </div>
  <div class="flex flex-row gap-1 justify-end">
    <button
      pButton
      icon="pi pi-times"
      label="{{ 'bia.cancel' | translate }}"
      type="button"
      class="p-button-outlined"
      (click)="onCancel()"></button>
    <button
      pButton
      icon="pi pi-check"
      label="{{ 'bia.save' | translate }}"
      type="submit"
      [disabled]="!form.valid"></button>
  </div>
</form>
