<ng-template
  let-footerPortal
  [ngIf]="layoutService.footerPortal$ | async"
  [ngIfElse]="classicFooter">
  <ng-template [cdkPortalOutlet]="footerPortal"></ng-template>
</ng-template>
<ng-template #classicFooter>
  <footer
    class="flex flex-1 flex-row justify-content-between align-items-center align-content-center">
    <div class="copyright">
      © 2025 {{ companyName }} v{{ frameworkVersion }}
    </div>
    <div class="logo">
      <img alt="logo" src="{{ logo }}" />
    </div>
  </footer>
</ng-template>
