h3 {
  margin-bottom: 0px;
}

.app-filter-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-search-filter {
  margin-top: -15px;
  margin-left: -35px;
  margin-bottom: -15px;
  margin-right: 35px;
}

.ui-icon-clear {
  margin-left: 12px;
  margin-right: 9px;
}
