<ng-template #template>
  <div [hidden]="hidden" class=" app-search-filter" fxFlex="{{ fxFlexValue }}">
    <button
    type="button"
    icon="pi pi-times"
    class="p-button-rounded p-button-text flat"
    pButton
    (click)="onClose()"
    pTooltip="{{ 'msg.showFilters' | translate }}"
    ></button>
    <form (submit)="onFilter()" fxLayout="column" [formGroup]="form">
      <div class="header" fxLayout="row" fxLayoutAlign="stretch center">
        <!--  <i class="pi pi-times bia-pointer" (click)="onClose()" pTooltip="{{ 'msg.hideFilters' | translate }}"></i> -->
        <h1>{{ 'bia.filters' | translate }}</h1>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="app-filter-container" fxFlex="90">
          <span class="p-float-label">
            <p-dropdown
            [options]="userOptions$ | async"
            placeholder="&nbsp;"
            formControlName="userSelected"
            optionValue="id"
            optionLabel="display"
            datakey="id"
            [style]="{ width: '100%' }"
            [showClear]="true"
            appendTo="body"
            filter=true
          ></p-dropdown>
          <label>{{ 'site.filterMember' | translate }}</label>
        </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around">
        <button
          pButton
          label="{{ 'bia.reset' | translate }}"
          fxFlex="33"
          class="p-button-outlined"
          (click)="onReset()"
        ></button>
        <button type="submit" pButton label="{{ 'bia.filter' | translate }}" fxFlex="33"></button>
        </div>
    </form>
  </div>
</ng-template>
