<div [formGroup]="form">
  <ng-container *ngIf="field.specificInput === true">
    <ng-container
      *ngTemplateOutlet="
        specificInputTemplate;
        context: { field: field, form: form }
      "></ng-container>
  </ng-container>
  <ng-container [ngSwitch]="field.type" *ngIf="field.specificInput !== true">
    <ng-container *ngSwitchCase="'OneToMany'">
      <p-dropdown
        class="bia-simple-input"
        placeholder="&nbsp;"
        [formControlName]="field.field"
        [options]="getOptionDto(field.field)"
        optionLabel="display"
        dataKey="id"
        showClear="true"
        (onChange)="onChange()"
        appendTo="body"
        [style]="{ width: '100%' }"
        [editable]="field.isEditableChoice"
        scrollHeight="50vh"></p-dropdown>
    </ng-container>
    <ng-container *ngSwitchCase="'ManyToMany'">
      <p-multiSelect
        class="bia-simple-input"
        placeholder="&nbsp;"
        [formControlName]="field.field"
        [options]="getOptionDto(field.field)"
        optionLabel="display"
        datakey="id"
        (onChange)="onChange()"
        (onPanelShow)="onComplexInput(true)"
        (onPanelHide)="onComplexInput(false)"
        appendTo="body"
        [style]="{ width: '100%' }"
        scrollHeight="50vh"></p-multiSelect>
    </ng-container>
    <ng-container *ngSwitchCase="'Boolean'">
      <p-checkbox
        class="bia-simple-input"
        [binary]="true"
        [formControlName]="field.field"
        (onChange)="onChange()"></p-checkbox>
    </ng-container>
    <ng-container *ngSwitchCase="'Number'">
      <p-inputNumber
        *ngIf="
          getDisplayNumberFormat(field.displayFormat);
          let displayNumberFormat
        "
        [formControlName]="field.field"
        (onInput)="onChange()"
        [mode]="displayNumberFormat.mode"
        [currency]="displayNumberFormat.currency"
        [minFractionDigits]="displayNumberFormat.minFractionDigits"
        [maxFractionDigits]="displayNumberFormat.maxFractionDigits"
        [min]="displayNumberFormat.min"
        [max]="displayNumberFormat.max"
        [locale]="displayNumberFormat.autoLocale || 'en-US'" />
    </ng-container>
    <ng-container *ngSwitchCase="'Date'">
      <p-calendar
        biaLocale
        [formControlName]="field.field"
        placeholder="&nbsp;"
        [showButtonBar]="true"
        (onShow)="onComplexInput(true)"
        (onSelect)="onChange()"
        (onClearClick)="onChange()"
        (onClose)="onComplexInput(false)"
        appendTo="body"
        (onInput)="onChange()"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [dateFormat]="
          getDisplayDateFormat(field.displayFormat)?.autoPrimeDateFormat ??
          'yy-mm-dd'
        "></p-calendar>
    </ng-container>
    <ng-container *ngSwitchCase="'Time'">
      <p-calendar
        biaLocale
        [formControlName]="field.field"
        placeholder="&nbsp;"
        (onShow)="onComplexInput(true)"
        (onSelect)="onChange()"
        (onClearClick)="onChange()"
        (onClose)="onComplexInput(false)"
        appendTo="body"
        (onInput)="onChange()"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [showTime]="true"
        [timeOnly]="true"
        [dateFormat]="
          getDisplayDateFormat(field.displayFormat)?.autoPrimeDateFormat ??
          'yy-mm-dd'
        "
        [hourFormat]="'24'"></p-calendar>
      <!-- [hourFormat]="field.displayFormat.autoHourFormat?field.displayFormat.autoHourFormat:24" not work for 12 (PrimeNG 13)-->
    </ng-container>
    <ng-container *ngSwitchCase="'TimeOnly'">
      <p-calendar
        biaLocale
        [formControlName]="field.field"
        placeholder="&nbsp;"
        (onShow)="onComplexInput(true)"
        (onSelect)="onChange()"
        (onClearClick)="onChange()"
        (onClose)="onComplexInput(false)"
        appendTo="body"
        (onInput)="onChange()"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [showTime]="true"
        dataType="string"
        [timeOnly]="true"
        [hourFormat]="'24'"></p-calendar>
      <!-- [hourFormat]="field.displayFormat.autoHourFormat?field.displayFormat.autoHourFormat:24" not work for 12 (PrimeNG 13)-->
    </ng-container>
    <ng-container *ngSwitchCase="'TimeSecOnly'">
      <p-calendar
        biaLocale
        [formControlName]="field.field"
        placeholder="&nbsp;"
        (onShow)="onComplexInput(true)"
        (onSelect)="onChange()"
        (onInput)="onChange()"
        (onClearClick)="onChange()"
        (onClose)="onComplexInput(false)"
        appendTo="body"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [showTime]="true"
        showSeconds="true"
        dataType="string"
        [timeOnly]="true"
        [hourFormat]="'24'"></p-calendar>
      <!-- [hourFormat]="field.displayFormat.autoHourFormat?field.displayFormat.autoHourFormat:24" not work for 12 (PrimeNG 13)-->
    </ng-container>
    <ng-container *ngSwitchCase="'DateTime'">
      <p-calendar
        biaLocale
        [formControlName]="field.field"
        placeholder="&nbsp;"
        [showButtonBar]="true"
        (onShow)="onComplexInput(true)"
        (onSelect)="onChange()"
        (onClearClick)="onChange()"
        (onClose)="onComplexInput(false)"
        appendTo="body"
        (onInput)="onChange()"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [showTime]="true"
        [dateFormat]="
          getDisplayDateFormat(field.displayFormat)?.autoPrimeDateFormat ??
          'yy-mm-dd'
        "
        [hourFormat]="
          getDisplayDateFormat(
            field.displayFormat
          )?.autoHourFormat?.toString() ?? '24'
        "></p-calendar>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <input
        class="bia-simple-input"
        pInputText
        type="text"
        [maxlength]="field.maxlength"
        [formControlName]="field.field"
        (change)="onChange()" />
    </ng-container>
  </ng-container>
  <span *ngIf="field.isRequired" class="bia-star-mandatory">*</span>
</div>
