<p-fileUpload
  mode="basic"
  chooseLabel="Choose"
  chooseIcon="pi pi-upload"
  [customUpload]="true"
  accept="text/csv"
  maxFileSize="1000000"
  (onSelect)="onFileSelected($event)"></p-fileUpload>
<br />

<ng-container *ngIf="bulkData">
  <p-accordion class="w-full">
    <p-accordionTab *ngIf="canUseDelete() === true">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <i class="pi pi-trash mr-2"></i>
          <span class="vertical-align-middle">To Delete</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <p class="m-0">
          <bia-table
            [elements]="bulkData.toDeletes"
            [paginator]="false"
            [totalRecord]="bulkData.toDeletes.length"
            [columnToDisplays]="displayedColumns"
            [pageSize]="bulkData.toDeletes.length"
            [configuration]="crudConfiguration.fieldsConfig"
            [showColSearch]="false"
            [globalSearchValue]=""
            [canClickRow]="false"
            [canSelectElement]="false"
            [loading]="false"
            scrollHeightValue="calc( 100vh - 440px)"
            [isScrollable]="true"></bia-table>
        </p>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab *ngIf="canUseInsert() === true">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <i class="pi pi-plus mr-2"></i>
          <span class="vertical-align-middle">To Insert</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <p class="m-0">
          <bia-table
            [elements]="bulkData.toInserts"
            [paginator]="false"
            [totalRecord]="bulkData.toInserts.length"
            [columnToDisplays]="displayedColumns"
            [pageSize]="bulkData.toInserts.length"
            [configuration]="crudConfiguration.fieldsConfig"
            [showColSearch]="false"
            [globalSearchValue]=""
            [canClickRow]="false"
            [canSelectElement]="false"
            [loading]="false"
            scrollHeightValue="calc( 100vh - 440px)"
            [isScrollable]="true"></bia-table>
        </p>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab *ngIf="canUseUpdate() === true">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <i class="pi pi-sync mr-2"></i>
          <span class="vertical-align-middle">To Update</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <p class="m-0">
          <bia-table
            [elements]="bulkData.toUpdates"
            [paginator]="false"
            [totalRecord]="bulkData.toUpdates.length"
            [columnToDisplays]="displayedColumns"
            [pageSize]="bulkData.toUpdates.length"
            [configuration]="crudConfiguration.fieldsConfig"
            [showColSearch]="false"
            [globalSearchValue]=""
            [canClickRow]="false"
            [canSelectElement]="false"
            [loading]="false"
            scrollHeightValue="calc( 100vh - 440px)"
            [isScrollable]="true"></bia-table>
        </p>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab *ngIf="bulkData.errorToSaves.length > 0">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <i class="pi pi-sync mr-2"></i>
          <span class="vertical-align-middle">Error(s)</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <p class="m-0">
          <bia-table
            [elements]="bulkData.errorToSaves"
            [paginator]="false"
            [totalRecord]="bulkData.errorToSaves.length"
            [columnToDisplays]="displayedColumnErrors"
            [pageSize]="bulkData.errorToSaves.length"
            [configuration]="crudConfigurationError.fieldsConfig"
            [showColSearch]="false"
            [globalSearchValue]=""
            [canClickRow]="false"
            [canSelectElement]="false"
            [loading]="false"
            scrollHeightValue="calc( 100vh - 440px)"
            [isScrollable]="true"></bia-table>
        </p>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
  <br />

  <div class="card flex justify-content-center gap-3">
    <div class="flex align-items-center gap-1" *ngIf="canUseDelete() === true">
      <p-checkbox
        [(ngModel)]="deleteChecked"
        [binary]="true"
        inputId="chkDelete"
        [disabled]="bulkData.toDeletes.length === 0"></p-checkbox>
      <label for="chkDelete">To Delete ({{ bulkData.toDeletes.length }})</label>
    </div>

    <div class="flex align-items-center gap-1" *ngIf="canUseInsert() === true">
      <p-checkbox
        [(ngModel)]="insertChecked"
        [binary]="true"
        inputId="chkInsert"
        [disabled]="bulkData.toInserts.length === 0"></p-checkbox>
      <label for="chkInsert">To Insert ({{ bulkData.toInserts.length }})</label>
    </div>

    <div class="flex align-items-center gap-1" *ngIf="canUseUpdate() === true">
      <p-checkbox
        [(ngModel)]="updateChecked"
        [binary]="true"
        inputId="chkUpdate"
        [disabled]="bulkData.toUpdates.length === 0"></p-checkbox>
      <label for="chkUpdate">To Update ({{ bulkData.toUpdates.length }})</label>
    </div>
  </div>
  <br />
</ng-container>

<div class="flex flex-row gap-1 justify-content-end">
  <button
    pButton
    label="{{ 'bia.save' | translate }}"
    type="button"
    (click)="onSave()"></button>
  <button
    pButton
    label="{{ 'bia.cancel' | translate }}"
    type="button"
    class="p-button-outlined"
    (click)="onCancel()"></button>
</div>
