<p-dialog
  header="{{ 'user.add' | translate }}"
  [focusOnShow]="false"
  [(visible)]="_display"
  [modal]="true"
  [closable]="false"
  [responsive]="true"
  [maximizable]="true"
  [draggable]="false"
  [style]="{ minWidth: '50vw' }"
  [contentStyle]="{ overflow: 'auto' }">
  <bia-user-from-directory-form
    [users]="(usersFromDirectory$ | async) ?? []"
    [domains]="(ldapDomains$ | async) ?? []"
    (searchUsers)="onSearchUsers($event)"
    (cancelled)="onCancelled()"
    (save)="onSubmitted($event)"></bia-user-from-directory-form>
</p-dialog>
