<p-dialog
  [focusOnShow]="true"
  [(visible)]="_display"
  [modal]="true"
  [closable]="false"
  [responsive]="true"
  [maximizable]="true"
  [draggable]="false"
  [style]="{ minWidth: '50vw' }"
  [contentStyle]="{ overflow: 'auto' }">
  <p-header>
    {{ 'user.add' | translate }}
  </p-header>
  <bia-user-from-directory-form
    [users]="(usersFromDirectory$ | async) ?? []"
    [domains]="(ldapDomains$ | async) ?? []"
    (searchUsers)="onSearchUsers($event)"
    (cancel)="onCancelled()"
    (save)="onSubmitted($event)"></bia-user-from-directory-form>
</p-dialog>
