<div fxLayout fxLayout.xs="column" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <bia-table-header
      [headerTitle]="'plane.listOf' | translate"
      [canAdd]="canAdd&&!useCalcMode"
      [canDelete]="canDelete"
      [canExportCSV]="true"
      (create)="onCreate()"
      (exportCSV)="onExportCSV()"
      (delete)="onDelete()"
      [selectedElements]="selectedPlanes"
    ></bia-table-header>
    <bia-table-controller
      [defaultPageSize]="defaultPageSize"
      [length]="totalCount$ | async"
      [columns]="columns"
      [columnToDisplays]="displayedColumns"
      (displayedColumnsChange)="displayedColumnsChanged($event)"
      (filter)="searchGlobalChanged($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      (toggleSearch)="onToggleSearch()"
      (viewChange)="onViewChange($event)"
      [tableStateKey]="tableStateKey"
    ></bia-table-controller>
    <bia-table *ngIf="!useCalcMode"
      [elements]="planes$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="tableConfiguration"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canEdit]="canEdit"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (edit)="onEdit($event)"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
    ></bia-table>
    <app-plane-table *ngIf="useCalcMode"
      [elements]="planes$ | async"
      [dictOptionDtos]="planeOptionsService.dictOptionDtos$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="tableConfiguration"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canEdit]="canEdit"
      [canAdd]="canAdd"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      [tableStateKey]="tableStateKey"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
      (save)="onSave($event)"
    ></app-plane-table>
  </div>
</div>
