<div fxLayout fxLayout.xs="column" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <bia-table-header
      [headerTitle]="'airport.listOf' | translate"
      [canAdd]="canAdd"
      [canExportCSV]="true"
      (create)="onCreate()"
      (exportCSV)="onExportCSV()"
      (delete)="onDelete()"
      [selectedElements]="selectedAirports"
    ></bia-table-header>
    <bia-table-controller
      [defaultPageSize]="defaultPageSize"
      [length]="totalCount$ | async"
      [columns]="columns"
      [columnToDisplays]="displayedColumns"
      (displayedColumnsChange)="displayedColumnsChanged($event)"
      (filter)="searchGlobalChanged($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      (toggleSearch)="onToggleSearch()"
      (viewChange)="onViewChange($event)"
    ></bia-table-controller>
    <bia-table
      [elements]="airports$ | async"
      [totalRecord]="totalCount$ | async"
      [columnToDisplays]="displayedColumns"
      [pageSize]="pageSize"
      [configuration]="tableConfiguration"
      [showColSearch]="showColSearch"
      [globalSearchValue]="globalSearchValue"
      [canEdit]="canEdit"
      [canSelectElement]="canDelete"
      [loading]="loading$ | async"
      (edit)="onEdit($event)"
      (loadLazy)="onLoadLazy($event)"
      [viewPreference]="viewPreference"
      (selectedElementsChanged)="onSelectedElementsChanged($event)"
    ></bia-table>
  </div>
</div>
<!-- begin popup mode -->
<app-airport-edit-dialog></app-airport-edit-dialog>
<app-airport-new-dialog></app-airport-new-dialog>
<!-- end popup mode -->
