<form (submit)="onSubmit()" fxLayout="column" [formGroup]="form">
  <div class="p-fluid app-field-container" fxLayout="column" fxLayoutAlign="flex-start">
    <p-dropdown
      [options]="domains"
      placeholder="LDAP Domain"
      formControlName="domains"
      optionLabel="displayName"
      showClear="true"
      (onChange)="onDomainChange($event)"
      [style]="{ width: '50%' }"
    ></p-dropdown>
    <br />
    <span class="p-float-label">
      <p-autoComplete
        [multiple]="true"
        formControlName="selectedUsers"
        [suggestions]="users"
        [delay]="700"
        (completeMethod)="onSearchUsers($event)"
        [size]="30"
        [minLength]="3"
        field="displayName"
        [style]="{ width: '50%' }"
        [inputStyle]="{ width: '100%' }"
      ></p-autoComplete>
      <label>{{ 'bia.select' | translate }}</label>
    </span>
  </div>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end">
    <button pButton label="{{ 'bia.save' | translate }}" type="submit" [disabled]="!form.valid"></button>
    <button
      pButton
      label="{{ 'bia.cancel' | translate }}"
      type="button"
      class="p-button-outlined"
      (click)="onCancel()"
    ></button>
  </div>
</form>
