<form (submit)="onSubmit()" fxLayout="column" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="app-field-container" fxFlex="90">
      <span class="p-float-label">
        <input formControlName="firstName" type="text" pInputText maxlength="64" style ="width:100%" disabled ="true"/>
        <label><span class="bia-star-mandatory">*</span>{{ 'user.firstName' | translate }}</label>
      </span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="app-field-container" fxFlex="90">
      <span class="p-float-label">
        <input formControlName="lastName" type="text" pInputText maxlength="64" style ="width:100%" disabled ="true"/>
        <label><span class="bia-star-mandatory">*</span>{{ 'user.lastName' | translate }}</label>
      </span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="app-field-container" fxFlex="90">
      <span class="p-float-label">
        <input formControlName="login" type="text" pInputText maxlength="64" style ="width:100%" disabled ="true"/>
        <label><span class="bia-star-mandatory">*</span>{{ 'user.login' | translate }}</label>
      </span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="app-field-container" fxFlex="90">
      <span class="p-float-label">
        <p-multiSelect
          defaultLabel="&nbsp;"
          [options]="roleOptions"
          formControlName="roles"
          optionLabel="display"
          datakey="id"
          [virtualScroll]="true"
          [style]="{ width: '100%' }"
          appendTo="body"
        ></p-multiSelect>
        <label>{{ 'member.roles' | translate }}</label>
      </span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end end">
    <button pButton label="{{ 'bia.save' | translate }}" type="submit" [disabled]="!form.valid"></button>
    <button
      pButton
      label="{{ 'bia.cancel' | translate }}"
      type="button"
      class="p-button-outlined"
      (click)="onCancel()"
    ></button>
  </div>
</form>