<div class="header flex flex-row justify-content-between align-content-between">
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch"></div>
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch">
    <h1>Generate server errors</h1>
  </div>
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch"></div>
</div>
<div
  class="flex flex-row flex-wrap justify-content-around align-content-around">
  <button
    pButton
    type="button"
    label="Unhandled error"
    pTooltip="Unhandled error"
    tooltipPosition="top"
    severity="danger"
    (click)="onGenerateUnhandledErrorClick()"></button>
  <button
    pButton
    type="button"
    label="Handled error"
    pTooltip="Handled error"
    tooltipPosition="top"
    severity="danger"
    (click)="onGenerateHandledErrorClick()"></button>
</div>
<br />
<div class="header flex flex-row justify-content-between align-content-between">
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch"></div>
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch">
    <h1>Download file example</h1>
  </div>
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch"></div>
</div>
<div
  class="flex flex-row flex-wrap justify-content-around align-content-around">
  <button
    pButton
    type="button"
    label="Download file example"
    pTooltip="Download file example"
    tooltipPosition="top"
    (click)="onDownloadFileClick()"></button>
</div>
<br />
<div class="header flex flex-row justify-content-between align-content-between">
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch"></div>
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch">
    <h1>Examples of date display</h1>
  </div>
  <div
    class="flex flex-row gap-2 align-items-center align-content-center align-self-stretch"></div>
</div>
<div>Date formatted to locale: {{ date | localeDate }}</div>
<div>Date with time formatted to locale: {{ date | localeDate: true }}</div>
