:host {
  flex-direction: column;
}

bia-table-controller {
  margin-left: -35px;
  margin-right: -35px;
}

.pi.disabled {opacity: 0.38;}
.pi.enable {color:blue}
.bia-table-controller-container {
  padding-top: 10px;
  // padding-left: 20px;
  // padding-right: 20px;
  white-space: nowrap;
}