@use 'bia-variables';

.bia-separator {
  height: 24px;
  border-left: 1px solid;
  margin-right: 5px;
}

// classic-footer-theme
bia-classic-footer {
  color: var(--p-surface-0);
}

bia-ultima-sidebar .layout-sidebar-top .project-title {
  color: white;
}

// classic-header-theme
bia-classic-header {
  .topbar {
    background-color: var(--p-primary-800);
    color: white;
  }

  .mainbar {
    background-color: var(--p-primary-700);
  }

  .mainbar {
    .p-menubar-root-list .p-state-active {
      text-decoration: underline;
    }

    .p-menubar {
      padding: 0px;
      background-color: inherit;
    }
  }
}

.layout-topbar .layout-topbar-start .project-title {
  color: var(--p-surface-0);
}

// classic-layout-theme
bia-ultima-layout {
  .content,
  .layout-content {
    background-image:
      linear-gradient(
        color-mix(in srgb, var(--p-content-background) 60%, transparent),
        color-mix(in srgb, var(--p-content-background) 60%, transparent)
      ),
      url('../../assets/bia/img/bg-default.jpg');
  }

  &.no-padding {
    bia-classic-page-layout {
      align-items: stretch;

      div.mat-elevation-z2 {
        margin-top: 0;
        max-width: 100% !important;
        padding: 0;
        background-color: transparent;
      }
    }
  }

  &.no-margin {
    bia-page-layout.bia-flex {
      padding: 0;
    }
  }
}

.bia-classic-page-margin:not(:has(.bia-split-page-layout)) {
  background-color: var(--p-content-background);
}

// search-filter
.bia-advanced-filter {
  background-color: var(--active-menuitem-bg);
}

// bia-table-controller-theme
bia-table-controller {
  background-color: var(--active-menuitem-bg); // Same color in table
}

.bia-star-mandatory {
  color: bia-variables.$biaRed;
  margin-right: 5px;
  font-weight: bold;
}

.logo svg {
  fill: bia-variables.$biaOrange;
}

// For view
bia-view-list {
  .pi-star {
    &.ng-star-inserted {
      font-size: 0.8em;
      padding-left: 2px;
    }
  }
  .pi pi-edit {
    font-size: 1.3em;
  }
}

bia-ultima-layout {
  --footer-height: 4rem;
  --sidebar-width: 17rem;
}

.layout-container {
  &.env-dev {
    --environment-color: #{color-mix(
        in srgb,
        var(--p-surface-300) 100%,
        bia-variables.$biaBlue 100%
      )};
  }
  &.env-int {
    --environment-color: #{color-mix(
        in srgb,
        var(--p-surface-300) 100%,
        bia-variables.$biaGreen 100%
      )};
  }
  &.env-uat {
    --environment-color: #{color-mix(
        in srgb,
        var(--p-surface-300) 100%,
        bia-variables.$biaOrange 100%
      )};
  }
  &.env-pra {
    --environment-color: #{color-mix(
        in srgb,
        var(--p-surface-300) 100%,
        bia-variables.$biaRed 100%
      )};
  }
  &.env-ppd {
    --environment-color: #{color-mix(
        in srgb,
        var(--p-surface-300) 100%,
        bia-variables.$biaYellow 100%
      )};
  }
}

bia-ultima-layout bia-table-header {
  //border-bottom: solid 1px var(--surface-500);
  margin-top: -0.75rem;
  // margin-left: -2.5rem;
  // padding-left: 2.5rem;
  // margin-right: -2.5rem;
  // padding-right: 2.5rem;
  display: block;
}

.table-compact {
  position: relative;

  bia-table-header > .header {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

bia-table-controller.table-controller-hidden {
  display: none;
}

html .table-compact p-table .p-datatable .p-datatable-tbody > tr > td,
body .table-compact p-table .p-datatable .p-datatable-tbody > tr > td,
.table-compact p-table .p-datatable .p-datatable-tfoot > tr > td,
.table-compact p-table .p-datatable .p-datatable-thead > tr > th {
  padding-top: 0.12em;
  padding-bottom: 0.12em;
}

.table-compact
  p-table
  .p-datatable
  .p-datatable-scrollable-table
  > .p-datatable-tfoot {
  bottom: -0.12em;
}

.table-compact p-table .p-datatable .p-paginator,
.table-compact p-table .p-datatable .p-datatable-footer {
  padding: 0 0.75rem;
}

.table-compact bia-table-controller {
  padding-top: 0;
  padding-bottom: 0.25rem;

  --p-multiselect-padding-y: 0.25rem;
  --p-select-padding-y: 0.25rem;
  --p-inputtext-padding-y: 0.25rem;
}

.p-button.p-button-icon-only {
  padding: 0.465rem;
}

.p-button-label {
  max-width: 8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'oswald-light';
}

.p-dialog {
  max-width: 100%;

  .p-dialog-content {
    // forms button always visible
    .bia-form:has(> .bia-form-fixed-buttons) {
      padding-bottom: 1.5rem;
      .bia-form-fixed-buttons:has(> div) {
        background: var(--p-dialog-background);
        position: fixed;
        bottom: 0;
        right: 1rem;
        left: 0;
        padding: 0.75rem;
        z-index: 5;
      }
    }
    // forms header always visible
    .bia-form:has(> .bia-form-header) {
      padding-top: 2rem;
      .bia-form-header:has(> div) {
        background: var(--p-dialog-background);
        position: fixed;
        top: 3rem;
        right: 1rem;
        left: 0;
        margin: 0.75rem;
        z-index: 5;
      }
    }
  }
}

// button group using menubar
.bia-button-group {
  .p-menubar {
    background: transparent;
  }
  div {
    padding: 0rem;
    border: none;
    p-menubarsub {
      .p-menubar-root-list {
        width: auto;
        border-radius: 4px;
        flex-wrap: nowrap;
        gap: 0.5rem;

        .p-menubar-item {
          opacity: 100%;
        }
      }
    }
  }

  &-compact {
    position: relative;
    .p-menubar-button {
      display: flex;
    }
    .p-menubar-root-list {
      position: absolute;
      display: none;
      padding: 0.5rem 0;
      background: var(--p-content-background);
      border: 0 none;
      box-shadow:
        0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
      display: flex;
      flex-direction: column;
      top: 100%;
      left: 0;
      z-index: 1;
    }
  }
}

.p-breadcrumb {
  font-size: 0.9em;
}
p-breadcrumb .p-breadcrumb-separator .p-icon {
  width: 0.6rem;
  height: 0.6rem;
}
.p-breadcrumb .p-breadcrumb-list li:first-child {
  margin-left: 0.5rem;
}
.p-breadcrumb .p-breadcrumb-list li:last-child .p-breadcrumb-item-label {
  color: var(--primary-color);
}
.p-breadcrumb .p-breadcrumb-list li:last-child .p-breadcrumb-item-label {
  color: var(--primary-color);
}
.p-breadcrumb .p-breadcrumb-list li:last-child .p-breadcrumb-item-icon {
  color: var(--primary-color);
}

p-table {
  .p-sortable-column-icon {
    margin-left: 0.5rem;
  }
}

.bia-calc-form {
  p-celleditor,
  tfoot {
    input {
      width: 100%;
    }
    .p-inputtext {
      padding-left: 0.25rem !important;
      padding-right: 0.25rem !important;
    }
    .p-multiselect-label {
      padding-left: 0.25rem !important;
      padding-right: 0.25rem !important;
    }
  }
  .p-datatable-tbody,
  .p-datatable-tfoot {
    td:not(.p-datatable-frozen-column) {
      position: relative;
    }
  }

  .p-select-label {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }
}

bia-table-footer-controller .p-select-label {
  padding: 0rem var(--p-select-padding-x);
}

bia-team-selector {
  .p-multiselect.p-variant-filled {
    min-width: 12.5em;
    background-image:
      linear-gradient(to bottom, white, white),
      linear-gradient(to bottom, white, white) !important;
    padding-bottom: 2px;
    .p-multiselect-label {
      color: var(--topbar-item-text-color);
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 2px;
      padding-right: 2px;
      width: 157px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    background-color: transparent;
    .p-inputtext {
      color: white !important;
    }
  }
  .p-multiselect.p-variant-filled:not(.p-disabled) {
    &:hover,
    &.p-focus {
      background-color: transparent;
      background-image:
        linear-gradient(to bottom, white, white),
        linear-gradient(to bottom, white, white) !important;
    }
  }
  .p-multiselect-trigger-icon {
    color: white !important;
  }
  .p-multiselect-label.p-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .p-select.p-variant-filled {
    min-width: 12.5em;
    background-image:
      linear-gradient(to bottom, white, white),
      linear-gradient(to bottom, white, white) !important;
    padding-bottom: 2px;
    .p-select-label {
      color: var(--topbar-item-text-color);
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 2px;
      padding-right: 2px;
      width: 157px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    background-color: transparent;
    .p-inputtext {
      color: white !important;
    }
  }
  .p-select.p-variant-filled:not(.p-disabled) {
    &:hover,
    &.p-focus {
      background-color: transparent;
      background-image:
        linear-gradient(to bottom, white, white),
        linear-gradient(to bottom, white, white) !important;
    }
  }
  .p-select-trigger-icon {
    color: white !important;
  }
  label {
    text-wrap: nowrap;
    padding: 5px 5px 5px 0px;
  }
}

.p-datatable-filter-overlay {
  .p-datatable-filter-operator {
    border-bottom: 1px solid var(--p-content-border-color);
    padding-bottom: 0.5rem;
  }
  p-columnfilterformelement .p-variant-filled {
    border-radius: 0px !important;
  }
  .p-variant-filled:not(.p-datepicker, .p-checkbox) {
    border-color: 1px solid var(--p-select-border-color) !important;
    padding: 0.5rem;
    border-radius: var(--p-inputtext-border-radius);
    &:hover,
    &.p-focus,
    &:focus {
      border: 1px solid var(--p-select-focus-border-color) !important;
      background-image: none !important;
    }
  }
}

.searchTR {
  th {
    padding: 0.75rem 0rem !important;
    .p-inputtext {
      margin-left: 0.7rem;
    }
  }
}

bia-table-header {
  .p-badge {
    top: 7px !important;
    right: 4px !important;
  }
}

bia-table-controller {
  .p-badge {
    top: 7px !important;
    right: 6px !important;
  }
}

.p-toast-message-text {
  margin-left: 1rem;
}

.bia-tooltip-large.p-tooltip {
  .p-tooltip-text {
    width: 32rem;
  }
  .p-tooltip-arrow {
    left: 5%;
  }
}

.p-floatlabel-in .p-multiselect-label-container .p-multiselect-label {
  padding-top: 0;
}

.p-datepicker-clear-icon,
.p-inputnumber-clear-icon {
  color: var(--p-form-field-icon-color);
}

.p-dialog-content form {
  padding-top: 0.5rem;
}

bia-form-layout .p-tabs .p-tabpanel > .bia-form-row {
  padding-top: 0.5rem;
}

.bia-form-group .p-panel-content {
  padding-bottom: 0.75rem;
}

.layout-container.layout-horizontal .bia-ultima-menu {
  display: flex;
  align-items: center;
}

.layout-container.layout-horizontal .layout-menu {
  overflow: auto;
}

.layout-container.layout-horizontal .layout-menu::-webkit-scrollbar {
  display: none;
}

.p-toast.p-toast-top-right {
  top: 4.5rem !important;
}

@media screen and (min-width: 992px) {
  .layout-container.layout-slim-plus
    .layout-menu-profile
    > button
    .layout-menu-profile-avatar
    span,
  .layout-container.layout-slim
    .layout-menu-profile
    > button
    .layout-menu-profile-avatar
    span {
    display: block;
  }

  .layout-drawer
    .layout-sidebar
    .layout-menu-profile
    > button
    .layout-menu-profile-avatar {
    opacity: 0;
    white-space: nowrap;
    transition: all 0.1s;
  }

  .layout-drawer.layout-sidebar-active
    .layout-sidebar
    .layout-menu-profile
    > button
    .layout-menu-profile-avatar {
    opacity: 1;
    white-space: nowrap;
    transition: all 0.1s;
  }
}

.p-avatar.layout-menu-profile-avatar {
  background-color: var(--p-button-primary-background);
  color: var(--p-button-primary-color);
}
