// classic-footer-theme
bia-classic-footer {
  @if ($is-dark) {
    background-color: $biaMainBarColor;
  } @else {
    background-color: $biaAccentColor;
  }

  color: $biaColorOnBgAccentColor;
}

bia-ultima-side-bar .layout-sidebar-top .project-title {
  color: white;
}

// classic-header-theme
bia-classic-header {
  .topbar {
    background-color: $biaAccentColor;
    color: white;
  }

  .mainbar {
    background-color: $biaMainBarColor;
  }

  .mainbar {
    .project-title {
      @if ($is-dark) {
        color: white;
      } @else {
        color: $biaAccentColor;
      }
    }

    .p-menubar-root-list .p-state-active {
      text-decoration: underline;
    }

    .p-menubar {
      padding: 0px;
    }
  }
}

.layout-topbar .layout-topbar-start .project-title {
  color: $biaColorOnBgAccentColor;
}

// classic-layout-theme
bia-classic-layout,
bia-ultima-layout {
  .content,
  .layout-content {
    background-image: linear-gradient(
        rgba($biaBgColor, 0.6),
        rgba($biaBgColor, 0.6)
      ),
      url('../../assets/bia/img/bg-default.jpg');
  }

  &.no-margin {
    section.content {
      display: flex;
      flex-flow: column;
      bia-classic-page-layout,
      bia-ultima-page-layout {
        align-items: stretch;

        div.mat-elevation-z2 {
          margin-top: 0;
          max-width: 100% !important;
          padding: 0;
          background-color: transparent;
        }
      }
    }
  }
}
// classic-page-layout-theme
bia-classic-page-layout,
bia-ultima-page-layout {
  > div {
    background-color: $biaBgColor;
  }
}

// search-filter
.bia-advanced-filter {
  background-color: $biaBgHoverColor;
}

// bia-table-controller-theme
bia-table-controller {
  background-color: $biaBgHoverColor; // Same color in table
}

.bia-star-mandatory {
  color: $biaRed;
  margin-right: 5px;
  font-weight: bold;
}

.logo svg {
  fill: $biaOrange;
}

// For table calc mode
.bia-calc-form {
  p-celleditor,
  tfoot {
    input {
      width: 100%;
    }
    .p-inputtext {
      padding: 0 !important;
    }
    .p-multiselect-label {
      padding: 0 !important;
    }
  }
  .p-datatable-tbody,
  .p-datatable-tfoot {
    td {
      .bia-star-mandatory {
        position: absolute;
      }
    }
    td:not(.p-frozen-column) {
      position: relative;
    }
  }
}

// For view
bia-view-list {
  .pi-star {
    &.ng-star-inserted {
      font-size: 0.8em;
      padding-left: 2px;
    }
  }
  .pi pi-edit {
    font-size: 1.3em;
  }
}

bia-ultima-layout {
  --footer-height: 4rem;
}

.layout-container {
  &.env-dev {
    --topbar-start-bg: #{color-mix(
        in srgb,
        $biaMainBarColor 100%,
        $biaBlue 100%
      )};
    --menu-bg: #{color-mix(in srgb, $biaMainBarColor 100%, $biaBlue 100%)};

    .layout-menu li.active-menuitem > a {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
  &.env-int {
    --topbar-start-bg: #{color-mix(
        in srgb,
        $biaMainBarColor 100%,
        $biaGreen 100%
      )};
    --menu-bg: #{color-mix(in srgb, $biaMainBarColor 100%, $biaGreen 100%)};

    .layout-menu li.active-menuitem > a {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
  &.env-uat {
    --topbar-start-bg: #{color-mix(
        in srgb,
        $biaMainBarColor 100%,
        $biaOrange 100%
      )};
    --menu-bg: #{color-mix(in srgb, $biaMainBarColor 100%, $biaOrange 100%)};

    .layout-menu li.active-menuitem > a {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
  &.env-pra {
    --topbar-start-bg: #{color-mix(in srgb, $biaMainBarColor 100%, $biaRed 100%)};
    --menu-bg: #{color-mix(in srgb, $biaMainBarColor 100%, $biaRed 100%)};

    .layout-menu li.active-menuitem > a {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
  &.env-ppd {
    --topbar-start-bg: #{color-mix(
        in srgb,
        $biaMainBarColor 100%,
        $biaYellow 100%
      )};
    --menu-bg: #{color-mix(in srgb, $biaMainBarColor 100%, $biaYellow 100%)};

    .layout-menu li.active-menuitem > a {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

.table-compact {
  position: relative;

  bia-table-header > .header {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  bia-table-controller {
    position: absolute;
    z-index: 3;
    background: lightgrey;
    height: 0;
    box-shadow: none;
    padding: 0;

    & .bia-table-controller-container {
      visibility: hidden;
    }

    &.overlay-controller-active {
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 8px;
      padding-bottom: 17px;
      height: auto;

      box-shadow:
        0px 3px 5px rgb(0 0 0 / 6%),
        0px 7px 9px rgb(0 0 0 / 12%),
        0px 20px 25px -8px rgb(0 0 0 / 18%);

      & .bia-table-controller-container {
        visibility: visible;
      }

      .overlay-controller-button {
        i {
          transform: rotate(180deg);
        }
      }
    }

    .overlay-controller-button {
      position: absolute;
      display: inline-flex;
      z-index: 10;
      right: -0.5rem;
      top: -2.5rem;
      width: 2.5rem;
      height: 2.5rem;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      color: black;
      background-color: lightgrey;
      transition: background-color var(--transition-duration);
      cursor: pointer;

      &:hover {
        background-color: grey;
      }

      i {
        transform: rotate(0);
        transition: transform var(--transition-duration);
      }
    }
  }
}

html .table-compact p-table .p-datatable .p-datatable-tbody > tr > td,
body .table-compact p-table .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.125em 0.25em;
}
