$biaPrimaryColor: #4ec1e0;
$biaAccentColor: #0f1c28;

$biaColorOnBgAccentColor: white;
$biaBgColor: #0F1C28;
$biaMainBarColor: #072948;
$biaBgHoverColor: rgba(255, 255, 255, 0.04);
$biaFgTextColor: #fff;
$biaBorderColor: #bdbdbd;
$biaBgBreadcrumbColor: rgba(102, 102, 102, 0.2);
$biaTextBreadcrumbColor: white;

$is-dark: true;
