:host {
  flex-direction: column;
}

.html-block {
  width: 100%;
  box-sizing: border-box; // pour que padding + border restent dans les 100%
  padding: 0rem 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #f7f7f7;

  white-space: pre-wrap; // garde les retours à la ligne / espaces, mais permet le wrap
  word-break: break-word; // évite que de très longues chaînes débordent
}
