/* Common */
$textColor: $biaFgTextColor;
$textSecondaryColor: $biaFgTextColor;
// $fontSize:16px;
// $fontFamily:"Roboto","Helvetica Neue",sans-serif;
// $lineHeight:1.5em;
// $transitionDuration:.3s;
// $borderRadius:3px;
// $inputOptionPadding:.625em .875em;
// $hoverBgColor:#e8e8e8;
// $hoverTextColor:#000000;
// $activeMenuItemBadgeColor:#ffffff;
// $activeMenuItemBadgeTextColor:#212121;
$dividerColor: $biaFgTextColor; // panel border
// $letterSpacing:.25px;
// $iconPrefix: 'ui-icon';
